Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ios): fix codegen requiring cls at the bottom
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
Due: none

chore: release 3.1.0-beta.2
  package-lock.json
  package.json
Due: none

feat(ios): emit focus events when RN Screens modal is dismissed
  ios/TrueSheetViewController.mm
Due: none

fix(ios): move reset flags to viewDidDisappear
  ios/TrueSheetViewController.mm
Due: none

feat(ios): bring back transitioning realtime position
  ios/TrueSheetViewController.mm
Due: none

refactor(ios): remove unused property
  ios/TrueSheetViewController.mm
Due: none

feat(android): emit focus events when RN Screens modal is dismissed
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
Due: none

fix(android): fix crash when rotating
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): fix layout glitch when expanding to edgeToEdgeFullScreen
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): remove unused index param from emitChangePositionDelegate
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(ios): emit focus events when RN Screens modal is dismissed (#273)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  ios/TrueSheetViewController.mm
Due: none

chore: tidy
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.1.0-beta.3
  package-lock.json
  package.json
Due: none

docs: update navigation docs for focus/blur support
  docs/docs/guides/navigation/navigation.mdx
  docs/docs/reference/02-events.mdx
Due: none

fix(android): auto detent not working correctly
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): auto detent not working correctly (#275)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: release 3.1.0-beta.4
  package-lock.json
  package.json
Due: none

feat: add animated parameter to present and dismiss methods
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/reference/03-methods.mdx
  example/ios/Podfile.lock
  example/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetModule.mm
  src/TrueSheet.tsx
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

feat: add animated parameter to present and dismiss methods (#276)
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/reference/03-methods.mdx
  example/ios/Podfile.lock
  example/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetModule.mm
  src/TrueSheet.tsx
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

fix(android): handle scrollable when detent values changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

chore: release 3.1.0-beta.5
  package-lock.json
  package.json
Due: none

chore: upgrade @react-native/eslint-config to 0.82.1
  package.json
  yarn.lock
Due: none

feat: emit focus/blur events during present/dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetViewController.mm
Due: none

docs: update focus/blur events documentation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/reference/02-events.mdx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

feat(android): emit focus/blur events during present/dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): extract dismiss event helpers to reduce redundancy
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): emit position change on user-initiated dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

test: add focus/blur event callback tests
  src/__tests__/TrueSheet.test.tsx
Due: lint, prettier

fix: add animated param to mock present/dismiss methods
  src/__mocks__/index.js
Due: none

feat: emit focus/blur events during present/dismiss (#278)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/reference/02-events.mdx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
  src/__mocks__/index.js
  src/__tests__/TrueSheet.test.tsx
Due: lint, prettier

chore: release 3.1.0-beta.6
  package-lock.json
  package.json
Due: none

feat(ios): bring back position tracking from layout
  docs/blog/2025/release-3-0.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/migration.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, prettier

chore: run tidy
  ios/TrueSheetViewController.mm
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, prettier

chore: release 3.1.0-beta.7
  package-lock.json
  package.json
Due: none

chore(android): remove unused override
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
Due: none

refactor: centralize dismiss logic and clean up code
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.1.0-beta.8
  package-lock.json
  package.json
Due: none

chore: remove support for RN 0.75 in CMakeLists.txt
  android/src/main/jni/CMakeLists.txt
Due: none

feat(android): improve slide animation to follow M3 spec
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/res/anim/true_sheet_slide_in.xml
  android/src/main/res/anim/true_sheet_slide_out.xml
Due: none

chore: release 3.1.0-beta.9
  package-lock.json
  package.json
Due: none
