Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(android): scroll to focused input within content view tree
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
Due: none

refactor(ios): centralize keyboard handling with TrueSheetKeyboardObserver
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/core/TrueSheetKeyboardObserver.h
  ios/core/TrueSheetKeyboardObserver.mm
Due: none

refactor(android): move RNScreensEventObserver to host view
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensEventObserver.kt
Due: none

fix(android): check scrollViewPinningEnabled before applying scroll view pinning
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): add enabled param to setupScrollViewPinning
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
Due: none

fix(android): remove clearContentScrollViewPinning call
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): move focus change listener to TrueSheetKeyboardObserver
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

refactor(android): make TrueSheetKeyboardObserverDelegate methods optional
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

fix(android): handle keyboard when focus moves into sheet
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat: add keyboard scroll handling for ScrollView (#442)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensEventObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/core/TrueSheetKeyboardObserver.h
  ios/core/TrueSheetKeyboardObserver.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  ios/core/TrueSheetKeyboardObserver.h
Due: none

chore: release 3.8.0-beta.0
  package.json
Due: none

feat: add popTo and popToTop nav options
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/profile.tsx
  example/expo/app/sheet/settings.tsx
  ios/TrueSheetModule.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/mocks/index.ts
  src/mocks/reanimated.ts
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/types.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

feat: add popTo and popToTop nav options
  docs/docs/guides/navigation.mdx
  docs/docs/reference/03-methods.mdx
Due: none

refactor(ios): simplify scrollview pinning to bottom-only
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetViewController.mm
Due: none

perf(ios): return cached pinned scroll view in findScrollView
  ios/TrueSheetContentView.mm
Due: none

refactor(ios): clean up TrueSheetContentView
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: none

refactor: rename scrollViewPinning to scrollable
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
Due: lint, prettier

docs: update CHANGELOG
  CHANGELOG.md
Due: none

refactor(ios): simplify scrollview handling (#446)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix: use measured footer height for keyboard scroll offset
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: lint, prettier

docs: add changelog entry for #451
  CHANGELOG.md
Due: none

feat: add native cascade dismiss api
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/reference/03-methods.mdx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/mocks/index.ts
  src/mocks/reanimated.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

feat(navigation): add popTo and popToTop methods
  docs/docs/guides/navigation.mdx
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/profile.tsx
  example/expo/app/sheet/settings.tsx
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/types.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: update changelog
  CHANGELOG.md
Due: none

docs: add scrollToEnd workaround for scrollable sheets
  docs/docs/guides/scrolling.mdx
Due: none

chore: release 3.8.0-beta.1
  package.json
Due: none

feat(example): add FlashList and LegendList sheet examples
  example/bare/package.json
  example/expo/app.json
  example/expo/package.json
  example/shared/package.json
  example/shared/src/components/sheets/FlashListSheet.tsx
  example/shared/src/components/sheets/LegendListSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/StandardScreen.tsx
  yarn.lock
Due: lint, types, prettier

refactor(ios): use yoga layout for container dimensions
  example/bare/ios/Podfile.lock
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
Due: lint, prettier

chore: remove log and update changelog
  CHANGELOG.md
  src/TrueSheet.tsx
Due: lint, prettier

refactor: use absoluteFill for sheet styles
  src/TrueSheet.tsx
Due: lint, prettier

refactor(ios): use yoga layout for container dimensions (#457)
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
Due: lint, prettier

docs: add transformIgnorePatterns to jest setup
  docs/docs/guides/jest.mdx
Due: none

docs: fix changelog PR reference
  CHANGELOG.md
Due: none

docs: add transformIgnorePatterns to jest setup (#458)
  CHANGELOG.md
  docs/docs/guides/jest.mdx
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
