Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

chore: update changelog
  CHANGELOG.md
Due: none

refactor: move accessibility string defaults to JS side
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  ios/TrueSheetView.mm
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.tsx
Due: lint, prettier

refactor: define accessibility string defaults in codegen spec and use generated struct on iOS
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: add accessibilityOptions prop for customizing accessibility strings (#770)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: release 4.0.0-beta.1
  ios/TrueSheetContentView.mm
  package.json
Due: none

docs: simplify v4 changelog to changes relative to v3
  CHANGELOG.md
Due: none

docs: require concise changelog entries in agent instructions
  AGENTS.md
Due: none

feat: migrate navigator to standard-navigation
  docs/docs/guides/jest.mdx
  docs/docs/guides/navigation.mdx
  docs/docs/migration.mdx
  example/bare/package.json
  example/expo/app/sheet/(home)/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/details.tsx
  example/expo/app/sheet/notifications.tsx
  example/expo/app/sheet/profile.tsx
  example/expo/app/sheet/settings.tsx
  package.json
  src/mocks/navigation.ts
  src/mocks/navigationExpoRouter.ts
  src/navigation/TrueSheetNavigatorContent.tsx
  src/navigation/TrueSheetRouter.ts
  src/navigation/__tests__/createTrueSheetRouter.test.ts
  src/navigation/actions.ts
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/index.ts
  src/navigation/index.ts
  src/navigation/navigator.ts
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/types.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
  src/navigation/useTrueSheetNavigation.ts
  tsconfig.json
  yarn.lock
Due: lint, types, prettier

docs: add changelog entry
  CHANGELOG.md
Due: none

chore: make standard-navigation an optional peer dependency
  CHANGELOG.md
  docs/docs/guides/navigation.mdx
  docs/docs/migration.mdx
  example/bare/package.json
  example/expo/package.json
  package.json
  yarn.lock
Due: none

chore: add footer to expo navigator example
  example/expo/app/sheet/details.tsx
Due: lint, prettier

chore: update podfile lock
  example/bare/ios/Podfile.lock
Due: none

fix: footer resizing during initial present in navigator sheets
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

revert: fix footer resizing during initial present in navigator sheets
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

chore: add small footer repro to expo and bare examples
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/(home)/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/small-footer.tsx
Due: lint, types, prettier

refactor: remove unsafe double and any typecasts
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/mocks/navigation.ts
  src/mocks/reanimated.ts
  src/navigation/__tests__/createTrueSheetRouter.test.ts
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/index.ts
  src/navigation/index.ts
  src/web/dom.ts
  src/web/vaul/helpers.ts
Due: lint, types, prettier

fix: move touch handlers to host view so sheet scrolling works
  src/TrueSheet.tsx
Due: lint, prettier

chore: changelog entry for #777
  CHANGELOG.md
Due: none

fix(android): dispatch each touch to JS once from nested sheet roots
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/TouchEventDeduper.kt
Due: none

chore: changelog entry for android touch leak fix
  CHANGELOG.md
Due: none

fix: restore sheet scrolling, and stop touch leak on Android (#777)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/TouchEventDeduper.kt
  src/TrueSheet.tsx
Due: lint, prettier

chore: regen podfile lock
  example/bare/ios/Podfile.lock
Due: none

fix(ios): keep opaque backgroundColor exact on iOS 26.1+ over full-screen presenters
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

chore: changelog
  CHANGELOG.md
Due: none

fix(ios): keep effect-only blending for translucent backgroundColor
  ios/TrueSheetViewController.mm
Due: none

refactor: always use clear color effect on ios 26.1+
  ios/TrueSheetViewController.mm
Due: none

fix(ios): keep opaque backgroundColor exact on iOS 26.1+ over full-screen presenters (#779)
  CHANGELOG.md
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

chore: release 4.0.0-beta.2
  package.json
Due: none

fix(ios): follow the iOS 26 floating threshold for the footer inset
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

feat(example): add size toggle to Footer component
  example/shared/src/components/Footer.tsx
  example/shared/src/utils/constants.ts
Due: lint, types, prettier

feat(example): add theme-aware Text component
  example/shared/src/components/Text.tsx
  example/shared/src/components/index.ts
  example/shared/src/components/sheets/NavigationSheet.tsx
Due: lint, types, prettier

chore(example): add footer to map sheet and adopt themed text
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

chore(example): themed footer palette and scroll sheet placeholder fixes
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

fix(ios): footer bottom inset for late-mounted footers
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix: present initial sheet with settled tree and correct footer inset
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
Due: lint, prettier

fix: harden initial present retry and footer inset pairing
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.cpp
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
