Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor!: rename pageSizing to presentation: 'page' | 'form' (#680)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: release 3.11.0-beta.6
  package.json
Due: none

docs: simplify unreleased web changelog entries
  CHANGELOG.md
Due: none

ci: skip changelog check for dependabot PRs
  .github/workflows/check-changelog.yml
Due: none

fix(web): run slide-up animation on autopresent in detached/form mode
  src/web/vaul/index.tsx
Due: lint, prettier

fix(web): scrollable content not scrolling in sheet
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): footer click dismissing sheet
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): grabber not draggable when header overlays it
  src/TrueSheet.web.tsx
Due: lint, prettier

refactor(web): drop scrollingExpandsSheet handleOnly mapping
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: changelog for #684
  CHANGELOG.md
Due: none

fix(web): detached/form slide-in, scroll, footer click, grabber (#684)
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

chore: release 3.11.0-beta.7
  package.json
Due: none

Fix Mac Catalyst build issue
  ios/TrueSheetViewController.mm
Due: none

commit changelog
  CHANGELOG.md
Due: none

Fix Mac Catalyst build issue (#685)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
Due: none

chore: update podfile
  example/bare/ios/Podfile.lock
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

refactor(web): simplify form-sheet clip-path; skip cascade for page child
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

fix(web): cascade target tracks immediate child only
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: changelog for #687
  CHANGELOG.md
Due: none

fix(web): clip form-sheet parent box; mirror iOS cascade rules (#687)
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

fix(web): only clip parent when its presentation is form
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): restore cascade transform animation; use WAAPI for clip-path
  src/TrueSheet.web.tsx
Due: lint, prettier

Revert "fix(web): restore cascade transform animation; use WAAPI for clip-path"
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(ios): apply pending footer height to fix recycled-view race
  CHANGELOG.md
  ios/TrueSheetFooterView.mm
Due: none

chore: add CLAUDE.md
  CLAUDE.md
Due: none

fix(ios): apply pending footer height to fix recycled-view race (#688)
  CHANGELOG.md
  ios/TrueSheetFooterView.mm
Due: none

chore: release 3.11.0-beta.8
  package.json
Due: none

Enhance resize function to track detent index changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(web): don't run cascade while dismissing so vaul's dismiss transform animates
  LICENSE
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.11.0-beta.9
  package.json
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

fix(web): center form sheet using measured drawer height
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): center form sheet using measured drawer height (#692)
  CHANGELOG.md
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.11.0-beta.10
  package.json
Due: none

fix(android): preserve resize target when content size changes mid-animation
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): preserve resize target when content size changes mid-animation (#693)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: upgrade examples to Expo SDK 56 / RN 0.85.3
  .yarn/patches/react-native-npm-0.85.3.patch
  .yarn/patches/react-native-screens-npm-4.25.2.patch
  docs/docs/troubleshooting.mdx
  example/bare/ios/Podfile.lock
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/package.json
  example/expo/app.config.ts
  example/expo/app/_layout.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/package.json
  example/shared/package.json
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  package.json
  src/web/vaul/style.css.d.ts
  tsconfig.json
  yarn.lock
Due: lint, types, prettier
