Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: auto detent now responds to dynamic content height changes
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
Due: none

refactor: use updateLayoutMetrics instead of layoutSubviews for size changes
  ios/TrueSheetContainerView.mm
Due: none

refactor: rename sizeDelegate to delegate and remove unused _layoutMetrics
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
Due: none

fix: animate detent changes and remove redundant resize calls
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

refactor: rename vars
  ios/TrueSheetModule.mm
  ios/TrueSheetView.mm
Due: none

refactor: rename FooterComponent prop to footer
  docs/docs/guides/footer.mdx
  docs/docs/reference/01-props.mdx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheetFooter.tsx
Due: lint, types, prettier

refactor: remove unused TrueSheetFooter component
  src/TrueSheetFooter.tsx
  src/__mocks__/index.js
Due: lint, prettier

refactor: expose controller and refactor child view setup
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
Due: lint, prettier

refactor: convert all inline styles to StyleSheet.create
  example/src/components/Button.tsx
  example/src/components/DemoContent.tsx
  example/src/components/Footer.tsx
  example/src/components/Input.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/ChildScreen.tsx
  example/src/screens/MapScreen.tsx
  example/src/screens/NavigationScreen.tsx
  example/src/utils/constants.ts
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheetGrabber.tsx
Due: lint, types, prettier

refactor: make TrueSheetViewController variables private
  ios/TrueSheetContainerView.mm
  ios/TrueSheetViewController.mm
Due: none

refactor: simplify TurboModule calls
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

refactor: defer native view rendering until sheet presentation
  example/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetModule.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
Due: lint, prettier

refactor: split onPresent into onWillPresent and onDidPresent events
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/reference/01-props.mdx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: store TrueSheet instances instead of handles for static methods
  src/TrueSheet.tsx
Due: lint, prettier

fix(ios): restore bottomInset calculation for proper auto detent sizing
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: lint, prettier

refactor(ios): organize utilities and modernize window handling
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
  ios/utils/WindowUtil.h
  ios/utils/WindowUtil.mm
Due: none

feat(ios): use system default corner radius when prop is not provided
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: add sheet presentedView getter
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat(ios): add position property to DetentInfo events
  example/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: update DetentInfo documentation with position property
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
Due: none

feat(android): add position property to DetentInfo events
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/reference/03-types.mdx
Due: none

fix: fix pan gesture recognizer
  ios/TrueSheetViewController.mm
Due: none

chore: update example styles
  example/src/components/Button.tsx
  example/src/components/DemoContent.tsx
  example/src/components/Spacer.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  example/src/utils/constants.ts
  src/TrueSheet.tsx
Due: lint, types, prettier

refactor: remove redundant code
  example/src/components/Footer.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
Due: lint, prettier

feat: add onPositionChange event for continuous position tracking
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/reference/01-props.mdx
  example/src/components/Footer.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/hooks/index.ts
  example/src/hooks/useDragChangeHandler.ts
  example/src/hooks/usePositionChangeHandler.ts
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/utils/LayoutUtil.h
  ios/utils/WindowUtil.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(ios): move event emission to dedicated events folder
  ios/TrueSheetView.mm
  ios/events/TrueSheetEvents.h
  ios/events/TrueSheetEvents.mm
Due: none

refactor(ios): split events into individual files for better modularity
  ios/TrueSheetView.mm
  ios/events/OnDetentChangeEvent.h
  ios/events/OnDetentChangeEvent.mm
  ios/events/OnDidPresentEvent.h
  ios/events/OnDidPresentEvent.mm
  ios/events/OnDismissEvent.h
  ios/events/OnDismissEvent.mm
  ios/events/OnDragBeginEvent.h
  ios/events/OnDragBeginEvent.mm
  ios/events/OnDragChangeEvent.h
  ios/events/OnDragChangeEvent.mm
  ios/events/OnDragEndEvent.h
  ios/events/OnDragEndEvent.mm
  ios/events/OnMountEvent.h
  ios/events/OnMountEvent.mm
  ios/events/OnPositionChangeEvent.h
  ios/events/OnPositionChangeEvent.mm
  ios/events/OnWillPresentEvent.h
  ios/events/OnWillPresentEvent.mm
  ios/events/TrueSheetEvents.h
  ios/events/TrueSheetEvents.mm
Due: none

feat: improve position change tracking and sheet animation behavior
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: lint, prettier

feat: add transition position tracking
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: lint, prettier

feat: enhance presentation lifecycle events and cleanup view management
  docs/docs/reference/01-props.mdx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnDidPresentEvent.mm
  ios/events/OnWillPresentEvent.h
  ios/events/OnWillPresentEvent.mm
  src/TrueSheet.types.ts
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: rename TrueSheetContainerView to TrueSheetContentView
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  package.json
  src/TrueSheet.tsx
  src/TrueSheetContentViewNativeComponent.ts
Due: lint, types, prettier

refactor(ios): restructure sheet architecture with container pattern
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  package.json
  src/TrueSheet.tsx
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/fabric/TrueSheetContentViewNativeComponent.ts
  src/fabric/TrueSheetFooterViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: emit onMount when container is mounted
  ios/TrueSheetView.mm
Due: none

refactor: optimize container rendering and initial presentation
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/events/OnDetentChangeEvent.mm
  ios/events/OnDidPresentEvent.mm
  ios/events/OnDismissEvent.mm
  ios/events/OnDragBeginEvent.mm
  ios/events/OnDragChangeEvent.mm
  ios/events/OnDragEndEvent.mm
  ios/events/OnMountEvent.mm
  ios/events/OnPositionChangeEvent.mm
  ios/events/OnWillPresentEvent.mm
  src/TrueSheet.tsx
Due: lint, prettier

feat: add first-class Reanimated v4 support
  docs/docs/guides/reanimated/reanimated.mdx
  example/src/components/ReanimatedExample.tsx
  example/src/hooks/index.ts
  example/src/screens/MapScreen.tsx
  package.json
  src/ReanimatedTrueSheet.tsx
  src/ReanimatedTrueSheetProvider.tsx
  src/hooks/index.ts
  src/hooks/usePositionChangeHandler.ts
  src/index.ts
  yarn.lock
Due: lint, types, prettier

refactor: simplify DetentInfo to only include index and position
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnDetentChangeEvent.h
  ios/events/OnDetentChangeEvent.mm
  ios/events/OnDidPresentEvent.h
  ios/events/OnDidPresentEvent.mm
  ios/events/OnDragBeginEvent.h
  ios/events/OnDragBeginEvent.mm
  ios/events/OnDragChangeEvent.h
  ios/events/OnDragChangeEvent.mm
  ios/events/OnDragEndEvent.h
  ios/events/OnDragEndEvent.mm
  ios/events/OnPositionChangeEvent.h
  ios/events/OnPositionChangeEvent.mm
  ios/events/OnWillPresentEvent.h
  ios/events/OnWillPresentEvent.mm
  package.json
  src/ReanimatedTrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  yarn.lock
Due: lint, types, prettier

refactor: simplify DetentInfo and improve validation
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/src/App.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix: update TrueSheetView.h method signatures to match implementation
  ios/TrueSheetView.h
Due: none

refactor: simplify DetentInfo and improve Reanimated integration
  example/src/screens/MapScreen.tsx
  example/src/utils/constants.ts
  ios/TrueSheetView.h
  package.json
  src/ReanimatedTrueSheet.tsx
  src/ReanimatedTrueSheetProvider.tsx
  src/hooks/index.ts
  src/hooks/useWillPresentHandler.ts
  yarn.lock
Due: lint, types, prettier

feat: add onWillDismiss event and rename onDismiss to onDidDismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/reference/01-props.mdx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnDidDismissEvent.h
  ios/events/OnDidDismissEvent.mm
  ios/events/OnWillDismissEvent.h
  ios/events/OnWillDismissEvent.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier
