Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

chore(example): clean up small footer sheet styling
  example/bare/src/navigators/SheetNavigator.tsx
  example/expo/app/sheet/small-footer.tsx
Due: lint, prettier

chore: release 4.0.0-beta.3
  package.json
Due: none

docs: update footer docs
  docs/versioned_docs/version-3.11.11/guides/footer.mdx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

refactor: measure auto detent natural height in shadow node
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: lint, prettier

docs: update changelog for #783
  CHANGELOG.md
Due: none

refactor: measure auto detent natural height in shadow node (#783)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: lint, prettier

refactor: remove auto bottom inset on scrollables
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
Due: lint, prettier

refactor: rename pinned scroll view to detected
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  ios/TrueSheetContainerView.h
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetContentViewNativeComponent.ts
Due: lint, types, prettier

docs: add changelog entry for #784
  CHANGELOG.md
Due: none

fix(web): don't lift detected scrollables above the bottom safe area
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(ios): drop keyboard content inset — the sheet already avoids the keyboard
  docs/docs/migration.mdx
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: none

fix(ios): apply keyboard inset only when content overflows the viewport
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: none

fix: keyboard inset stops at the keyboard edge for absolute footers
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: none

chore(example): fix PromptSheet FOOTER_HEIGHT
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

refactor: remove auto bottom inset on scrollables (#784)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetContentViewNativeComponent.ts
Due: lint, types, prettier

feat: add keyboardOffset to scrollableOptions
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/keyboard.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: changelog entry for scrollable keyboardOffset
  CHANGELOG.md
Due: none

feat: add keyboardOffset to scrollableOptions (#785)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/keyboard.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix: stop responder negotiation at sheet boundary instead of claiming it
  src/TrueSheet.tsx
Due: lint, prettier

chore: changelog entry for #786
  CHANGELOG.md
Due: none

fix: stop responder negotiation at sheet boundary instead of claiming it (#786)
  CHANGELOG.md
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): apply pointerEvents prop on host view (#781)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

chore: changelog
  CHANGELOG.md
Due: none

fix(android): apply pointerEvents prop on host view (#787)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

chore: run pod install on bare example during release
  scripts/release.sh
Due: none

feat: add prewarm prop to mount sheet content before presentation
  docs/docs/reference/01-configuration.mdx
  jest.setup.js
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/__tests__/TrueSheet.test.tsx
Due: lint, types, prettier

docs: add changelog entry for prewarm
  CHANGELOG.md
Due: none

fix(ios): retry blocked auto-present and end recycled controller sessions
  ios/TrueSheetView.mm
Due: none

fix(ios): unregister the view tag actually registered with TrueSheetModule
  ios/TrueSheetView.mm
Due: none

docs: add changelog entry for auto-present retry
  CHANGELOG.md
Due: none

feat: add scrollableRef prop for explicit scrollable wiring
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: add changelog entry
  CHANGELOG.md
Due: none

feat: add scrollableRef prop for explicit scrollable wiring (#795)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat: add scrollableOptions.contentInsetAdjustmentBehavior
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: add scrollableOptions.contentInsetAdjustmentBehavior (#796)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix: keep footer edge effect in sync with keyboard animation on iOS
  ios/TrueSheetFooterView.mm
  ios/utils/UIView+ScrollEdgeInteraction.h
  ios/utils/UIView+ScrollEdgeInteraction.mm
Due: none

fix(android): sheet stuck at stale detents after half-expanded settle
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

fix(android): parent sheet lags behind child during auto detent resize
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
