Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(android): always sync container size to Yoga when the state wrapper is assigned
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

chore: add ios-e2e agent skill (#904)
  .agents/skills/ios-e2e/SKILL.md
  .agents/skills/ios-e2e/references/frame-analysis.md
  .agents/skills/ios-e2e/references/native-debugging.md
  .agents/skills/ios-e2e/references/runtime-hooks.md
  .agents/skills/ios-e2e/scripts/sheet-hooks.js
  .agents/skills/ios-e2e/scripts/track_column.py
  .claude/skills/ios-e2e
  .gitignore
  CHANGELOG.md
Due: none

fix(android): settle the sheet with the keyboard after a content scroll
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: add changelog entry for #906
  CHANGELOG.md
Due: none

fix: keep the footer pinned when switching scrollable and regular content
  ios/TrueSheetView.mm
Due: none

fix: keep the footer inset and sheet height when re-presented after navigation
  ios/TrueSheetViewController.mm
Due: none

fix: keep the footer pinned when switching scrollable and regular content (#907)
  ios/TrueSheetView.mm
Due: none

fix: keep the footer inset and sheet height when re-presented after navigation (#908)
  ios/TrueSheetViewController.mm
Due: none

fix(android): resend container size until a committed state has it
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): always sync container size to Yoga when the state wrapper is assigned (#905)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): settle the sheet with the keyboard after a content scroll
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

chore: add changelog entry for #909
  CHANGELOG.md
Due: none

fix(android): settle the sheet with the keyboard after a content scroll (#909)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

fix: hide a sheet hosted in a tab screen when an enclosing stack pushes a screen
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensEventObserver.kt
  ios/core/RNScreensEventObserver.mm
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

feat: add dimColor and dimOpacity props
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  docs/content/docs/next/guides/dimming.mdx
  docs/content/docs/next/reference/configuration.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.web.test.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

fix(ios): dismiss a sheet unmounted while presented (v3)
  ios/TrueSheetView.mm
Due: none

chore: add changelog entry for #913
  CHANGELOG.md
Due: none

fix(ios): disable the system dim and keep the custom dim across modals
  ios/TrueSheetViewController.mm
Due: none

test: fix implicit any in the web dim test
  src/__tests__/TrueSheet.web.test.tsx
Due: lint, prettier

chore(example): use a custom dim on the basic and child sheets
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(ios): don't emit onDismissAttempt on a custom dim tap
  ios/TrueSheetViewController.mm
Due: none

fix(android): dim the background with the topmost sheet's dim
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
Due: none

docs: add co-author credit to the changelog entry
  CHANGELOG.md
Due: none

fix(ios): update the custom dim when its props change while presented
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDimView.h
  ios/core/TrueSheetDimView.mm
Due: none

docs: clarify when iOS replaces the system dim
  docs/content/docs/next/guides/dimming.mdx
Due: none

feat(ios): support dimmedDetentIndex with a custom dim
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDimView.h
  ios/core/TrueSheetDimView.mm
Due: none

docs: drop the iOS dimmedDetentIndex limitation for custom dims
  docs/content/docs/next/guides/dimming.mdx
  docs/content/docs/next/reference/configuration.mdx
  skills/truesheet-usage/references/configuration.md
Due: none

chore(example): demo dimmedDetentIndex on the basic child sheet
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix: keep a transparent dim tappable
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetViewController.mm
Due: none

fix: use the custom dim whenever dimOpacity is set
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: note the dimOpacity 0 behavior and the iOS dim layer
  README.md
  docs/content/docs/next/guides/dimming.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
Due: none

feat: add dimColor and dimOpacity props (#911)
  CHANGELOG.md
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  docs/content/docs/next/guides/dimming.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDimView.h
  ios/core/TrueSheetDimView.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.web.test.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

fix: resolve scrollableRef through scrollable accessors for composite scrollables
  CHANGELOG.md
  src/TrueSheet.tsx
  src/__tests__/TrueSheet.test.tsx
Due: lint, prettier

fix: share scrollable ref resolution between native and web
  CHANGELOG.md
  docs/content/docs/next/reference/configuration.mdx
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/scrollable.ts
Due: lint, types, prettier
