Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

chore: extend root tsconfig in expo example and fix eslint ignore
  eslint.config.mjs
  example/expo/tsconfig.json
Due: none

docs: update CONTRIBUTING.md for new example reorganization
  CONTRIBUTING.md
  package.json
Due: none

fix(expo): use patched react-native-screens for sheet presentation
  example/expo/app/(sheet)/_layout.tsx
  example/expo/app/(sheet)/details.tsx
  example/expo/app/(sheet)/index.tsx
  example/expo/app/(sheet)/settings.tsx
  example/expo/app/_layout.tsx
  example/expo/app/index.tsx
  example/expo/package.json
  yarn.lock
Due: lint, prettier

chore: tidy clean script
  scripts/clean.sh
Due: none

fix: implement TrueSheetProvider for web
  example/expo/app/_layout.tsx
  example/shared/src/components/Map.web.tsx
Due: lint, prettier

refactor(example): move TrueSheetProvider to screen level and improve web support
  docs/docs/guides/web/web.gif
  example/expo/app/(sheet)/_layout.tsx
  example/expo/app/_layout.tsx
  example/expo/app/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/details.tsx
  example/expo/app/sheet/index.tsx
  example/expo/app/sheet/settings.tsx
  example/shared/src/components/Header.tsx
  example/shared/src/components/Input.tsx
  example/shared/src/components/Map.web.tsx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  example/shared/src/screens/StandardScreen.tsx
  example/shared/src/screens/TestScreen.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): add stackBehavior prop for sheet stacking control
  docs/docs/guides/stacking/stacking.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/navigation/types.ts
Due: lint, types, prettier

docs: simplify Expo Router example with proper types
  docs/docs/guides/navigation/navigation.mdx
  example/expo/app/sheet/_layout.tsx
Due: lint, prettier

feat(web): add stackBehavior prop for sheet stacking control (#307)
  docs/docs/guides/navigation/navigation.mdx
  docs/docs/guides/stacking/stacking.mdx
  docs/docs/guides/web/web.gif
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/expo/app/(sheet)/_layout.tsx
  example/expo/app/_layout.tsx
  example/expo/app/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/details.tsx
  example/expo/app/sheet/index.tsx
  example/expo/app/sheet/settings.tsx
  example/shared/src/components/Header.tsx
  example/shared/src/components/Input.tsx
  example/shared/src/components/Map.web.tsx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  example/shared/src/screens/StandardScreen.tsx
  example/shared/src/screens/TestScreen.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/navigation/types.ts
Due: lint, types, prettier

fix(navigation): add insetAdjustment to TrueSheetNavigationOptions type
  src/navigation/types.ts
Due: lint, types, prettier

fix(navigation): add insetAdjustment to TrueSheetNavigationOptions type (#308)
  src/navigation/types.ts
Due: lint, types, prettier

chore: release 3.3.0
  package.json
Due: none

Revert "chore: release 3.3.0"
  package.json
Due: none

chore: fix release-it
  package.json
Due: none

chore: maybe fix release-it script
  package.json
Due: none

chore: release 3.3.0-beta.1
  package.json
Due: none

fix(ci): update paths after example reorganization
  .github/workflows/ci.yml
Due: none

fix(android): fix layout during rotation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
Due: none

fix: include __mocks__ in build output
  package.json
Due: none

fix: include __mocks__ in build output (#314)
  package.json
Due: none

docs: add scrollable content notes for web
  docs/docs/guides/web/web.mdx
  src/TrueSheet.web.tsx
Due: lint, prettier

fix: remove focus/blur events for external sheet presentation
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  ios/TrueSheetViewController.mm
Due: none

fix: remove focus/blur events for external sheet presentation (#316)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  ios/TrueSheetViewController.mm
Due: none

docs: update events doc
  docs/docs/reference/02-events.mdx
Due: none

fix(android): improve keyboard handling with translationY
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): remove keyboardMode prop
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/reference/01-configuration.mdx
  example/shared/src/components/sheets/BlankSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

fix(android): cap keyboard translation to screen height
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

refactor(android): add TrueSheetKeyboardHandler with API < 30 fallback
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardHandler.kt
Due: none

feat(ios): add keyboard handler for footer view
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardHandler.kt
  example/shared/src/components/sheets/BlankSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/navigation/types.ts
Due: lint, types, prettier

feat: improve keyboard handling for Android and iOS (#317)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardHandler.kt
  docs/docs/reference/01-configuration.mdx
  example/shared/src/components/sheets/BlankSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: update PromptSheet example
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: release 3.3.0-beta.2
  package.json
Due: none

fix(android): limit sheet drag bounds when keyboard is visible
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardHandler.kt
Due: none

fix(android): account for keyboard height in footer positioning
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): rename TrueSheetKeyboardHandler to TrueSheetKeyboardObserver
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

fix(android): limit sheet drag bounds when keyboard is visible (#318)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

docs: add keyboard guide
  docs/docs/guides/keyboard/keyboard.gif
  docs/docs/guides/keyboard/keyboard.mdx
Due: none

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
