Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: add iOS dismiss animation workaround to ReanimatedTrueSheet
  src/ReanimatedTrueSheet.tsx
  src/TrueSheet.types.ts
  src/hooks/index.ts
  src/hooks/useWillDismissHandler.ts
Due: lint, types, prettier

fix: correct types for dismiss event handlers
  ios/TrueSheetView.mm
  src/ReanimatedTrueSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/hooks/useWillDismissHandler.ts
Due: lint, types, prettier

fix: correct iOS method signatures and typo
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnPositionChangeEvent.h
  ios/events/OnPositionChangeEvent.mm
  src/ReanimatedTrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/hooks/index.ts
  src/hooks/usePositionChangeHandler.ts
  src/hooks/useWillDismissHandler.ts
  src/hooks/useWillPresentHandler.ts
Due: lint, types, prettier

fix: correct event types for codegen compatibility
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: rename DetentInfo to DetentInfoEventPayload
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: simplify podspec for new architecture only
  RNTrueSheet.podspec
  example/ios/Podfile.lock
Due: none

chore: modernize library setup with ESLint v9 and updated configs
  .eslintignore
  .nvmrc
  babel.config.js
  eslint.config.mjs
  example/metro.config.js
  example/package.json
  lefthook.yml
  package.json
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/fabric/TrueSheetContentViewNativeComponent.ts
  src/fabric/TrueSheetFooterViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  tsconfig.json
  turbo.json
  yarn.lock
Due: lint, types, prettier

chore: remove debug from example
  src/TrueSheet.tsx
Due: lint, prettier

docs: fix typo (#204)
  docs/docs/guides/onmount/onmount.mdx
Due: none

refactor(ios): improve position tracking and layout transition handling
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

feat(ios): add presentation state tracking for overlay controllers
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(ios): fix auto pin ScrollView
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContentView.mm
  src/TrueSheet.tsx
Due: lint, prettier

fix(ios): fix background and blur tint rendering
  ios/TrueSheetContainerView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

chore: tidy
  ios/TrueSheetContentView.mm
  ios/TrueSheetViewController.mm
Due: none

refactor(android): apply Fabric best practices and fix JVM compatibility
  QUICK_START.md
  TESTING_CHECKLIST.md
  android/build.gradle
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewModule.kt
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(android): align build config with Fabric template best practices
  android/build.gradle
Due: none

fix(example): enable New Architecture in example app
  example/android/gradle.properties
Due: none

chore: run prettier
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

refactor(android): modernize event system with decoupled event classes
  QUICK_START.md
  TESTING_CHECKLIST.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/DetentChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DidDismissEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DidPresentEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragBeginEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEndEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/MountEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/WillDismissEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/WillPresentEvent.kt
Due: none

fix(android): implement RootSheetView pattern matching React Native Modal
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/DetentChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DidDismissEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DidPresentEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragBeginEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEndEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/MountEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/WillDismissEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/WillPresentEvent.kt
Due: none

feat(android): add full Fabric state management to RootSheetView
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

refactor(android): remove legacy architecture support from RootSheetView
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

refactor(android): reorganize utilities and rename RootSheetView
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/PixelUtils.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
Due: none

chore: update GitHub Actions workflows and issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

fix(android): import missing UiThread
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): implement proper Fabric view hierarchy for TrueSheet
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/android/app/src/main/java/truesheet/example/MainApplication.kt
Due: none

refactor(android): remove needsCustomLayoutForChildren overrides
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/PixelUtils.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  src/TrueSheet.tsx
Due: lint, prettier

refactor(android): replace measuredHeight with height properties
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

refactor: rename initialIndex to initialDetentIndex
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/src/components/ReanimatedExample.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  src/ReanimatedTrueSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: rename initialIndexAnimated to initialDetentAnimated
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(android): move dialog logic to container view
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

fix(android): set rootSheetView ID for proper event dispatching
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
Due: none

fix(android): correct view hierarchy - add container to rootSheetView
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
Due: none

fix(android): delay initial presentation until layout is ready
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): handle initial presentation like React Native Modal
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

refactor(android): use ReactViewGroup and ThemedReactContext
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): trigger initial presentation after container setup
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): handle 'auto' detent and wait for layout before initial presentation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

refactor(android): simplify initial presentation logic
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none
