Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

refactor(ios): unify position tracking into a single display link (#744)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
Due: none

refactor!: derive auto detent from container's yoga layout
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.h
  docs/docs/guides/footer.mdx
  docs/docs/reference/01-configuration.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  ios/tvos/TrueSheetStubs.mm
  react-native.config.js
  src/TrueSheet.tsx
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

chore: changelog
  CHANGELOG.md
Due: none

feat!: content lays out naturally like a regular view
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  docs/docs/troubleshooting.mdx
  docs/docs/usage.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: changelog for #746
  CHANGELOG.md
Due: none

feat!: content lays out naturally like a regular view (#746)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  docs/docs/troubleshooting.mdx
  docs/docs/usage.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

feat: add headerOptions prop with absolute header position
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add headerOptions documentation
  docs/docs/guides/header.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

feat: add headerOptions prop with absolute header position (#747)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/header.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat!: add footerOptions prop with relative footer position
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/footer.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: exclude relative footer from peek detent calculation
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/header.mdx
  docs/docs/guides/peeking.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
Due: lint, types, prettier

feat!: add footerOptions prop with relative footer position (#748)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/header.mdx
  docs/docs/guides/peeking.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: relative footer owns the bottom inset for auto detent
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

docs: changelog
  CHANGELOG.md
Due: none

feat: relative footer owns the bottom inset for auto detent (#749)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

feat: footer owns the bottom inset adjustment
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewState.h
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/tvos/TrueSheetStubs.mm
  react-native.config.js
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetFooterViewNativeComponent.ts
Due: lint, types, prettier

fix(android): apply footer inset padding synchronously
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetStateUpdater.kt
  android/src/main/jni/TrueSheetStateUpdater.cpp
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

feat: footer owns the inset for absolute position too
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/migration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.web.tsx
Due: lint, prettier

chore(example): set footer background via footerStyle
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

docs: update changelog
  CHANGELOG.md
Due: none

feat: footer owns the bottom inset adjustment (#750)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetStateUpdater.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  android/src/main/jni/TrueSheetSpec.h
  android/src/main/jni/TrueSheetStateUpdater.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewState.h
  docs/docs/guides/footer.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/migration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/tvos/TrueSheetStubs.mm
  react-native.config.js
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetFooterViewNativeComponent.ts
Due: lint, types, prettier

chore(example): align footer content padding with relative/absolute position
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

fix: keyboard scroll misses the bottom inset with a footer
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/guides/keyboard.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
Due: lint, prettier

docs: changelog entry for #752
  CHANGELOG.md
Due: none

fix: keyboard scroll misses the bottom inset with a footer (#752)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/guides/keyboard.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
Due: lint, prettier

fix(android): footer jumps when keyboard hides on drag release
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): sheet won't drag down from an input when fully expanded
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

fix(ios): skip size reports while stacked behind a child sheet
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix(ios): skip size reports while stacked behind a child sheet (#753)
  CHANGELOG.md
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix: relative footer stays in the layout flow behind the keyboard
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/reference/04-types.mdx
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix: relative footer stays in the layout flow behind the keyboard (#754)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/reference/04-types.mdx
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  src/TrueSheet.types.ts
Due: lint, types, prettier

chore: upgrade examples to Expo SDK 57 and RN 0.86
  .yarn/patches/react-native-npm-0.85.3.patch
  example/bare/ios/Podfile.lock
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/package.json
  example/expo/package.json
  example/shared/package.json
  package.json
  yarn.lock
Due: none

fix(example): bump bare React-Core-prebuilt to 0.86.0
  example/bare/ios/Podfile.lock
Due: none

chore: upgrade examples to Expo SDK 57 and RN 0.86 (#755)
  .yarn/patches/react-native-npm-0.85.3.patch
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/package.json
  example/expo/package.json
  example/shared/package.json
  package.json
  yarn.lock
Due: none

fix(ios): emit willDismiss only when drag dismiss is committed
  ios/TrueSheetViewController.mm
Due: none

refactor(ios): restore per-path position tracking
  ios/TrueSheetViewController.mm
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
