Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor(android): improve KeyboardManager implementation
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardManager.kt
Due: none

feat(android): enable edge-to-edge via BottomSheetDialog style
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardManager.kt
  android/src/main/res/values/styles.xml
Due: none

fix(android): stabilize footer position calculation when sheet expands to fullscreen
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(android): add fullScreen prop to control edge-to-edge behavior
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  android/src/main/res/values/styles.xml
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat(android): auto-enable edge-to-edge for Android 16+ and add documentation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/edge-to-edge.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/troubleshooting.mdx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add scrolling limitation caution for Android
  docs/docs/guides/scrolling.mdx
Due: none

fix(android): correct halfExpandedRatio calculation for 3 detents with edge-to-edge
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): update footer position when content size changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

chore: remove debug logs and unused keyboard manager
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
Due: none

test: add comprehensive lazy loading tests and fix Easing mock
  jest.setup.js
  src/__tests__/TrueSheet.test.tsx
Due: lint, prettier

fix(ci): regenerate corrupted gradle-wrapper.jar with proper MANIFEST.MF
  example/android/gradle/wrapper/gradle-wrapper.jar
Due: none

chore: regenerate yarn.lock file
  yarn.lock
Due: none

docs: update documentation for v3 and add migration guide
  docs/docs/guides/onmount/onmount.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/troubleshooting.mdx
  docs/docusaurus.config.ts
Due: lint, types, prettier

docs: add Liquid Glass effect guide for iOS 26+
  docs/docs/guides/liquid-glass.mdx
Due: none

fix(ci): use glob pattern for yarn.lock in GitHub Actions cache
  .github/actions/setup/action.yml
Due: none

docs: updated docs
  .github/actions/setup/action.yml
  docs/docs/guides/_category_.json
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/migration.mdx
Due: none

docs: update README to reference migration guide
  README.md
Due: none

docs: use GitHub alert notation and move below Features
  README.md
Due: none

docs: update README
  README.md
Due: none

chore: release 4.0.0-beta.0
  package.json
Due: none

chore: revert version to 3.0.0 for proper beta release
  package.json
Due: none

chore: restore original version
  package.json
Due: none

chore: release 3.0.0-beta.0
  package.json
Due: none

feat(example): add navigation integration demo with modal screen
  example/package.json
  example/src/App.tsx
  example/src/components/Button.tsx
  example/src/components/sheets/NavigationSheet.tsx
  example/src/components/sheets/index.ts
  example/src/screens/ChildScreen.tsx
  example/src/screens/ModalScreen.tsx
  example/src/screens/NavigationScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
  package-lock.json
  yarn.lock
Due: lint, types, prettier

feat(ios): implement RNSDismissibleModalProtocol to prevent sheet dismissal
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

chore: generate podfile
  example/ios/Podfile.lock
Due: none

fix(ios): patch react-native-screens so isDismissible works
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  example/package.json
  yarn.lock
Due: none

feat(example): add navigation examples
  example/src/App.tsx
  example/src/components/sheets/NavigationSheet.tsx
  example/src/screens/ModalScreen.tsx
  example/src/screens/NavigationScreen.tsx
  example/src/screens/TestScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
Due: lint, types, prettier

fix(ios): prevent sheet dismiss when presenting modals on top
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

docs: update react-navigation troubleshooting
  docs/docs/troubleshooting.mdx
Due: none

feat: react-native-screens integration (#213)
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  docs/docs/troubleshooting.mdx
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/components/Button.tsx
  example/src/components/sheets/NavigationSheet.tsx
  example/src/components/sheets/index.ts
  example/src/screens/ModalScreen.tsx
  example/src/screens/NavigationScreen.tsx
  example/src/screens/TestScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  package-lock.json
  yarn.lock
Due: lint, types, prettier

chore: run tidy
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

chore: disable build ci for now
  .github/workflows/ci.yml
Due: none

chore: release 3.0.0-beta.1
  package-lock.json
  package.json
Due: none

chore: add release-beta script
  package.json
Due: none

chore: update README
  README.md
Due: none

chore: restore default map example
  example/src/App.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

docs: update migration guide
  README.md
  docs/docs/migration.mdx
Due: none
