Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: link backgrounds guide changelog
  CHANGELOG.md
Due: none

docs: add backgrounds guide (#877)
  CHANGELOG.md
  docs/content/docs/next/guides/backgrounds.mdx
  docs/content/docs/next/guides/dimming.mdx
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/guides/meta.json
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

chore: update v3 version
  docs/content/docs/latest/meta.json
Due: none

chore: release 4.0.0-beta.20
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

chore(example): add a search + list sheet
  example/shared/src/components/sheets/SearchListSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/MapScreen.tsx
Due: lint, types, prettier

fix(android): use Material3 dismiss thresholds and skip list scroll for inputs outside it
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
Due: none

docs: add changelog entry for #879
  CHANGELOG.md
Due: none

fix: preserve Android drag and fling behavior
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/SearchListSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/MapScreen.tsx
Due: lint, types, prettier

fix: retain native header drag thresholds
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
Due: none

fix(android): use native dismiss with higher hide friction
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
Due: none

fix(android): use Material3 dismiss thresholds and skip list scroll for inputs outside it (#879)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

feat: add dismissThreshold prop for short swipe-to-dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/web/vaul/constants.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

docs: add changelog entry for #880
  CHANGELOG.md
Due: none

feat: add dismissThreshold prop for short swipe-to-dismiss (#880)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/web/vaul/constants.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(ios): defer present until a dismissing modal finishes
  ios/TrueSheetView.mm
Due: none

chore: add changelog entry
  CHANGELOG.md
Due: none

fix(ios): defer present until a dismissing modal finishes (#881)
  CHANGELOG.md
  ios/TrueSheetView.mm
Due: none

chore: release 4.0.0-beta.21
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

chore(example): add cold start deep link repros
  example/expo/app/_layout.tsx
  example/expo/app/repro/_layout.tsx
  example/expo/app/repro/index.tsx
  example/expo/app/repro/modal.tsx
  example/expo/app/repro/page-sheet.tsx
  example/expo/app/repro/sheet/_layout.tsx
  example/expo/app/repro/sheet/details.tsx
  example/expo/app/repro/sheet/index.tsx
  example/expo/components/ReproScreen.tsx
Due: lint, prettier

chore(example): hold repro sheets until focused
  example/expo/app/repro/index.tsx
  example/expo/app/repro/sheet/index.tsx
  example/expo/components/ReproScreen.tsx
Due: lint, prettier

docs: add deep linking guide
  CHANGELOG.md
  docs/content/docs/next/guides/deep-linking.mdx
  docs/content/docs/next/guides/meta.json
  docs/content/docs/next/guides/onmount.mdx
  docs/content/docs/next/troubleshooting.mdx
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

docs: add deep linking guide (#882)
  CHANGELOG.md
  docs/content/docs/next/guides/deep-linking.mdx
  docs/content/docs/next/guides/meta.json
  docs/content/docs/next/guides/onmount.mdx
  docs/content/docs/next/troubleshooting.mdx
  example/expo/app/_layout.tsx
  example/expo/app/repro/_layout.tsx
  example/expo/app/repro/index.tsx
  example/expo/app/repro/modal.tsx
  example/expo/app/repro/page-sheet.tsx
  example/expo/app/repro/sheet/_layout.tsx
  example/expo/app/repro/sheet/details.tsx
  example/expo/app/repro/sheet/index.tsx
  example/expo/components/ReproScreen.tsx
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/troubleshooting.md
Due: lint, prettier

docs: note that draggable doesn't disable the glass touch response
  docs/content/docs/next/reference/configuration.mdx
Due: none

docs: note that draggable doesn't disable the glass touch response (#886)
  docs/content/docs/next/reference/configuration.mdx
Due: none

fix(web): present sheets with deferred initial detent
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheet.web.test.tsx
Due: lint, prettier

fix(web): respect initial presentation animation
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.web.test.tsx
  src/__tests__/vaul.test.tsx
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

docs: link web presentation fix in changelog
  CHANGELOG.md
Due: none

fix(web): handle deferred initial presentation and animation (#887)
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheet.web.test.tsx
  src/__tests__/vaul.test.tsx
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(android): keep screens and gesture handler class names under R8
  android/build.gradle
  android/proguard-rules.pro
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

fix(android): keep screens and gesture handler class names under R8 (#888)
  CHANGELOG.md
  android/build.gradle
  android/proguard-rules.pro
Due: none

fix(android): keep screens and gesture handler class names under R8 (v3)
  android/build.gradle
  android/proguard-rules.pro
Due: none

fix(android): keep screens and gesture handler class names under R8 (v3) (#889)
  CHANGELOG.md
  android/build.gradle
  android/proguard-rules.pro
Due: none

fix(ios): keep native stack large title working with a mounted sheet
  example/expo/app/repro/_layout.tsx
  example/expo/app/repro/large-title.tsx
  src/TrueSheet.tsx
Due: lint, prettier

chore: changelog
  CHANGELOG.md
Due: none

docs: add large title troubleshooting entry
  docs/content/docs/next/troubleshooting.mdx
  skills/truesheet-usage/references/troubleshooting.md
Due: none

chore: remove large title repro
  example/expo/app/repro/_layout.tsx
  example/expo/app/repro/large-title.tsx
Due: lint, prettier
