Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat!: remove deprecated scrollable prop
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/header.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/peeking.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: update bare pods
  example/bare/ios/Podfile.lock
Due: none

chore: remove unnecessary void on handled promise
  example/shared/src/components/SwipeButton.tsx
Due: lint, prettier

fix(web): emit target detent position in lifecycle events
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: changelog
  CHANGELOG.md
Due: none

fix(web): emit target detent position in lifecycle events (#737)
  CHANGELOG.md
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): keep scrollable content sized and unscrolled during sheet drag
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
  src/web/vaul/style.css
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(web): engage sheet drag responsively after scroll bounce on Safari
  src/web/vaul/index.tsx
Due: lint, prettier

docs: changelog for web scrollable drag fixes
  CHANGELOG.md
Due: none

docs: simplify changelog entry
  CHANGELOG.md
Due: none

fix(web): scrollable content cut-off and drag/scroll conflicts during sheet drag (#739)
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
  src/web/vaul/style.css
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(web): measure initial detent geometry
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: update changelog for #740
  CHANGELOG.md
Due: none

fix(web): measure initial detent geometry (#740)
  CHANGELOG.md
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): preserve drag after Chrome scroll bounce
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

docs: update changelog for Chrome scroll bounce
  CHANGELOG.md
Due: none

fix(web): preserve drag after Chrome scroll bounce (#741)
  CHANGELOG.md
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

fix(web): avoid peek height shadowing
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): measure peek content live for initial detent geometry
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.web.tsx
Due: lint, prettier

docs: update changelog for #742
  CHANGELOG.md
Due: none

fix(web): measure peek content live for initial detent geometry (#742)
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.web.tsx
Due: lint, prettier

feat!: synchronous per-detent container layout (#735)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetStateUpdater.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/jni/TrueSheetStateUpdater.cpp
  docs/docs/guides/header.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/peeking.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  docs/package.json
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
  package.json
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
  yarn.lock
Due: lint, types, prettier

feat: support auto detent with scrollables
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/tvos/TrueSheetStubs.mm
  react-native.config.js
  src/fabric/TrueSheetContentViewNativeComponent.ts
Due: lint, types, prettier

fix(ios): resolve auto detent height lazily for correct initial size
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix(ios): keep detents stable across present/dismiss transitions
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

chore(example): add item button to FlatListSheet to showcase auto detent resize
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

chore(example): start FlatListSheet with 10 items
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

docs: changelog for #743
  CHANGELOG.md
Due: none

docs: drop bug fix changelog entry for #743
  CHANGELOG.md
Due: none

docs: one changelog entry per pr
  AGENTS.md
  CHANGELOG.md
Due: none

chore(example): add remove item button to FlatListSheet
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

feat(web): support auto detent with plugged scrollables
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

chore: flatlist sheet auto detent only
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

feat: support auto detent with scrollables (#743)
  AGENTS.md
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/tvos/TrueSheetStubs.mm
  react-native.config.js
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetContentViewNativeComponent.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

chore(example): fix BasicSheet
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

refactor(ios): unify position tracking into a single display link
  ios/TrueSheetViewController.mm
Due: none

chore: changelog
  CHANGELOG.md
Due: none
