Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ios): add ios 15 condition to fix build issue (#200)
  ios/TrueSheetView.swift
Due: none

chore: tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  ios/TrueSheetView.swift
Due: none

chore: release 2.0.6
  package.json
Due: none

Update README.md
  README.md
Due: none

docs: fix typo
  docs/docs/guides/onmount/onmount.mdx
Due: none

refactor(ios): convert implementation from Swift to Objective-C
  example/ios/Podfile.lock
  ios/.swift-version
  ios/.swiftformat
  ios/.swiftlint.yml
  ios/Extensions/UIBlurEffect+withTint.swift
  ios/Extensions/UIView+pinTo.swift
  ios/Extensions/UIViewController+detentForSize.swift
  ios/TrueSheetEvent.h
  ios/TrueSheetEvent.m
  ios/TrueSheetEvent.swift
  ios/TrueSheetView.h
  ios/TrueSheetView.m
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.m
  ios/TrueSheetViewController.swift
  ios/TrueSheetViewManager.h
  ios/TrueSheetViewManager.m
  ios/TrueSheetViewManager.swift
  ios/Utils/Logger.swift
  ios/Utils/Promise.swift
  scripts/cleanup-swift-files.sh
Due: none

feat: migrate to Fabric (new architecture) with Commands API
  .zed/settings.json
  FABRIC_MIGRATION_SUMMARY.md
  README.md
  TrueSheet.podspec
  docs/FABRIC_CHECKLIST.md
  docs/FABRIC_COMMANDS_UPGRADE.md
  docs/FABRIC_IMPLEMENTATION.md
  docs/FABRIC_MIGRATION.md
  docs/FABRIC_NEXT_STEPS.md
  docs/FABRIC_QUICK_REFERENCE.md
  ios/TrueSheetComponentDescriptor.h
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.m
  ios/TrueSheetViewComponentView.h
  ios/TrueSheetViewComponentView.mm
  ios/TrueSheetViewManager.h
  ios/TrueSheetViewManager.m
  package.json
  react-native.config.js
  src/NativeTrueSheetModule.ts
  src/TrueSheet.tsx
  src/TrueSheetModule.ts
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(ios): eliminate legacy Paper patterns and use pure Fabric APIs
  docs/IOS_FABRIC_REFACTORING.md
  ios/TrueSheetEvent.h
  ios/TrueSheetEvent.m
  ios/TrueSheetModule.mm
  ios/TrueSheetViewComponentView.mm
  ios/TrueSheetViewController.h
Due: none

chore(ios): enable fabric on example project
  example/ios/Podfile
  example/ios/Podfile.lock
Due: none

fix(ios): remove TurboModule spec dependency, use Commands API only
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
Due: none

refactor: remove TurboModule entirely, use pure Commands API
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  src/NativeTrueSheetModule.ts
  src/TrueSheetModule.ts
Due: lint, types, prettier

feat: implement TurboModule for promise-based API
  FABRIC_BEST_PRACTICES_REVIEW.md
  FABRIC_COMPLETION_CHECKLIST.md
  FABRIC_MIGRATION_COMPLETE.md
  FABRIC_MIGRATION_SUMMARY.md
  FABRIC_REFACTORING_PLAN.md
  FABRIC_REVIEW_SUMMARY.md
  FABRIC_TURBOMODULE_SOLUTION.md
  TURBOMODULE_IMPLEMENTATION_COMPLETE.md
  TURBOMODULE_IMPLEMENTATION_GUIDE.md
  TURBOMODULE_VIEW_LOOKUP.md
  docs/FABRIC_BUILD_FIXES.md
  ios/TrueSheetComponentDescriptor.h
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  ios/TrueSheetViewComponentView.h
  ios/TrueSheetViewComponentView.mm
  package.json
  src/TrueSheet.tsx
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

fix: lazy load TurboModule to prevent initialization errors
  ios/TrueSheetModule.mm
  src/TrueSheet.tsx
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

fix: fix default props
  src/TrueSheet.tsx
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: upgrade to React Native 0.82.1 and fix Codegen issues
  UPGRADE_TO_RN_0.82.md
  example/Gemfile.lock
  example/ios/Podfile.lock
  example/ios/TrueSheetExample/Info.plist
  example/metro.config.js
  example/package.json
  package.json
  yarn.lock
Due: none

chore(example): upgrade dependencies to latest compatible versions
  example/ios/Podfile.lock
  example/package.json
  yarn.lock
Due: none

fix: fix build
  example/ios/Podfile.lock
  lib/commonjs/TrueSheet.js
  lib/commonjs/TrueSheet.js.map
  lib/commonjs/TrueSheetModule.js
  lib/commonjs/TrueSheetModule.js.map
  lib/commonjs/TrueSheetViewNativeComponent.ts
  lib/commonjs/package.json
  lib/commonjs/specs/NativeTrueSheetModule.js
  lib/commonjs/specs/NativeTrueSheetModule.js.map
  lib/module/TrueSheet.js
  lib/module/TrueSheet.js.map
  lib/module/TrueSheetModule.js
  lib/module/TrueSheetModule.js.map
  lib/module/TrueSheetViewNativeComponent.ts
  lib/module/package.json
  lib/module/specs/NativeTrueSheetModule.js
  lib/module/specs/NativeTrueSheetModule.js.map
  lib/typescript/commonjs/src/TrueSheet.d.ts
  lib/typescript/commonjs/src/TrueSheet.d.ts.map
  lib/typescript/commonjs/src/TrueSheetFooter.d.ts.map
  lib/typescript/commonjs/src/TrueSheetGrabber.d.ts.map
  lib/typescript/commonjs/src/TrueSheetModule.d.ts
  lib/typescript/commonjs/src/TrueSheetModule.d.ts.map
  lib/typescript/commonjs/src/TrueSheetViewNativeComponent.d.ts
  lib/typescript/commonjs/src/TrueSheetViewNativeComponent.d.ts.map
  lib/typescript/commonjs/src/specs/NativeTrueSheetModule.d.ts
  lib/typescript/commonjs/src/specs/NativeTrueSheetModule.d.ts.map
  lib/typescript/module/src/TrueSheet.d.ts
  lib/typescript/module/src/TrueSheet.d.ts.map
  lib/typescript/module/src/TrueSheetFooter.d.ts.map
  lib/typescript/module/src/TrueSheetGrabber.d.ts.map
  lib/typescript/module/src/TrueSheetModule.d.ts
  lib/typescript/module/src/TrueSheetModule.d.ts.map
  lib/typescript/module/src/TrueSheetViewNativeComponent.d.ts
  lib/typescript/module/src/TrueSheetViewNativeComponent.d.ts.map
  lib/typescript/module/src/specs/NativeTrueSheetModule.d.ts
  lib/typescript/module/src/specs/NativeTrueSheetModule.d.ts.map
  package.json
  src/TrueSheet.tsx
Due: lint, types, prettier

refactor(ios): improve Fabric component lifecycle and best practices
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): add missing resizeToIndex implementation
  ios/TrueSheetViewController.m
Due: none

fix(ios): fix initialIndex, touch events, and hot reload crashes
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): ensure touch events work by properly ordering container view
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): add RCTSurfaceTouchHandler for proper touch event handling in Fabric
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): implement blurTint to blurEffect conversion
  ios/TrueSheetViewController.m
Due: none

chore(ios): remove version checks below iOS 15.1 minimum
  ios/TrueSheetViewComponentView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.m
Due: none

fix(ios): add nil check before detaching touch handler
  ios/TrueSheetViewComponentView.mm
Due: none

chore: remove unnecessary docs
  FABRIC_BEST_PRACTICES_REVIEW.md
  FABRIC_COMPLETION_CHECKLIST.md
  FABRIC_MIGRATION_COMPLETE.md
  FABRIC_MIGRATION_SUMMARY.md
  FABRIC_REFACTORING_PLAN.md
  FABRIC_REVIEW_SUMMARY.md
  FABRIC_TURBOMODULE_SOLUTION.md
  TURBOMODULE_IMPLEMENTATION_COMPLETE.md
  TURBOMODULE_IMPLEMENTATION_GUIDE.md
  TURBOMODULE_VIEW_LOOKUP.md
  UPGRADE_TO_RN_0.82.md
Due: none

fix(ios): properly manage touch handler lifecycle during hot reload
  .zed/settings.json
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewComponentView.mm
Due: lint, prettier

chore: update .gitignore
  .gitignore
Due: none

fix(ios): improve hot reload and full reload handling
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewComponentView.mm
Due: lint, prettier

chore(ios): remove unused code and debug logs
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewComponentView.mm
Due: lint, prettier

fix(ios): apply prop updates to presented sheet
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): fix background and blur props updates
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewComponentView.mm
Due: lint, prettier

refactor(ios): use native height measurement for auto sizing
  ios/TrueSheetViewComponentView.mm
  ios/TrueSheetViewController.m
  src/TrueSheet.tsx
Due: lint, prettier

chore: tidy
  example/src/screens/MapScreen.tsx
  example/src/utils/constants.ts
Due: lint, types, prettier

feat(fabric): implement custom Fabric container component for dynamic sizing
  ios/TrueSheetContainerViewComponentView.h
  ios/TrueSheetContainerViewComponentView.mm
  ios/TrueSheetViewComponentView.mm
  package.json
  src/TrueSheet.tsx
  src/TrueSheetContainerViewNativeComponent.ts
Due: lint, types, prettier

refactor: remove unused container size change event and state
  src/TrueSheet.tsx
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(ios): improve container view type safety and documentation
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): manually update content view width on sheet size change
  ios/TrueSheetContainerViewComponentView.mm
  ios/TrueSheetViewComponentView.mm
Due: none

refactor: simplify API and remove footer-related code
  ios/TrueSheetViewComponentView.mm
  src/TrueSheet.tsx
Due: lint, prettier
