Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(ios): emit interpolated index in position change event
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnPositionChangeEvent.h
  ios/events/OnPositionChangeEvent.mm
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat(android): emit interpolated index in position change event
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
Due: none

feat: add detent value to all DetentInfoEventPayload events
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/DetentChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DidPresentEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragBeginEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEndEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/WillPresentEvent.kt
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/reference/02-events.mdx
  docs/docs/reference/03-methods.mdx
  docs/docs/reference/04-types.mdx
  example/ios/TrueSheetExample/Info.plist
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnDetentChangeEvent.h
  ios/events/OnDetentChangeEvent.mm
  ios/events/OnDidPresentEvent.h
  ios/events/OnDidPresentEvent.mm
  ios/events/OnDragBeginEvent.h
  ios/events/OnDragBeginEvent.mm
  ios/events/OnDragChangeEvent.h
  ios/events/OnDragChangeEvent.mm
  ios/events/OnDragEndEvent.h
  ios/events/OnDragEndEvent.mm
  ios/events/OnWillPresentEvent.h
  ios/events/OnWillPresentEvent.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, types, prettier

feat: interpolated index and detent value in position change events (#244)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/DetentChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DidPresentEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragBeginEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEndEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/WillPresentEvent.kt
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/reference/02-events.mdx
  docs/docs/reference/03-methods.mdx
  docs/docs/reference/04-types.mdx
  example/src/App.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnDetentChangeEvent.h
  ios/events/OnDetentChangeEvent.mm
  ios/events/OnDidPresentEvent.h
  ios/events/OnDidPresentEvent.mm
  ios/events/OnDragBeginEvent.h
  ios/events/OnDragBeginEvent.mm
  ios/events/OnDragChangeEvent.h
  ios/events/OnDragChangeEvent.mm
  ios/events/OnDragEndEvent.h
  ios/events/OnDragEndEvent.mm
  ios/events/OnPositionChangeEvent.h
  ios/events/OnPositionChangeEvent.mm
  ios/events/OnWillPresentEvent.h
  ios/events/OnWillPresentEvent.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, types, prettier

ci: add stale issues workflow
  .github/workflows/stale.yml
Due: none

chore: release 3.0.0-beta.13
  package-lock.json
  package.json
Due: none

fix(example): fix demo screen after calculation changes
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): tie focus/blur events to dialog lifecycle
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  example/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix: prevent focus/blur events from triggering on sheets behind RN screens
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
Due: none

fix(android): prevent focus/blur events on sheets behind RN screens
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

docs: add onWillFocus and onWillBlur events
  docs/docs/reference/02-events.mdx
Due: none

docs: update migration guide with focus/blur events
  docs/docs/migration.mdx
Due: none

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetDragEvents.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetStateEvents.kt
  ios/TrueSheetView.mm
Due: none

chore: fix dangling KDoc comments in event files
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetDragEvents.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetFocusEvents.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetStateEvents.kt
Due: none

chore: release 3.0.0-beta.14
  package-lock.json
  package.json
Due: none

fix(ios): simplify emitted position for consistent values
  ios/TrueSheetViewController.mm
Due: none

refactor: rename transitioning to realtime with reversed logic
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetStateEvents.kt
  docs/docs/reference/02-events.mdx
  docs/docs/reference/04-types.mdx
  example/ios/Podfile.lock
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/TrueSheetStateEvents.h
  ios/events/TrueSheetStateEvents.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/reanimated/ReanimatedTrueSheet.tsx
Due: lint, types, prettier

fix(ios): simplify emitted position for consistent values (#248)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetStateEvents.kt
  docs/docs/reference/02-events.mdx
  docs/docs/reference/04-types.mdx
  example/ios/Podfile.lock
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/TrueSheetStateEvents.h
  ios/events/TrueSheetStateEvents.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/reanimated/ReanimatedTrueSheet.tsx
Due: lint, types, prettier

feat: add draggable prop to disable sheet dragging (#246)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/utils/GestureUtil.h
  ios/utils/GestureUtil.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: add draggable prop to disable sheet dragging (#246) (#249)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/utils/GestureUtil.h
  ios/utils/GestureUtil.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat(ios): add blurIntensity and blurInteraction props
  docs/docs/guides/liquid-glass.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  example/ios/TrueSheetExample/Info.plist
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(ios): extract blur logic into TrueSheetBlurView class
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/utils/ConversionUtil.h
Due: none

chore: revert UIDesignRequiresCompatibility enabled
  example/ios/TrueSheetExample/Info.plist
Due: none

feat(ios): add blurIntensity and blurInteraction props (#250)
  docs/docs/guides/liquid-glass.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/utils/ConversionUtil.h
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: run tidy
  ios/core/TrueSheetBlurView.mm
Due: none

chore: release 3.0.0-beta.15
  package-lock.json
  package.json
Due: none

fix(example): restore demo props
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): implement no-op methods on android
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

chore: release 3.0.0-beta.16
  package-lock.json
  package.json
Due: none

docs: update docs related to scrollable
  docs/docs/reference/01-configuration.mdx
  example/src/components/sheets/FlatListSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix(ios): use __typeof instead of typeof in TrueSheetBlurView
  docs/docs/guides/navigation/navigation.mdx
  ios/core/TrueSheetBlurView.mm
Due: none

chore: update podlock
  example/ios/Podfile.lock
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
Due: none

ci: re-enable build jobs and add common to turbo inputs
  .github/workflows/ci.yml
  turbo.json
Due: none

fix(ios): use __typeof instead of typeof in TrueSheetBlurView (#253)
  .github/workflows/ci.yml
  docs/docs/guides/navigation/navigation.mdx
  example/ios/Podfile.lock
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
  ios/core/TrueSheetBlurView.mm
  turbo.json
Due: none

chore: release 3.0.0-beta.17
  package-lock.json
  package.json
Due: none

docs: add RefreshControl limitation note for Android
  docs/docs/guides/scrolling/scrolling.mdx
Due: none

feat(android): add native grabber view with JS hitbox for drag handling
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  example/src/components/sheets/FlatListSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheetGrabber.tsx
  src/__mocks__/index.js
  src/__tests__/TrueSheetMocks.test.tsx
  src/index.ts
Due: lint, types, prettier
