Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(android): handle container re-add during Fabric updates
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): properly cleanup container on unmount
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): remove dismiss from cleanup to prevent crash
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
Due: none

refactor(android): move dialog lifecycle to TrueSheetView
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  src/TrueSheet.tsx
Due: lint, prettier

refactor(ios): move controller lifecycle to TrueSheetView
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
Due: none

fix(ios): move initial presentation to mountChildComponentView
  ios/TrueSheetView.mm
Due: none

refactor(ios): move props application directly into updateProps
  ios/TrueSheetView.mm
Due: none

refactor(ios): move initial presentation back to updateProps
  ios/TrueSheetView.mm
Due: none

refactor(ios): complete Fabric architecture refactoring for iOS
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
Due: lint, prettier

refactor(ios): implement container delegate pattern and optimize update lifecycle
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix(ios): fix ScrollView auto pinning
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
Due: lint, prettier

fix(ios): fix sheet props not updating during presentation
  ios/TrueSheetView.mm
Due: none

fix(ios): resolve scroll view pinning timing and touch handler cleanup issues
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
Due: none

refactor(ios): simplify touch handler and lifecycle management
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
Due: none

fix: clamp auto detent to container height to prevent unbounded growth
  ios/TrueSheetContainerView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
Due: lint, types, prettier

test: add comprehensive Jest testing support
  .gitignore
  README.md
  docs/docs/guides/jest.mdx
  eslint.config.mjs
  jest.setup.js
  package.json
  src/__mocks__/README.md
  src/__mocks__/example.test.js
  src/__mocks__/index.js
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/index.test.tsx
  yarn.lock
Due: lint, prettier

refactor: move Reanimated components to dedicated folder
  src/__mocks__/README.md
  src/__mocks__/index.js
  src/hooks/index.ts
  src/index.ts
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/ReanimatedTrueSheetProvider.tsx
  src/reanimated/index.ts
  src/reanimated/useReanimatedPositionChangeHandler.ts
Due: lint, types, prettier

refactor: rename position to animatedPosition and add animatedIndex
  example/src/components/ReanimatedExample.tsx
  example/src/screens/MapScreen.tsx
  src/__mocks__/README.md
  src/__mocks__/index.js
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, prettier

test: replace mock documentation with actual mock tests
  src/__mocks__/README.md
  src/__mocks__/example.test.js
  src/__tests__/TrueSheetMocks.test.tsx
Due: lint, prettier

feat(ios): implement native transition animation tracking with fake view
  ios/TrueSheetViewController.mm
Due: none

fix(ios): find and attach pan gesture from first ScrollView
  ios/TrueSheetContentView.h
  ios/TrueSheetViewController.mm
Due: none

refactor(ios): create GestureUtil helper to reduce pan gesture attachment redundancy
  ios/TrueSheetModule.h
  ios/TrueSheetViewController.mm
  ios/utils/GestureUtil.h
  ios/utils/GestureUtil.mm
Due: none

refactor(ios): improve presentation state and detent management
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix(ios): prevent willPresent event from firing on repositioning
  ios/TrueSheetViewController.mm
Due: none

feat(ios): improve transition position tracking and reanimated integration
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
  src/reanimated/ReanimatedTrueSheet.tsx
Due: lint, types, prettier

refactor(android): remove transitioning param from position change event
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
  example/src/screens/MapScreen.tsx
  src/reanimated/ReanimatedTrueSheet.tsx
Due: lint, prettier

fix(android): forward eventDispatcher to rootSheetView for touch events
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor(android): implement delegate pattern to align with iOS architecture
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
Due: none

refactor(android): simplify view hierarchy and improve layout handling
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): restore FrameLayout wrapper and improve mount event timing
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): create dialog in init and fix 3-detent configuration
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix: wait for mount event before presenting sheet
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  src/TrueSheet.tsx
Due: lint, prettier

feat: add lazy prop and improve mount event documentation
  docs/docs/reference/01-props.mdx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

docs: add lazy loading guide
  docs/docs/guides/lazy-loading.mdx
  docs/docs/reference/01-props.mdx
  src/TrueSheet.types.ts
Due: lint, types, prettier

docs: update reanimated integration guide
  docs/docs/guides/reanimated/reanimated.mdx
Due: none

chore: update package files
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

feat: implement lazy loading prop and fix mount event handling
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/reference/01-props.mdx
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat: implement Fabric state support for TrueSheet
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: add comprehensive logging to investigate updateState behavior
  TEST_updateState.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
