Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(android): re-apply keyboard inset when ScrollView remounts
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
Due: none

fix(ios): re-apply keyboard inset when ScrollView remounts
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/core/TrueSheetKeyboardObserver.h
  ios/core/TrueSheetKeyboardObserver.mm
Due: none

refactor: align setupScrollable and inset helpers across platforms
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  ios/TrueSheetContentView.mm
Due: none

refactor(android): use addView/removeViewAt instead of OnHierarchyChangeListener
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
Due: none

chore(example): add toggle list demo for conditional ScrollView remount
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

docs: bump changelog
  CHANGELOG.md
Due: none

fix(android): nested scroll breaks after conditional ScrollView remount (#564)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/core/TrueSheetKeyboardObserver.h
  ios/core/TrueSheetKeyboardObserver.mm
Due: lint, prettier

chore: auto-bump changelog version on release
  package.json
Due: none

chore: run tidy
  ios/TrueSheetContentView.mm
Due: none

chore: release 3.9.7
  CHANGELOG.md
  package.json
Due: none

fix(android): skip scroll intercept workaround when RefreshControl is present
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

fix(android): pull to refresh not working for short ScrollViews (#570)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

feat(ios): tap custom grabber to cycle detents
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: fix changelog category
  CHANGELOG.md
Due: none

fix(ios): custom grabber missing tap-to-cycle-detent behavior (#571)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

chore: move tidy to after:bump in release workflow
  package.json
Due: none

chore: release 3.9.8
  CHANGELOG.md
  ios/TrueSheetViewController.mm
  package.json
Due: none

fix(android): back handler blocking navigation when sheet is hidden for screen
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

fix(android): back handler blocking navigation when sheet is hidden (#577)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: release 3.9.9
  CHANGELOG.md
  package.json
Due: none

refactor(android): move back press detection to JS BackHandler
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetModule.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

refactor: rename module method backPress to handleBackPress
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  ios/TrueSheetModule.mm
  src/TrueSheet.tsx
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

docs: add changelog entry for #580
  CHANGELOG.md
Due: none

fix(android): use RN BackHandler for back press (#580)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetModule.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

chore(ios): update Podfile.lock
  example/bare/ios/Podfile.lock
Due: none

refactor(ios): use static emit for dismissed position
  ios/TrueSheetView.mm
Due: none

fix(ios): check position, detent, and index before emitting change
  ios/TrueSheetViewController.mm
Due: none

fix(ios): check position, detent, and index before emitting change (#584)
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

feat: add scrollingExpandsSheet to scrollableOptions
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat(android): implement scrollingExpandsSheet via custom behavior
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

feat(android): auto-enable nestedScrollingEnabled for scrollable sheets
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

refactor(android): support NestedScrollView for future RN compatibility
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
Due: none

docs: update scrollable guides and add scrollableOptions reference
  docs/docs/guides/header.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
Due: none

fix(android): add scroll expansion padding for scrollable sheets
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor: type scrollableOptions and grabberOptions on both platforms
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

chore: add changelog entries for scrollingExpandsSheet
  CHANGELOG.md
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
