Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: add --list-devices flag to example run scripts
  example/package.json
Due: none

feat(ios): implement presentingControllerForModals protocol method
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  ios/TrueSheetViewController.mm
  yarn.lock
Due: none

refactor(ios): rename protocol method to presentingViewController
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  ios/TrueSheetViewController.mm
Due: none

fix(ios): rename to newPresentingViewController to avoid UIKit collision
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  ios/TrueSheetViewController.mm
Due: none

docs: add development environment verification section
  CONTRIBUTING.md
  yarn.lock
Due: none

docs: update CONTRIBUTING
  CONTRIBUTING.md
  docs/src/pages/contributing.mdx
Due: none

fix(ios): improve background and blur handling
  CONTRIBUTING.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/dimming/dimming.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/src/pages/contributing.mdx
  example/src/components/ReanimatedExample.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add custom dimming alpha guide with ReanimatedTrueSheet
  docs/docs/guides/dimming/dimming.mdx
Due: none

fix: background improvements (#214)
  CONTRIBUTING.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/dimming/dimming.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/src/pages/contributing.mdx
  example/src/components/ReanimatedExample.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: run tidy
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.0.0-beta.2
  package-lock.json
  package.json
Due: none

feat: pin ScrollView to top sibling position instead of container
  AGENTS.md
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContentView.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
Due: lint, prettier

fix: remove param
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat: add fitScrollView prop to control ScrollView pinning behavior
  docs/docs/guides/scrolling.mdx
  example/ios/Podfile.lock
  example/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/utils/LayoutUtil.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add fitScrollView prop documentation and header guide
  docs/docs/guides/header.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
Due: none

feat: control scrollview pinning via prop (#217)
  AGENTS.md
  docs/docs/guides/header.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  example/ios/Podfile.lock
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: update script
  package.json
Due: none

chore: release 3.0.0-beta.3
  package-lock.json
  package.json
Due: none

fix(example): update example
  example/src/components/Footer.tsx
  example/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

refactor: add ConversionUtil and change blurTint values to dashed-case
  docs/docs/reference/03-types.mdx
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
  ios/TrueSheetViewController.mm
  ios/utils/ConversionUtil.h
  ios/utils/ConversionUtil.mm
  src/TrueSheet.types.ts
Due: lint, types, prettier

refactor: convert _bottomInset to getter method
  example/ios/Podfile.lock
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

feat: add iPad support and improve bottomInset logic
  ios/TrueSheetViewController.mm
Due: none

refactor: add notifyContentSizeChange method with width-only detection
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: clarify pageSizing prop descriptions for iPad presentation styles
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat: iPad support (#219)
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
  example/ios/Podfile.lock
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/utils/ConversionUtil.h
  ios/utils/ConversionUtil.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: run tidy
  ios/TrueSheetViewController.mm
  ios/utils/ConversionUtil.mm
Due: none

chore: release 3.0.0-beta.4
  package-lock.json
  package.json
Due: none

docs: move navigation content from troubleshooting to dedicated guide
  docs/docs/guides/edge-to-edge.mdx
  docs/docs/guides/liquid-glass.mdx
  docs/docs/guides/navigation.mdx
  docs/docs/guides/onmount/onmount.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/troubleshooting.mdx
Due: none

feat(example): demo heavy content in ScrollView
  example/src/components/Button.tsx
  example/src/components/Footer.tsx
  example/src/components/Header.tsx
  example/src/components/Input.tsx
  example/src/components/index.ts
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/utils/constants.ts
Due: lint, types, prettier

refactor(ios): use RCTLogWarn instead of NSLog for warnings
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
Due: none

feat(ios): handle container layout natively via Fabric state
  RNTrueSheet.podspec
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.h
  example/ios/Podfile.lock
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnSizeChangeEvent.h
  ios/events/OnSizeChangeEvent.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(ios): improve safety and code quality
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/utils/ConversionUtil.mm
Due: none

fix(ios): force layout on mount for correct container width
  ios/TrueSheetView.mm
Due: none

feat(example): add loading state to ScrollView sheet button
  example/src/components/Button.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

feat(android): implement native container layout sizing
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/SizeChangeEvent.kt
  android/src/main/jni/CMakeLists.txt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.cpp
  example/react-native.config.js
  react-native.config.js
Due: none

feat(android): add container height to native layout state
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.h
  example/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
Due: lint, prettier

feat: handle container layout natively via Fabric state (#220)
  RNTrueSheet.podspec
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/SizeChangeEvent.kt
  android/src/main/jni/CMakeLists.txt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContainerViewState.h
  example/ios/Podfile.lock
  example/react-native.config.js
  example/src/components/Button.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnSizeChangeEvent.h
  ios/events/OnSizeChangeEvent.mm
  ios/utils/ConversionUtil.mm
  react-native.config.js
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: release 3.0.0-beta.5
  package-lock.json
  package.json
Due: none

feat(android): use 28dp default cornerRadius (Material Design 3)
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/reference/01-props.mdx
Due: none
