Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

feat(web): translate parent sheet when child sheet is presented
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): cascade parent translation across nested sheet stack
  example/shared/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

feat(web): scope portal to provider, support initialDetentIndex auto-present
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

feat(web): render header and footer slots
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): float footer at viewport bottom
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): honor single-detent value instead of defaulting to full height
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): support scrollable content
  src/TrueSheet.web.tsx
Due: lint, prettier

fix: disable repositionInputs
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): re-apply cascade transform when vaul clobbers it
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): support detached floating sheet
  example/shared/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.web.tsx
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(web): clip detached sheet corners on desktop
  src/TrueSheet.web.tsx
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

feat(web): slide whole card off on dismiss and drag-close
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
  src/web/vaul/style.css
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

feat(web): dismiss on drag past 50% of lowest detent
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(ios): render dim in presenter view when presenter VC is detached
  CHANGELOG.md
  ios/TrueSheetView.mm
Due: none

fix(web): cap 'auto' detent at viewport so tall content doesn't overflow
  src/TrueSheet.web.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

feat(web): fire onWillDismiss / onDidDismiss via wrapper transitionend
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): restore body pointer-events when sheet is hidden by ancestor
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

chore(vaul): clear shadow and inline-style lint warnings
  src/web/vaul/index.tsx
  src/web/vaul/use-controllable-state.ts
Due: lint, types, prettier

feat(web): fire onWillPresent / onDidPresent via Web Animations API
  src/TrueSheet.web.tsx
Due: lint, prettier

add support to render legacy sheet for ios 26+ devices
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat(ios): expose UIGlassEffect clear variant via new backgroundGlass prop
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat(web): fire onDetentChange when detent changes mid-session
  src/TrueSheet.web.tsx
Due: lint, prettier

chore(example): show sheet events in on-screen log overlay
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

feat(web): fire onDragBegin / onDragChange / onDragEnd during drag
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

chore(example): log drag events in MapScreen
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

feat(web): fire onMount once after first render
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): fire onWillFocus / onDidFocus / onWillBlur / onDidBlur on stack changes
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): report interpolated index and detent in onPositionChange
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(vaul): emit position updates during wrapper-only transitions
  src/web/vaul/index.tsx
Due: lint, prettier

feat(web): dual-range interpolation for onPositionChange
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): honor draggable, cornerRadius, maxContentHeight props
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

chore(web): remove stackBehavior prop and StackBehavior type
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  src/TrueSheet.types.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat(web): honor elevation, insetAdjustment, initialDetentAnimated, scrollingExpandsSheet
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

chore(web): drop unused utils and example cruft
  example/expo/app/_layout.tsx
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
  src/web/constants.ts
  src/web/utils.ts
Due: lint, types, prettier

docs: changelog for web renderer rewrite
  CHANGELOG.md
Due: none

fix(android): emit didFocus after parent translate animation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix(android): emit didFocus after parent translate animation (#666)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

feat(web): support pageSizing prop
  example/shared/src/components/Header.tsx
  example/shared/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.web.tsx
  src/web/constants.ts
Due: lint, types, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
