Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

docs: update changelog for tracer bullets skill
  CHANGELOG.md
Due: none

feat: add peek detent
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/header.mdx
  docs/docs/guides/resizing.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/web/vaul/constants.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(ios): sync footer height on mount/unmount
  ios/TrueSheetContainerView.mm
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

feat: add peek detent (#728)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/header.mdx
  docs/docs/guides/resizing.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/web/vaul/constants.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(ios): validate caret rect and observe text changes only while keyboard is shown
  CHANGELOG.md
  ios/TrueSheetContentView.mm
Due: none

feat: scroll to input's caret and when user types (#723)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  ios/TrueSheetContentView.mm
Due: none

fix(ios): compile tvOS stubs to fix Fabric startup crash
  RNTrueSheet.podspec
  ios/tvos/TrueSheetStubs.mm
Due: none

docs: changelog
  CHANGELOG.md
Due: none

fix(ios): compile tvOS stubs to fix Fabric startup crash (#729)
  CHANGELOG.md
  RNTrueSheet.podspec
  ios/tvos/TrueSheetStubs.mm
Due: none

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  example/bare/ios/Podfile.lock
  ios/TrueSheetContentView.mm
Due: none

chore: release 3.11.4
  CHANGELOG.md
  docs/versioned_docs/version-3.11.4/guides/_category_.json
  docs/versioned_docs/version-3.11.4/guides/assets/dimming.gif
  docs/versioned_docs/version-3.11.4/guides/assets/keyboard.gif
  docs/versioned_docs/version-3.11.4/guides/assets/navigation.gif
  docs/versioned_docs/version-3.11.4/guides/assets/onmount.gif
  docs/versioned_docs/version-3.11.4/guides/assets/reanimated.gif
  docs/versioned_docs/version-3.11.4/guides/assets/resizing.gif
  docs/versioned_docs/version-3.11.4/guides/assets/scrolling.gif
  docs/versioned_docs/version-3.11.4/guides/assets/stacking.gif
  docs/versioned_docs/version-3.11.4/guides/dimming.mdx
  docs/versioned_docs/version-3.11.4/guides/edge-to-edge.mdx
  docs/versioned_docs/version-3.11.4/guides/footer.mdx
  docs/versioned_docs/version-3.11.4/guides/global-methods.mdx
  docs/versioned_docs/version-3.11.4/guides/header.mdx
  docs/versioned_docs/version-3.11.4/guides/jest.mdx
  docs/versioned_docs/version-3.11.4/guides/keyboard.mdx
  docs/versioned_docs/version-3.11.4/guides/liquid-glass.mdx
  docs/versioned_docs/version-3.11.4/guides/navigation.mdx
  docs/versioned_docs/version-3.11.4/guides/onmount.mdx
  docs/versioned_docs/version-3.11.4/guides/overlays.mdx
  docs/versioned_docs/version-3.11.4/guides/reanimated.mdx
  docs/versioned_docs/version-3.11.4/guides/resizing.mdx
  docs/versioned_docs/version-3.11.4/guides/scrolling.mdx
  docs/versioned_docs/version-3.11.4/guides/side-sheets.mdx
  docs/versioned_docs/version-3.11.4/guides/stacking.mdx
  docs/versioned_docs/version-3.11.4/guides/web.mdx
  docs/versioned_docs/version-3.11.4/install.mdx
  docs/versioned_docs/version-3.11.4/intro.mdx
  docs/versioned_docs/version-3.11.4/migration.mdx
  docs/versioned_docs/version-3.11.4/reference/01-configuration.mdx
  docs/versioned_docs/version-3.11.4/reference/02-events.mdx
  docs/versioned_docs/version-3.11.4/reference/03-methods.mdx
  docs/versioned_docs/version-3.11.4/reference/04-types.mdx
  docs/versioned_docs/version-3.11.4/reference/_category_.json
  docs/versioned_docs/version-3.11.4/troubleshooting.mdx
  docs/versioned_docs/version-3.11.4/usage.mdx
  docs/versioned_sidebars/version-3.11.4-sidebars.json
  docs/versions.json
  package.json
Due: none

fix(ci): add nkf gem for Ruby 3.4 pod install
  example/bare/Gemfile
  example/bare/Gemfile.lock
Due: none

feat: add TrueSheetPeek component
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPeekView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPeekViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/header.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetPeekView.h
  ios/TrueSheetPeekView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  ios/tvos/TrueSheetStubs.mm
  package.json
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.tsx
  src/TrueSheetPeek.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetPeekViewNativeComponent.ts
  src/index.ts
  src/mocks/index.ts
Due: lint, types, prettier

docs: note peek content placement
  docs/docs/guides/header.mdx
  src/TrueSheetPeek.tsx
  src/TrueSheetPeek.web.tsx
Due: lint, prettier

fix: measure peek detent through the peek content's bottom edge
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPeekView.kt
  docs/docs/guides/header.mdx
  docs/docs/reference/04-types.mdx
  example/bare/ios/Podfile.lock
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.tsx
  src/TrueSheetPeek.web.tsx
Due: lint, types, prettier

chore: update example
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix: harden peek measurement triggers
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPeekView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPeekViewManager.kt
  ios/TrueSheetPeekView.mm
  ios/TrueSheetView.mm
Due: none

docs: add peeking content guide
  docs/docs/guides/footer.mdx
  docs/docs/guides/header.mdx
  docs/docs/guides/peeking.mdx
  docs/docs/reference/04-types.mdx
Due: none

feat: add TrueSheetPeek component (#730)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPeekView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPeekViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/header.mdx
  docs/docs/guides/peeking.mdx
  docs/docs/reference/04-types.mdx
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetPeekView.h
  ios/TrueSheetPeekView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  ios/tvos/TrueSheetStubs.mm
  package.json
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.tsx
  src/TrueSheetPeek.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetPeekViewNativeComponent.ts
  src/index.ts
  src/mocks/index.ts
Due: lint, types, prettier

fix(ios): learn detent offset before present transition emits positions
  ios/TrueSheetViewController.mm
Due: none

docs: changelog entry for #731
  CHANGELOG.md
Due: none

refactor(ios): dedupe learn+emit at settled detents into settleAtDetentIndex
  ios/TrueSheetViewController.mm
Due: none

chore: fix basicsheet buttons
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(ios): learn detent offset before present transition emits positions (#731)
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

feat!: synchronous per-detent container layout
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  package.json
  src/TrueSheet.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(ios): drop AutoLayout constraints in favor of Yoga layout
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
  ios/TrueSheetView.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
  src/TrueSheet.tsx
Due: lint, prettier

feat!: auto-detect scrollables, deprecate scrollable prop
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
Due: lint, types, prettier

feat(android): resize container in realtime while dragging
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(android): synchronous Fabric state updates via JNI
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetStateUpdater.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/jni/TrueSheetStateUpdater.cpp
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

fix(android): allow sheet drag from views overlaying a scrollable
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

docs: add PR link to changelog entry
  CHANGELOG.md
Due: none

docs: add PR link to changelog entries
  CHANGELOG.md
Due: none

fix(android): allow sheet drag from views overlaying a scrollable (#734)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

chore(docs): require Node 24 for Vercel builds
  docs/package.json
Due: none

chore: run install
  yarn.lock
Due: none

feat(web): track sheet visible height in realtime while dragging
  CHANGELOG.md
  src/TrueSheet.web.tsx
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
