Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

refactor(android): replace DialogFragment with CoordinatorLayout (#344)
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetAnimator.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  android/src/main/res/anim/fast_fade_out.xml
  android/src/main/res/values/styles.xml
  docs/blog/2025/release-3-0.mdx
  docs/docs/guides/edge-to-edge.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

refactor(android): reorganize TrueSheetViewController and remove duplications
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

refactor(ios): update TrueSheetDetentCalculator to use delegate pattern
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
Due: none

fix(android): center bottom sheet horizontally on rotation
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

fix(android): collapse to lowest detent on dim tap when non-dismissible
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.5.1-beta.4
  package.json
Due: none

fix(ci): only run check-repro workflow on issues, not pull requests
  .github/workflows/check-repro.yml
Due: none

docs(android): update TrueSheetViewController class description
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): clip content to rounded corners on older API levels
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

fix(android): fade sheet before hiding when rn-screen modal shows
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): collapse to lowest detent on back press when non-dismissible
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): improve dim tap handling for stacked sheets
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: release 3.5.1-beta.5
  package.json
Due: none

fix(android): disable dragging on parent sheet when child is stacked
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): parent stacking after rn-screen dismissed
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

chore: release 3.5.1
  package.json
Due: none

docs: update docs
  docs/docs/guides/liquid-glass.mdx
  docs/docs/guides/navigation.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(android): sheet showing briefly when navigating within a stack
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
Due: none

chore: release 3.5.2
  package.json
Due: none

fix(ios): ignore TrueSheetView in scroll view pinning traversal
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

chore: release 3.5.3
  package.json
Due: none

fix(ios): defer initial presentation until view is in window hierarchy
  ios/TrueSheetView.mm
Due: none

chore: release 3.5.4
  package.json
Due: none

fix: remove pointerEvents from header, footer and host view
  src/TrueSheet.tsx
Due: lint, prettier

chore: release 3.5.5
  package.json
Due: none

feat(web): add shadow for web sheet
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): add 'none' option to stackBehavior prop
  docs/docs/guides/web.mdx
  docs/docs/reference/04-types.mdx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
Due: lint, types, prettier

chore: release 3.5.6
  package.json
Due: none

fix(web): remove pointerEvents from footer container
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.5.7
  package.json
Due: none

feat: add headerStyle and footerStyle props
  docs/docs/reference/01-configuration.mdx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
Due: lint, types, prettier

chore: release 3.5.8
  package.json
Due: none

fix(ios): use native backgroundEffect for blur on iOS 26.1+
  example/bare/ios/Podfile.lock
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.mm
  ios/utils/BlurUtil.h
  ios/utils/BlurUtil.mm
Due: none

refactor: rename blurTint to backgroundBlur
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/liquid-glass.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/BlankSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

fix(ios): use native backgroundEffect for blur on iOS 26.1+ (#350)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/liquid-glass.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/BlankSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/utils/BlurUtil.h
  ios/utils/BlurUtil.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

fix(android): dismiss keyboard and fix backdrop when dismissing sheet with focused input
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): extract keyboard utilities to KeyboardUtils
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

fix(android): restore isDismissing check.
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): add isDismissing check when setting back state after keyboard
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

ci: maybe fix build-ios
  .github/workflows/build.yml
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
