Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: add RefreshControl limitation note for Android (#254)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/guides/scrolling/scrolling.mdx
  example/src/components/sheets/FlatListSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheetGrabber.tsx
  src/__mocks__/index.js
  src/__tests__/TrueSheetMocks.test.tsx
  src/index.ts
Due: lint, types, prettier

chore: tidy
  example/ios/Podfile.lock
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
Due: none

chore: add draggable condition to grabber hitbox
  src/TrueSheet.tsx
Due: lint, prettier

docs: update minimum React Native version to 0.76 and add Expo install instructions
  README.md
  docs/docs/install.mdx
  docs/docs/migration.mdx
Due: none

fix: use Double instead of Float for detent values to preserve precision
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(ios): remove dispatch_after when emitting position after drag
  ios/TrueSheetViewController.mm
Due: none

feat: interpolate detent value during position changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/reanimated/reanimated.mdx
  example/ios/TrueSheetExample/Info.plist
  ios/TrueSheetViewController.mm
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, prettier

refactor: remove insetAdjustment and let iOS handle bottom insets natively
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix: update example Footer to handle bottom safe area inset
  example/src/components/Footer.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

docs: add safe area handling for footer and migration guide
  docs/docs/guides/footer.mdx
  docs/docs/migration.mdx
Due: none

chore: remove unused import in MapScreen
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix: improve detent precision, interpolation, and native safe area handling (#256)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/migration.mdx
  example/ios/TrueSheetExample/Info.plist
  example/src/components/Footer.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/fabric/TrueSheetViewNativeComponent.ts
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, types, prettier

feat(android): add bottom inset adjustment to match iOS behavior
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
Due: none

docs: update footer and migration docs for Android bottom inset support
  docs/docs/guides/footer.mdx
  docs/docs/migration.mdx
  example/src/components/Footer.tsx
Due: lint, prettier

feat(android): add bottom inset adjustment to match iOS behavior (#257)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  docs/docs/guides/footer.mdx
  docs/docs/migration.mdx
  example/src/components/Footer.tsx
Due: lint, prettier

chore: release 3.0.0-beta.18
  package-lock.json
  package.json
Due: none

chore: tidy
  src/TrueSheet.tsx
Due: lint, prettier

chore: change prettier lint to warn
  eslint.config.mjs
  example/ios/Podfile.lock
  scripts/clean.sh
Due: none

feat(example): add detent change log in MapScreen
  example/src/screens/MapScreen.tsx
Due: lint, prettier

feat(ios): emit consistent position values for lifecycle events
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: lint, prettier

refactor(ios): remove layoutTransitioning property
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix(ios): correct interpolated index and detent values for position changes
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(ios): update resolved position in viewDidLayoutSubviews
  ios/TrueSheetViewController.mm
Due: none

feat(example): add content toggle to MapScreen for testing dynamic height
  example/src/components/DemoContent.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): correct interpolated index and detent values for position changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(ios): extract findSegmentForPosition helper to reduce duplication
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(ios): emit detent change after sheet settles for programmatic resize
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: lint, prettier

refactor(ios): simplify position tracking and remove transition animation tracking
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(ios): emit realtime position changes when another controller is presented
  example/src/components/Header.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(android): adjust sheet position when content size changes at auto detent
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

docs: remove auto detent placement restriction note
  docs/docs/reference/01-configuration.mdx
Due: none

fix: correct interpolated index and detent values for position changes (#258)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/reference/01-configuration.mdx
  example/src/components/DemoContent.tsx
  example/src/components/Header.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: lint, prettier

chore: release 3.0.0-beta.19
  package-lock.json
  package.json
Due: none

docs: add v3.0 release blog and announcement banner
  docs/blog/2025/release-3-0.mdx
  docs/docusaurus.config.ts
Due: lint, types, prettier

chore: release 3.0.0
  package-lock.json
  package.json
Due: none

docs: update migration/release docs
  docs/blog/2025/release-3-0.mdx
  docs/docs/migration.mdx
Due: none

docs: update README
  README.md
Due: none

feat(ios): add custom grabber view with vibrancy effect
  example/ios/Podfile.lock
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

refactor(ios): simplify blur and grabber view setup
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

feat: add grabberOptions prop for customizing grabber appearance
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier
