Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    prettier:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: add dimmedAlpha prop on iOS
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
  ios/TrueSheetViewManager.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

Update build.gradle (#149)
  android/build.gradle
Due: none

chore: podfile.lock
  example/ios/Podfile.lock
Due: none

chore: release 2.0.2
  package.json
Due: none

feat: support stacked sheets
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
Due: none

chore: respect dimmed prop
  ios/TrueSheetView.swift
Due: none

fix(ios): add new arch flag to swift
  example/ios/Podfile.lock
  react-native-true-sheet.podspec
Due: none

fix(ios): add new arch flag to swift (#152)
  example/ios/Podfile.lock
  react-native-true-sheet.podspec
Due: none

chore: release 2.0.3
  package.json
Due: none

fix(android): touch events on android new arch
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  example/ios/Podfile.lock
Due: none

docs: updated gestures troubleshooting docs
  docs/docs/troubleshooting.mdx
  example/src/components/sheets/GestureSheet.tsx
Due: lint, prettier

fix(android): enable disallow intercept touch event
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

refactor: style objects
  example/src/components/DemoContent.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: remove js from prettier
  lefthook.yml
  package.json
Due: none

feat: add android support
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetView.swift
Due: none

fix(android): touch events on android new arch (#156)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  docs/docs/troubleshooting.mdx
  example/ios/Podfile.lock
  example/src/components/DemoContent.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: update prettier
  .prettierignore
Due: none

chore: update clean script
  scripts/clean.sh
Due: none

chore: release 2.0.4
  package.json
Due: none

chore: support RN 78 fixes #158
  LICENSE
  TrueSheet.podspec
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  babel.config.js
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/Podfile.lock
  example/package.json
  ios/TrueSheet-Bridging-Header.h
  package.json
  tsconfig.json
  yarn.lock
Due: lint, types, prettier

chore: support RN 78 (#160)
  LICENSE
  TrueSheet.podspec
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  babel.config.js
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/Podfile.lock
  example/package.json
  ios/TrueSheet-Bridging-Header.h
  package.json
  tsconfig.json
  yarn.lock
Due: lint, types, prettier

chore: release 2.0.5
  package.json
Due: none

chore: use viewControllerWillAppear
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
Due: none

chore: support RN 80
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

chore: support RN 80 (#187)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

chore(example): upgrade to RN 0.79.4
  example/Gemfile
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/Podfile.lock
  example/ios/TrueSheetExample/AppDelegate.swift
  example/package.json
  yarn.lock
Due: none

chore(example): fix types
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

fix(TrueSheetDialog): update content height handling for auto size
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

fix: android auto responsive sheet size
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

Remove third argument to jSTouchDispatcher.handleTouchEvent call, which causes a build error on Android.
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

feat: fix auto responsive sheet size
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

feat: solution 1
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

feat: solution 2
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

feat: disable dragging on auto size animation
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

refactor: simplify code, forget about animated size change
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: remove unused code
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

feat: add support for headers and change the layout approach
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/KeyboardManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  example/app.json
  example/src/components/sheets/FlatListSheet.tsx
  ios/Extensions/UIView+pinTo.swift
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
  ios/TrueSheetViewManager.m
  lib/commonjs/TrueSheet.js
  lib/commonjs/TrueSheet.js.map
  lib/commonjs/TrueSheetHeader.js
  lib/commonjs/TrueSheetHeader.js.map
  lib/module/TrueSheet.js
  lib/module/TrueSheet.js.map
  lib/module/TrueSheetHeader.js
  lib/module/TrueSheetHeader.js.map
  lib/typescript/commonjs/src/TrueSheet.d.ts
  lib/typescript/commonjs/src/TrueSheet.d.ts.map
  lib/typescript/commonjs/src/TrueSheet.types.d.ts
  lib/typescript/commonjs/src/TrueSheet.types.d.ts.map
  lib/typescript/commonjs/src/TrueSheetHeader.d.ts
  lib/typescript/commonjs/src/TrueSheetHeader.d.ts.map
  lib/typescript/module/src/TrueSheet.d.ts
  lib/typescript/module/src/TrueSheet.d.ts.map
  lib/typescript/module/src/TrueSheet.types.d.ts
  lib/typescript/module/src/TrueSheet.types.d.ts.map
  lib/typescript/module/src/TrueSheetHeader.d.ts
  lib/typescript/module/src/TrueSheetHeader.d.ts.map
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheetHeader.tsx
Due: lint, types, prettier

fix: android auto responsive sheet size (#193)
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

fix(ios): add ios 15 condition to fix build issue
  ios/TrueSheetView.swift
Due: none
