Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: preserve pinned footer overlap during keyboard transitions
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/content/docs/next/guides/footer.mdx
  docs/content/docs/next/guides/keyboard.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  ios/core/TrueSheetKeyboardObserver.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.types.ts
Due: lint, types, prettier

docs: add changelog for #849
  CHANGELOG.md
Due: none

feat: add footerOptions.avoidKeyboard (#849)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/content/docs/next/guides/footer.mdx
  docs/content/docs/next/guides/keyboard.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  ios/core/TrueSheetKeyboardObserver.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add footer keyboard avoidance to v4 migration
  docs/content/docs/next/migration.mdx
  skills/truesheet-usage/references/advanced-patterns.md
Due: none

fix(android): stabilize grabber resizing and footer
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): keep the peek fold when screens swap
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
Due: none

docs: link grabber fix changelog to #850
  CHANGELOG.md
Due: none

chore: add changelog entry for #851
  CHANGELOG.md
Due: none

fix(android): stabilize grabber resizing and footer (#850)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): restore scrolling after rotation
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

docs: link scrolling fix changelog to #852
  CHANGELOG.md
Due: none

chore(example): disable alwaysBounceVertical on FlatList
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

fix(android): restore scrolling after rotation (#852)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

fix: last-attached peek wins on both platforms, drop warning
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/(home)/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/peek.tsx
  example/shared/src/screens/PeekSheetContent.tsx
  example/shared/src/screens/index.ts
  ios/TrueSheetContainerView.mm
Due: lint, types, prettier

fix(web): last-attached peek wins, round peek measurement
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.web.tsx
Due: lint, prettier

fix(android): keep the peek fold when screens swap (#851)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/(home)/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/peek.tsx
  example/shared/src/screens/PeekSheetContent.tsx
  example/shared/src/screens/index.ts
  ios/TrueSheetContainerView.mm
  src/TrueSheet.web.tsx
  src/TrueSheetPeek.web.tsx
Due: lint, types, prettier

docs: add TrueSheetOverlay to v4 migration guide
  docs/content/docs/next/migration.mdx
Due: none

docs: add TrueSheetOverlay to v4 migration guide (#853)
  docs/content/docs/next/migration.mdx
Due: none

chore: release 4.0.0-beta.15
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(android): dedupe overlay state pushes
  android/src/main/java/com/lodev09/truesheet/TrueSheetOverlayView.kt
Due: none

fix(android): dedupe overlay state pushes (#854)
  android/src/main/java/com/lodev09/truesheet/TrueSheetOverlayView.kt
Due: none

fix(ios): align footer with keyboard
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
Due: none

chore: update changelog for #855
  CHANGELOG.md
Due: none

fix(ios): align footer with keyboard (#855)
  CHANGELOG.md
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
Due: none

fix(android): prevent dragging dimmed parent sheets
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
Due: none

chore: link changelog to #856
  CHANGELOG.md
Due: none

fix(android): prevent dragging dimmed parent sheets (#856)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
Due: none

chore(example): add nestedScrollEnabled to MapScreen sheet
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): let the sheet own its nested-scrolling child
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

docs: add changelog entry for #857
  CHANGELOG.md
Due: none

refactor: tighten comments to match surrounding style
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

refactor: drop the nested-scrolling-child change
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

fix(web): stabilize sheet layout and footer sizing
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/web/layout.ts
  src/web/vaul/helpers.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

chore: link web layout changelog to PR
  CHANGELOG.md
Due: none

chore: remove changelog entry
  CHANGELOG.md
Due: none

fix(web): stabilize sheet layout and footer sizing (#858)
  src/TrueSheet.web.tsx
  src/web/layout.ts
  src/web/vaul/helpers.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

chore: release 4.0.0-beta.16
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(ios): dismiss a sheet that is unmounted while still presented
  ios/TrueSheetView.mm
Due: none

docs: add changelog entry for #859
  CHANGELOG.md
Due: none

test(example): reproduce the Android footer press bug (#861)
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/_layout.tsx
  example/expo/app/footer-press.tsx
  example/shared/src/screens/FooterPressScreen.tsx
  example/shared/src/screens/index.ts
Due: lint, types, prettier
