Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(example): use large titles on test screens
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/TestStackNavigator.tsx
  example/expo/app/_layout.tsx
  example/expo/app/test-stack/_layout.tsx
  example/shared/src/screens/TestScreen.tsx
Due: lint, prettier

chore(example): keep opaque test headers on android
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/TestStackNavigator.tsx
  example/expo/app/_layout.tsx
  example/expo/app/test-stack/_layout.tsx
  example/shared/src/utils/index.ts
  example/shared/src/utils/navigation.ts
Due: lint, types, prettier

fix(ios): keep native stack large title working with a mounted sheet (#890)
  CHANGELOG.md
  docs/content/docs/next/troubleshooting.mdx
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/TestStackNavigator.tsx
  example/expo/app/_layout.tsx
  example/expo/app/test-stack/_layout.tsx
  example/shared/src/screens/TestScreen.tsx
  example/shared/src/utils/index.ts
  example/shared/src/utils/navigation.ts
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.tsx
Due: lint, types, prettier

chore: release 4.0.0-beta.22
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix(ios): don't scroll the scrollable for an input outside it
  ios/TrueSheetContentView.mm
Due: none

fix(ios): don't scroll the scrollable for an input outside it (#891)
  CHANGELOG.md
  ios/TrueSheetContentView.mm
Due: none

fix(android): don't stack a new sheet on a dismissing one
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(android): don't stack a new sheet on a dismissing one (#893)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(android): don't stack a new sheet on a dismissing one (v3)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(android): don't stack a new sheet on a dismissing one (v3) (#894)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(ios): don't scroll the scrollable for an input outside it (v3)
  CHANGELOG.md
  ios/TrueSheetContentView.mm
Due: none

fix(android): don't scroll the scrollable for an input outside it
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
Due: none

fix: don't scroll the scrollable for an input outside it (v3) (#895)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  ios/TrueSheetContentView.mm
Due: none

chore: release 4.0.0-beta.23
  docs/content/docs/latest/meta.json
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

chore: add changelog entry for #896
  CHANGELOG.md
Due: none

fix: warn on missing anchor and report resized route on Expo Router 58
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/extendTrueSheetRouter.ts
Due: lint, types, prettier

fix: import codegen types from the react-native namespace
  src/fabric/TrueSheetFooterViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore(example): bump @lugg/maps to 1.1.3
  example/bare/package.json
  example/expo-58/package.json
  example/expo/package.json
  example/shared/package.json
  yarn.lock
Due: none

fix: keep sheets pushed while another is dismissing
  src/navigation/__tests__/createTrueSheetRouter.test.ts
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/types.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: add changelog entry for #898
  CHANGELOG.md
Due: none

fix: keep sheets pushed while another is dismissing (#898)
  CHANGELOG.md
  src/navigation/__tests__/createTrueSheetRouter.test.ts
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/types.ts
  src/navigation/types.ts
Due: lint, types, prettier

test: cover Expo Router 58 sheet router
  src/navigation/__tests__/extendTrueSheetRouter.test.ts
Due: lint, types, prettier

docs: cap v3 compatibility at Expo SDK 57
  README.md
  docs/content/docs/latest/install.mdx
  docs/content/docs/next/install.mdx
Due: none

chore: release 4.0.0-beta.24
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix: handle dismiss during an in-flight present
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  jest.setup.js
  src/TrueSheet.tsx
  src/__tests__/TrueSheet.test.tsx
Due: lint, prettier

chore: add changelog entry for #900
  CHANGELOG.md
Due: none

fix(web): match native present/dismiss semantics
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
  src/__tests__/TrueSheet.web.test.tsx
Due: lint, prettier

fix: harden dismiss during in-flight present
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  src/TrueSheet.tsx
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheet.web.test.tsx
Due: lint, prettier

fix: handle dismiss during an in-flight present (#900)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  jest.setup.js
  src/TrueSheet.tsx
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheet.web.test.tsx
Due: lint, prettier

chore: add ios-e2e agent skill
  .agents/skills/ios-e2e/SKILL.md
  .agents/skills/ios-e2e/references/frame-analysis.md
  .agents/skills/ios-e2e/references/native-debugging.md
  .agents/skills/ios-e2e/references/runtime-hooks.md
  .agents/skills/ios-e2e/scripts/sheet-hooks.js
  .agents/skills/ios-e2e/scripts/track_column.py
  .claude/skills/ios-e2e
  .gitignore
Due: none

docs: changelog for ios-e2e skill
  CHANGELOG.md
Due: none
