Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(android): keep footer stable while the sheet resizes
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): route footer touches through the controller root
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): route footer touches through the controller root (#864)
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): keep footer stable while the sheet resizes (#865)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: release 4.0.0-beta.17
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(android): apply content size changes made during present
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/content/docs/next/troubleshooting.mdx
  skills/truesheet-usage/references/troubleshooting.md
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

fix(android): apply content size changes made during present (#867)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/content/docs/next/troubleshooting.mdx
  skills/truesheet-usage/references/troubleshooting.md
Due: none

chore: release 4.0.0-beta.18
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(android): stop present() looping on a keyboard with no focused view
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

chore: add changelog entry for #869
  CHANGELOG.md
Due: none

fix(android): refine keyboard dismissal and focus restoration
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

chore: revert MapScreen example
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): stop present() looping on a keyboard with no focused view (#869)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): stop present() looping on a keyboard with no focused view (v3)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

chore: add changelog entry for #870
  CHANGELOG.md
Due: none

fix(android): stop present() looping on a keyboard with no focused view (v3) (#870)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

chore: update pod file
  example/bare/ios/Podfile.lock
Due: none

chore: release 4.0.0-beta.19
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(ios): guard sheet setters missing on some iOS builds
  ios/TrueSheetViewController.mm
Due: none

chore: add changelog entry
  CHANGELOG.md
Due: none

fix(ios): guard backgroundEffect setter missing on some iOS 26.1 builds (v3)
  ios/TrueSheetViewController.mm
Due: none

fix(ios): guard backgroundEffect setter missing on some iOS 26.1 builds (v3) (#873)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
Due: none

fix(ios): guard sheet setters missing on some iOS builds (#872)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
Due: none

feat: add custom sheet backgrounds
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/shared/src/screens/TestScreen.tsx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetBackground.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheetMocks.test.tsx
  src/mocks/index.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: add background slot changelog
  CHANGELOG.md
Due: none

chore: update example
  example/shared/src/screens/TestScreen.tsx
Due: lint, prettier

feat: add custom sheet backgrounds (#874)
  CHANGELOG.md
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/shared/src/screens/TestScreen.tsx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetBackground.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheetMocks.test.tsx
  src/mocks/index.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: add backgrounds to v4 migration
  docs/content/docs/next/migration.mdx
  skills/truesheet-usage/references/advanced-patterns.md
Due: none

refactor!: use native iOS background effects
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/content/docs/latest/guides/liquid-glass.mdx
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/migration-v3.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: add effect backgrounds changelog
  CHANGELOG.md
Due: none

refactor!: use native iOS background effects (#875)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/content/docs/latest/guides/liquid-glass.mdx
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/migration-v3.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat: add detent backgrounds
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheet.web.test.tsx
  src/__tests__/detentBackgrounds.test.ts
  src/detentBackgrounds.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: link detent backgrounds changelog
  CHANGELOG.md
Due: none

refactor: use proper type for blur and color
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat: add detent backgrounds (#876)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheet.web.test.tsx
  src/__tests__/detentBackgrounds.test.ts
  src/detentBackgrounds.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

refactor: use never type for optional blur/color
  src/TrueSheet.types.ts
Due: lint, types, prettier

docs: add backgrounds guide
  docs/content/docs/next/guides/backgrounds.mdx
  docs/content/docs/next/guides/dimming.mdx
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/guides/meta.json
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
