Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

docs: add changelog entry for the Expo Router navigation types fix
  CHANGELOG.md
Due: none

chore: revert changelog, this is part of standard-navigation refactor
  CHANGELOG.md
Due: none

fix: source Expo Router navigation types from expo-router (#806)
  src/mocks/navigationExpoRouter.ts
  src/navigation/__tests__/createTrueSheetRouter.test.ts
  src/navigation/base-types.ts
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/base-types.ts
  src/navigation/expo-router/index.ts
  src/navigation/expo-router/types.ts
  src/navigation/index.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: release 4.0.0-beta.6
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(ios): resolve the scrollable when its handle changes
  ios/TrueSheetContentView.mm
Due: none

docs: add changelog entry for the scrollable resolve fix
  CHANGELOG.md
Due: none

chore(example): repro late-mounted scrollable in ScrollView sheet
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

fix(ios): resolve a late-mounted scrollable after the mount transaction
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: none

chore: changelog
  CHANGELOG.md
Due: none

Revert "chore: changelog"
  CHANGELOG.md
Due: none

fix(ios): resolve a late-mounted scrollable after the mount transaction (#810)
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: lint, prettier

fix(ios): resolve fractional detents against the app window in windowed iPad apps
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

docs: changelog entry for #814
  CHANGELOG.md
Due: none

fix(ios): resolve fractional detents lazily against the live window
  CHANGELOG.md
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

chore(example): support iPad windowing in the bare example
  example/bare/ios/TrueSheetExample/Info.plist
Due: none

chore(example): support iPad windowing in the expo example
  example/expo/app.config.ts
Due: lint, types, prettier

docs: point changelog entry to #815
  CHANGELOG.md
Due: none

fix(ios): resolve fractional detents against the app window in windowed iPad apps (#815)
  CHANGELOG.md
  example/bare/ios/TrueSheetExample/Info.plist
  example/expo/app.config.ts
  ios/TrueSheetViewController.mm
Due: lint, types, prettier

feat: add TrueSheetOverlay for rendering content above sheets
  android/src/main/java/com/lodev09/truesheet/TrueSheetOverlayView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetOverlayViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetStateUpdater.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetOverlayRootView.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetLayoutUtils.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.cpp
  docs/docs/guides/overlays.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetOverlayView.h
  ios/TrueSheetOverlayView.mm
  ios/TrueSheetView.mm
  ios/core/TrueSheetOverlayContainerView.h
  ios/core/TrueSheetOverlayContainerView.mm
  ios/tvos/TrueSheetStubs.mm
  package.json
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheetOverlay.tsx
  src/TrueSheetOverlay.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetOverlayViewNativeComponent.ts
  src/index.ts
  src/mocks/index.ts
  yarn.lock
Due: lint, types, prettier

fix(android): register overlay descriptor, pass through touches, keep Fabric child frames
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetOverlayRootView.kt
  android/src/main/jni/TrueSheetSpec.h
  react-native.config.js
  src/TrueSheetOverlay.tsx
Due: lint, prettier

fix(ios): keep overlays above a presenting sheet from its first frame
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

docs: changelog entry for TrueSheetOverlay
  CHANGELOG.md
Due: none

feat: add TrueSheetOverlay for rendering content above sheets (#817)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetOverlayView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetOverlayViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetStateUpdater.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetOverlayRootView.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetLayoutUtils.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.cpp
  docs/docs/guides/overlays.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetOverlayView.h
  ios/TrueSheetOverlayView.mm
  ios/TrueSheetView.mm
  ios/core/TrueSheetOverlayContainerView.h
  ios/core/TrueSheetOverlayContainerView.mm
  ios/tvos/TrueSheetStubs.mm
  package.json
  react-native.config.js
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheetOverlay.tsx
  src/TrueSheetOverlay.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetOverlayViewNativeComponent.ts
  src/index.ts
  src/mocks/index.ts
  yarn.lock
Due: lint, types, prettier

chore: release 4.0.0-beta.7
  example/bare/ios/Podfile.lock
  ios/TrueSheetContentView.h
  ios/TrueSheetViewController.mm
  package.json
Due: none

docs: showcase TrueSheetOverlay in README v4 section
  README.md
Due: none

fix(ios): keep a recycled host's dismissing controller from reaching the next mount
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  ios/TrueSheetView.mm
Due: none

docs: changelog entry for #818
  CHANGELOG.md
Due: none

fix(ios): keep a recycled host's dismissing controller from reaching the next mount (#818)
  CHANGELOG.md
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  ios/TrueSheetView.mm
Due: none

fix(android): skip explicit Kotlin plugin when AGP provides built-in Kotlin
  android/build.gradle
Due: none

docs: add changelog entry for AGP 9 built-in Kotlin fix
  CHANGELOG.md
Due: none

fix(android): skip explicit Kotlin plugin when AGP provides built-in Kotlin (#819)
  CHANGELOG.md
  android/build.gradle
Due: none

fix(android): skip explicit Kotlin plugin when AGP provides built-in Kotlin
  CHANGELOG.md
  android/build.gradle
Due: none

fix(android): skip explicit Kotlin plugin when AGP provides built-in Kotlin (#820)
  CHANGELOG.md
  android/build.gradle
Due: none

docs: document native stack limitation inside sheet screens
  docs/docs/guides/navigation.mdx
Due: none

chore: add changelog entry
  CHANGELOG.md
Due: none

docs: document native stack limitation inside sheet screens (#822)
  CHANGELOG.md
  docs/docs/guides/navigation.mdx
Due: none

fix(ios): let overlay children install their own view controllers
  CHANGELOG.md
  ios/TrueSheetOverlayView.mm
Due: none

chore: link the PR in the changelog entry
  CHANGELOG.md
Due: none

chore: trim comments to match the surrounding style
  ios/TrueSheetOverlayView.mm
Due: none

docs: note react-native-screens limitation in overlay guide, trim changelog
  CHANGELOG.md
  docs/docs/guides/overlays.mdx
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
