Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    prettier:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(android): corner radius & auto size bug
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

chore: tidy
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

chore: tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

chore: release 1.1.1
  package.json
Due: none

chore: disable new-arch, clip android background, update example
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  example/android/gradle.properties
  example/ios/Podfile
  example/package.json
  example/src/App.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  package.json
  scripts/clean.sh
  yarn.lock
Due: lint, prettier

feat(android): implement drag events
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEvent.kt
Due: none

chore: update clean script
  example/ios/Podfile.lock
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
  scripts/clean.sh
Due: none

feat: implement reanimated (not yet working)
  example/src/screens/MapScreen.tsx
  example/src/utils/constants.ts
  ios/TrueSheetView.swift
Due: lint, types, prettier

chore: tidy
  example/src/screens/MapScreen.tsx
Due: lint, prettier

feat(ios): support reanimated events
  example/src/components/sheets/BasicSheet.tsx
  example/src/hooks/index.ts
  example/src/hooks/useDragChangeHandler.ts
  example/src/screens/MapScreen.tsx
  ios/TrueSheetEvent.swift
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
  ios/TrueSheetViewManager.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

refactor(ios): use synthetic data for events
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.swift
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

refactor(android): events
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/DragBeginEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEndEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEvent.kt
  example/src/screens/MapScreen.tsx
  package-lock.json
  yarn.lock
Due: lint, prettier

fix(ios): correct size when changing size programmatically
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
Due: lint, prettier

refactor(android): consistency with ios
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor(android): normalize event dispatcher
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/ContainerSizeChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DismissEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragBeginEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/DragEndEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/MountEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/PresentEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/SizeChangeEvent.kt
Due: none

refactor(android): organize code
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

chore: tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
Due: none

chore: deps
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  android/gradle.properties
  example/README.md
  example/android/app/src/main/java/truesheet/example/MainActivity.kt
  example/ios/Podfile.lock
  example/ios/TrueSheetExample-Bridging-Header.h
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/ios/TrueSheetExample/AppDelegate.h
  example/ios/TrueSheetExample/AppDelegate.mm
  example/ios/TrueSheetExample/AppDelegate.swift
  example/ios/TrueSheetExample/main.m
  example/ios/TrueSheetExampleTests/Info.plist
  example/ios/TrueSheetExampleTests/TrueSheetExampleTests.m
  example/package.json
  example/src/App.tsx
  package-lock.json
  package.json
  yarn.lock
Due: lint, prettier

fix(ios): fix layout issue with new arch
  ios/Extensions/UIView+pinTo.swift
  ios/TrueSheetView.swift
Due: none

fix(ios): events in new arch
  example/ios/Podfile
  example/src/App.tsx
  ios/TrueSheetView.swift
Due: lint, prettier

fix(ios): fix layout issue with new arch (#140)
  example/ios/Podfile
  example/src/App.tsx
  ios/Extensions/UIView+pinTo.swift
  ios/TrueSheetView.swift
Due: lint, prettier

fix(android): events on new arch
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/android/gradle.properties
  ios/TrueSheetView.swift
Due: none

refactor(android): cleanup code
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  example/package.json
  yarn.lock
Due: none

chore: deps
  example/ios/Podfile.lock
  package.json
Due: none

chore: release 2.0.0
  package.json
Due: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: disable new arch on example
  example/android/gradle.properties
  example/ios/Podfile
Due: none

fix(android): add support for RN 0.78.0
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

fix(android): add support for RN 0.78.0 (#143)
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

fix: added null check on Android ViewGroup
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

chore: improved null check on Android ViewGroup
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

chore: minor formatting/linting
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
Due: none

fix: add android viewgroup null check (#146)
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor(example): fix typo
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  example/src/hooks/useDragChangeHandler.ts
Due: lint, types, prettier

chore: release 2.0.1
  package.json
Due: none

docs: fix typo
  docs/docs/guides/reanimated/reanimated.mdx
Due: none

Update build.gradle
  android/build.gradle
Due: none
