Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ios): fix grabberOptions color handling
  ios/TrueSheetView.mm
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(ios): consolidate blur options into blurOptions prop
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: use WithDefault in codegen for blurOptions
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: add cornerRadius option to grabberOptions
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/reference/04-types.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: iOS blur and grabber improvements (#259)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/ios/Podfile.lock
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(cpp): use yoga namespace for StyleSizeLength
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.cpp
Due: none

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  ios/TrueSheetView.mm
  ios/core/TrueSheetGrabberView.mm
Due: none

chore: add release-it hooks
  package.json
Due: none

refactor(cpp): use yoga namespace for StyleSizeLength (#260)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.cpp
  ios/TrueSheetView.mm
  ios/core/TrueSheetGrabberView.mm
Due: none

fix(ios): emit -1 position when sheet is going to dismiss
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.mm
Due: lint, prettier

chore: regenerate gemfile
  example/Gemfile.lock
Due: none

fix(ios): emit -1 position when sheet is going to dismiss (#262)
  example/Gemfile.lock
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.mm
Due: lint, prettier

chore: release 3.0.1
  package-lock.json
  package.json
Due: none

chore: restore release-it --only-version
  package.json
Due: none

fix: fix order of focus & dismiss events
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.0.2
  package-lock.json
  package.json
Due: none

feat(ios): wait for presented VC to dismiss before initial present
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

feat(android): wait for presented sheet to dismiss before initial present
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(ios): skip presenting VC that is being dismissed
  docs/docs/guides/navigation/navigation.mdx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

chore: revert MapScreen.tsx example changes
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(ios): skip presenting VC that is being dismissed (#265)
  docs/docs/guides/navigation/navigation.mdx
  ios/TrueSheetView.mm
Due: none

chore: release 3.0.3
  package-lock.json
  package.json
Due: none

fix(ios): support presenting react-navigation modals from nested sheets
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/ModalScreen.tsx
  example/src/screens/TestScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(ios): support presenting react-navigation modals from nested sheets (#266)
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/ModalScreen.tsx
  example/src/screens/TestScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

chore(example): run pod install
  example/ios/Podfile.lock
Due: none

chore: release 3.0.4
  package-lock.json
  package.json
Due: none

Fix android back button press when dismissible false
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(android): add onBackPress event
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  example/src/components/sheets/PromptSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add onBackPress event documentation
  docs/docs/reference/02-events.mdx
Due: none

feat(android): add onBackPress event (#269)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  docs/docs/reference/02-events.mdx
  example/src/components/sheets/PromptSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix: make react-native-reanimated truly optional
  docs/blog/2025/release-3-0.mdx
  docs/docs/guides/dimming/dimming.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/migration.mdx
  example/src/App.tsx
  example/src/components/ReanimatedExample.tsx
  example/src/screens/MapScreen.tsx
  package.json
  src/index.ts
  tsconfig.json
Due: lint, types, prettier

fix: make react-native-reanimated truly optional (#271)
  docs/blog/2025/release-3-0.mdx
  docs/docs/guides/dimming/dimming.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/migration.mdx
  example/src/App.tsx
  example/src/components/ReanimatedExample.tsx
  example/src/screens/MapScreen.tsx
  package.json
  src/index.ts
  tsconfig.json
Due: lint, types, prettier

chore: release 3.1.0-beta.0
  package-lock.json
  package.json
Due: none

fix(ios): add component view class functions for RN 0.79
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
Due: none

chore: tidy
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
Due: none

chore: regenerate lock files
  example/ios/Podfile.lock
  yarn.lock
Due: none

fix(ios): add component view class functions for RN 0.79 (#272)
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
Due: none

fix(reanimated): fix reanimated components relative imports
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/useReanimatedPositionChangeHandler.ts
Due: lint, types, prettier

fix(example): fix example metro to not require built lib folder
  example/metro.config.js
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/useReanimatedPositionChangeHandler.ts
Due: lint, types, prettier

chore: release 3.1.0-beta.1
  package-lock.json
  package.json
Due: none
