Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: footer touch swallowing and safe area inset bugs
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
Due: none

fix: macOS "Designed for iPhone" liquid glass background + mouse drag support
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
Due: none

docs: add changelog entry for macOS compatibility fixes
  CHANGELOG.md
Due: none

fix(ios): re-apply scroll edge interactions when header/footer size changes
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
Due: none

fix(ios): animate sheet back to detent on keyboard dismiss
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/core/TrueSheetKeyboardObserver.mm
Due: none

fix: guard backgroundEffect against _UIFormSheetPresentationController
  ios/TrueSheetViewController.mm
Due: none

fix(android): use ViewCompat.setStateDescription for API < 30 compat
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
Due: none

docs: add changelog entry for ViewCompat fix
  CHANGELOG.md
Due: none

fix(android): use ViewCompat.setStateDescription for API < 30 compat (#606)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
Due: none

chore: release 3.10.0-beta.3
  ios/TrueSheetContainerView.mm
  package.json
Due: none

fix(ios): clean up gesture recognizer targets on sheet dismiss
  ios/TrueSheetViewController.mm
  ios/utils/GestureUtil.h
  ios/utils/GestureUtil.mm
Due: none

refactor(ios): use codegen enum types instead of NSInteger casts
  README.md
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/utils/BlurUtil.h
  ios/utils/BlurUtil.mm
Due: none

docs: update changelog for #612
  CHANGELOG.md
Due: none

refactor(ios): use codegen enum types instead of NSInteger casts (#612)
  CHANGELOG.md
  README.md
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/utils/BlurUtil.h
  ios/utils/BlurUtil.mm
Due: none

fix: add missing layout and screenLayout props to TrueSheetNavigator
  src/navigation/createTrueSheetNavigator.tsx
Due: lint, prettier

fix: add missing layout and screenLayout props to TrueSheetNavigator
  CHANGELOG.md
Due: none

fix: add missing layout and screenLayout props to TrueSheetNavigator (#615)
  CHANGELOG.md
  src/navigation/createTrueSheetNavigator.tsx
Due: lint, prettier

fix: show screen on deep linking
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

fix: add fix for initial present when deep linking to sheet
  CHANGELOG.md
Due: none

refactor: remove 'closing' property from TrueSheet navigation and align with native stack behaviour
  src/__tests__/TrueSheetMocks.test.tsx
  src/mocks/navigation.ts
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/types.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
Due: lint, types, prettier

refactor: remove isMountedRef and its effect from useSheetScreenState
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

fix: auto dedent should respect footer height
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  src/TrueSheet.web.tsx
Due: lint, prettier

feat: add truesheet-usage AI skill (#1)
  docs/docs/usage.mdx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/api.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

docs: update changelog for #621
  CHANGELOG.md
Due: none

docs: mention AI skill usage and installation in README
  README.md
Due: none

docs: move skill changelog entry to Others, fix reanimated version and worklets notes
  CHANGELOG.md
  skills/truesheet-usage/references/advanced-patterns.md
Due: none

docs: use correct the changelog order, new changelog should come in last
  CHANGELOG.md
Due: none

feat: add truesheet-usage AI skill (#621)
  CHANGELOG.md
  README.md
  docs/docs/usage.mdx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/api.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

docs: add changelog entry for keyboard dismiss animation fix
  CHANGELOG.md
Due: none

chore: update example
  example/bare/ios/Podfile.lock
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

chore: upgrade example to Expo SDK 55 and RN 0.83
  .yarn/patches/react-native-screens-npm-4.23.0-5179fb8d33.patch
  example/bare/package.json
  example/expo/app.config.ts
  example/expo/package.json
  yarn.lock
Due: lint, types, prettier

chore: bump root devDeps and resolutions to match examples
  package.json
  yarn.lock
Due: none

chore: bump @lugg/maps to beta, update shared deps
  example/bare/ios/Podfile.lock
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/package.json
  example/expo/package.json
  example/shared/package.json
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  yarn.lock
Due: none

chore: fix react-navigation version mismatch in examples
  example/bare/package.json
  example/expo/package.json
  yarn.lock
Due: none

chore: add changelog entry
  CHANGELOG.md
Due: none

chore: upgrade example to Expo SDK 55 and RN 0.83 (#630)
  .yarn/patches/react-native-screens-npm-4.23.0-5179fb8d33.patch
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/package.json
  example/expo/app.config.ts
  example/expo/package.json
  example/shared/package.json
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  package.json
  yarn.lock
Due: lint, types, prettier

fix(ios): patch RN 0.83 keyboard animation regression
  .yarn/patches/react-native-npm-0.83.4.patch
  docs/docs/troubleshooting.mdx
  example/bare/package.json
  example/expo/package.json
  yarn.lock
Due: none

docs: add changelog entry for RN 0.83 keyboard fix
  CHANGELOG.md
Due: none

docs: move changelog entry to Others section
  CHANGELOG.md
Due: none

fix(ios): patch RN 0.83 keyboard animation regression (#632)
  .yarn/patches/react-native-npm-0.83.4.patch
  CHANGELOG.md
  docs/docs/troubleshooting.mdx
  example/bare/package.json
  example/expo/package.json
  yarn.lock
Due: none
