Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

perf(android): reduce per-frame work during position emission
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

docs: changelog for #797
  CHANGELOG.md
Due: none

fix(android): keep parent sheet in sync with child during auto detent resize (#797)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

docs: simplify unreleased changelog and drop v3 entries
  CHANGELOG.md
Due: none

fix(android): drive keyboard scroll inset per animation frame for smooth tracking
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix(android): smooth keyboard scroll tracking in scrollable sheets (#798)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
Due: none

fix(android): prevent absolute footer jump on keyboard show and hide
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: release 4.0.0-beta.4
  example/bare/ios/Podfile.lock
  package.json
Due: none

docs(skills): update truesheet-usage skill for v4
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

docs: fix global resize example to use detent index
  docs/docs/reference/03-methods.mdx
  docs/versioned_docs/version-3.11.12/reference/03-methods.mdx
Due: none

docs(skills): update truesheet-usage skill for v4 (#799)
  CHANGELOG.md
  docs/docs/reference/03-methods.mdx
  docs/versioned_docs/version-3.11.12/reference/03-methods.mdx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

docs: announce v4 beta in README
  README.md
Due: none

feat: add prewarm prop to mount sheet content before presentation
  docs/docs/reference/01-configuration.mdx
  jest.setup.js
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/__tests__/TrueSheet.test.tsx
Due: lint, types, prettier

docs: update README
  README.md
Due: none

docs: add changelog entry for prewarm
  CHANGELOG.md
Due: none

docs: update README v4 migration link
  README.md
Due: none

fix(ios): retry blocked auto-present and end recycled controller sessions
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

fix(ios): unregister the view tag actually registered with TrueSheetModule
  ios/TrueSheetView.mm
Due: none

docs: add changelog entry for v4 lifecycle fixes
  CHANGELOG.md
Due: none

fix(ios): don't retarget detents from sheet-driven content resizes
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(ios): emit drag positions from layout passes
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix: measure natural height for container-derived content
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: lint, prettier

chore: temp
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

chore: revert
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix: stop flex-sized content from churning detents and emit drag positions from layout (#801)
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  ios/TrueSheetViewController.mm
Due: none

refactor: remove scrollableBounded state
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.web.tsx
Due: lint, prettier

refactor: remove scrollableBounded state (#802)
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.web.tsx
Due: lint, prettier

refactor: rename prewarm prop to lazy
  CHANGELOG.md
  docs/docs/reference/01-configuration.mdx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/__tests__/TrueSheet.test.tsx
Due: lint, types, prettier

feat: Add lazy prop to control mounting content before presentation (#792)
  CHANGELOG.md
  docs/docs/reference/01-configuration.mdx
  jest.setup.js
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/__tests__/TrueSheet.test.tsx
Due: lint, types, prettier

chore: release 4.0.0-beta.5
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(ios): Measure sheet content before presentation
  ios/TrueSheetView.mm
Due: none

docs: Add iOS auto detent fix to changelog
  CHANGELOG.md
Due: none

fix(ios): Wait for initial sheet measurements to settle
  ios/TrueSheetView.mm
Due: none

fix(ios): Premeasure controller-bound content
  ios/TrueSheetView.mm
Due: none

fix(ios): Reparent hosted content before measurement
  ios/TrueSheetView.mm
Due: none

fix: source Expo Router navigation types from expo-router
  src/mocks/navigationExpoRouter.ts
  src/navigation/base-types.ts
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/base-types.ts
  src/navigation/expo-router/index.ts
  src/navigation/expo-router/types.ts
  src/navigation/types.ts
Due: lint, types, prettier

refactor: move router types into the per-entry types modules
  src/navigation/__tests__/createTrueSheetRouter.test.ts
  src/navigation/createTrueSheetRouter.ts
  src/navigation/expo-router/base-types.ts
  src/navigation/expo-router/index.ts
  src/navigation/expo-router/types.ts
  src/navigation/index.ts
  src/navigation/types.ts
Due: lint, types, prettier
