Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ios): track live position behind a stacked child from layout
  ios/TrueSheetViewController.mm
Due: none

fix(ios): emit deck movement as non-realtime target, keep child-drag relayouts realtime
  ios/TrueSheetViewController.mm
Due: none

fix(ios): pan handler owns drag position emission
  ios/TrueSheetViewController.mm
Due: none

docs(changelog): add position tracking refactor entry
  CHANGELOG.md
Due: none

refactor(ios): restore per-path position tracking (#756)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
Due: none

fix: address v4 review findings
  AGENTS.md
  README.md
  android/src/main/jni/TrueSheetStateUpdater.cpp
  docs/docs/install.mdx
  docs/docs/migration-v3.mdx
  docs/docs/migration.mdx
  ios/TrueSheetContentView.mm
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(navigation): expose style, headerOptions, and footerOptions in screen options
  src/navigation/types.ts
Due: lint, types, prettier

fix(ios): keep capped detent heights distinct to preserve the deck animation
  ios/TrueSheetViewController.mm
Due: none

feat: add TrueSheetNavBar — native navigation bar via the header prop
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetNavBarItemView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetNavBarItemViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetNavBarView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetNavBarViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetSearchEvents.kt
  example/shared/src/components/sheets/NavBarSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/StandardScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetNavBarItemView.h
  ios/TrueSheetNavBarItemView.mm
  ios/TrueSheetNavBarView.h
  ios/TrueSheetNavBarView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetNavContentViewController.h
  ios/core/TrueSheetNavContentViewController.mm
  ios/tvos/TrueSheetStubs.mm
  package.json
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheetNavBar.tsx
  src/TrueSheetNavBar.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetNavBarItemViewNativeComponent.ts
  src/fabric/TrueSheetNavBarViewNativeComponent.ts
  src/index.ts
  src/mocks/index.ts
Due: lint, types, prettier

chore: add changelog entry for TrueSheetNavBar
  CHANGELOG.md
Due: none

fix: default nav bar search placement to stacked (top) — iOS 26 automatic anchors it to the bottom
  src/TrueSheet.types.ts
  src/fabric/TrueSheetNavBarViewNativeComponent.ts
Due: lint, types, prettier

chore(example): add NavBarSheet to MapScreen
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(ios): nav bar item rendering, search reliability, and detent height
  ios/TrueSheetContainerView.mm
  ios/TrueSheetNavBarItemView.h
  ios/TrueSheetNavBarItemView.mm
  ios/TrueSheetNavBarView.h
  ios/TrueSheetNavBarView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix: pad a late-set footer's first layout with the precalculated bottom inset
  android/src/main/java/com/lodev09/truesheet/TrueSheetStateUpdater.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/jni/TrueSheetStateUpdater.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewState.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetInsets.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetInsets.h
  example/bare/src/navigators/SheetNavigator.tsx
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetFooterViewNativeComponent.ts
Due: lint, types, prettier

chore: disable real-time onLayout log on example
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix: keep animatedIndex accurate through keyboard growth and settles
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  example/shared/src/components/sheets/KeyboardOffsetSheet.tsx
  example/shared/src/components/sheets/ResizeSyncSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetKeyboardObserver.mm
Due: lint, types, prettier

chore: changelog entry for #761
  CHANGELOG.md
Due: none

fix(ios): keep animatedIndex accurate through keyboard growth and settles
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetKeyboardObserver.mm
Due: none

chore: changelog entry for #762
  CHANGELOG.md
Due: none

fix(android): clamp expected detent tops to the available height
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

chore: drop example repro sheets
  example/shared/src/components/sheets/KeyboardOffsetSheet.tsx
  example/shared/src/components/sheets/ResizeSyncSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/MapScreen.tsx
Due: lint, types, prettier

fix: keep animatedIndex accurate through keyboard growth and settles (#762)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetKeyboardObserver.mm
Due: none

fix: keep animatedIndex accurate through keyboard growth and settles (#761)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetKeyboardObserver.mm
Due: none

fix(android): first tap on Pressable swallowed after touching TextInput
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): first tap on Pressable swallowed after touching TextInput (#765)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): forward requestDisallowInterceptTouchEvent in footer view
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
Due: none

chore: changelog entry for #766
  CHANGELOG.md
Due: none

fix(android): forward requestDisallowInterceptTouchEvent in footer view (#766)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
Due: none

fix: stop touches inside sheet from leaking to outside touchables
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  src/TrueSheet.tsx
Due: lint, prettier

chore: changelog entry for #767
  CHANGELOG.md
Due: none

fix: stop touches inside sheet from leaking to outside touchables (#767)
  CHANGELOG.md
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  src/TrueSheet.tsx
Due: lint, prettier

chore: update podfile lock
  example/bare/ios/Podfile.lock
Due: none

fix(android): trap accessibility focus within presented sheet (#759)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix(android): derive background accessibility hiding from sheet stack state
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(android): trap accessibility focus within presented sheet (#768)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(android): avoid throwing from back press handler during sheet teardown
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): avoid throwing from back press handler during sheet teardown (#769)
  CHANGELOG.md
  src/TrueSheet.tsx
Due: lint, prettier

feat: add accessibilityOptions prop for customizing accessibility strings
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier
