Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(ios): blur flicker when dismissing sheet with backgroundBlur
  ios/TrueSheetViewController.mm
Due: none

docs: add changelog entry for #633
  CHANGELOG.md
Due: none

fix(ios): blur flicker when dismissing sheet with backgroundBlur (#633)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
Due: none

chore: maybe fix build-ios ci
  .github/workflows/build.yml
Due: none

chore: release 3.10.0-beta.4
  package.json
Due: none

chore: update podfile
  example/bare/ios/Podfile.lock
Due: none

refactor(web): extract shared constants and utils
  src/TrueSheet.web.tsx
  src/web/constants.ts
  src/web/utils.ts
Due: lint, types, prettier

style(web): remove extra blank line
  src/TrueSheet.web.tsx
Due: lint, prettier

feat(web): add WebRenderer interface, registry, and renderer-agnostic SheetContext
  src/web/SheetContext.tsx
  src/web/registry.ts
  src/web/types.ts
Due: lint, types, prettier

feat(gorhom): extract gorhom sheet into sub-path export
  package.json
  src/gorhom/GorhomSheet.tsx
  src/gorhom/index.ts
  src/gorhom/index.web.ts
Due: lint, types, prettier

refactor(web): rewrite core web files as renderer-agnostic delegators
  src/TrueSheet.tsx
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

feat(vaul): implement VaulSheet renderer
  package.json
  src/vaul/VaulSheet.tsx
  src/vaul/index.ts
  src/vaul/index.web.ts
Due: lint, types, prettier

chore: add vaul dev dependency to lockfile
  yarn.lock
Due: none

fix(web): use component-level platform resolution for renderer sub-paths
  src/gorhom/GorhomSheet.tsx
  src/gorhom/GorhomSheet.web.tsx
  src/gorhom/index.ts
  src/gorhom/index.web.ts
  src/vaul/VaulSheet.tsx
  src/vaul/VaulSheet.web.tsx
  src/vaul/index.ts
  src/vaul/index.web.ts
  tsconfig.json
Due: lint, types, prettier

chore(example): set up expo web with vaul renderer
  .gitignore
  example/expo/app/_layout.tsx
  example/expo/package.json
  yarn.lock
Due: lint, prettier

fix(vaul): add required CSS positioning and disable modal for interactability
  src/vaul/VaulSheet.web.tsx
Due: lint, prettier

fix: footer ignoring safe area bottom inset
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetFooterView.mm
Due: none

fix: footer swallowing touch events
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
Due: none

refactor(vaul): simplify VaulSheet to minimal implementation
  src/vaul/VaulSheet.web.tsx
Due: lint, prettier

chore: fix xcode 26.4 build error
  example/bare/ios/Podfile
  example/bare/ios/Podfile.lock
Due: none

fix(android): clear focus on dismiss to prevent auto-focus transfer
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore: add input to example sheet
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(android): clear focus on dismiss to prevent auto-focus transfer (#649)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

chore: update example
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/components/DemoContent.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

chore: update clean script
  scripts/clean.sh
Due: none

feat: implement sheet props
  example/expo/app/_layout.tsx
  example/shared/src/components/Map.tsx
  src/gorhom/GorhomSheet.web.tsx
  src/vaul/VaulSheet.web.tsx
  src/web/constants.ts
Due: lint, types, prettier

chore(vaul): own the vendored source, apply prettier
  .prettierignore
  eslint.config.mjs
  src/TrueSheet.web.tsx
  src/web/vaul/README.md
  src/web/vaul/browser.ts
  src/web/vaul/helpers.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-composed-refs.ts
  src/web/vaul/use-controllable-state.ts
  src/web/vaul/use-position-fixed.ts
  src/web/vaul/use-prevent-scroll.ts
  src/web/vaul/use-scale-background.ts
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

feat(web): implement dimmedDetentIndex
  src/TrueSheet.web.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(vaul): interpolate overlay opacity by position with snap points
  src/web/vaul/index.tsx
  src/web/vaul/style.css
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(vaul): reset active snap on open so reopen starts at first detent
  src/web/vaul/index.tsx
Due: lint, prettier

feat(vaul): emit position changes via event-driven RAF
  src/TrueSheet.web.tsx
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

feat(web): imperative methods with shared types
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/mocks/index.ts
  src/web/types.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(vaul): pass through clicks below fadeFromIndex
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

fix(vaul): restore body pointer-events on imperative dismiss
  src/web/vaul/index.tsx
Due: lint, prettier

feat(vaul): support 'auto' snap point sized to content
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
  src/web/vaul/use-snap-points.ts
Due: lint, types, prettier

feat(web): stack registry for named control and dismissStack/dismissAll
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
