Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

docs: fix maxContentHeight description
  docs/docs/reference/01-configuration.mdx
Due: none

feat(ios): enable synchronous state update for RN 0.82+
  example/shared/src/components/sheets/GestureSheet.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

chore: add changelog entry for #505
  CHANGELOG.md
Due: none

feat(ios): enable synchronous state update for RN 0.82+ (#505)
  CHANGELOG.md
  example/shared/src/components/sheets/GestureSheet.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

fix(ios): avoid deadlock when registering screens event observer
  ios/TrueSheetView.mm
Due: none

docs: add changelog entry for #506
  CHANGELOG.md
Due: none

fix(ios): avoid deadlock when registering screens event observer (#506)
  CHANGELOG.md
  ios/TrueSheetView.mm
Due: none

chore: simplify AGENTS pr
  AGENTS.md
Due: none

docs: add side sheets feature highlight and rename anchor guide
  README.md
  docs/blog/2026/side-sheets.mdx
  docs/docs/guides/side-sheets.mdx
Due: none

feat: add Maestro E2E tests
  .github/workflows/e2e.yml
  .maestro/child-sheets.yaml
  .maestro/main-sheet.yaml
Due: none

fix(ci): install Maestro via curl instead of third-party action
  .github/workflows/e2e.yml
Due: none

fix(ci): build Release for E2E, fix Android arch to x86_64
  .github/workflows/e2e.yml
Due: none

feat(e2e): switch to expo with fingerprint-based build caching
  .github/workflows/e2e.yml
  .maestro/child-sheets.yaml
  .maestro/main-sheet.yaml
  example/expo/app.config.ts
  example/expo/package.json
  yarn.lock
Due: lint, types, prettier

chore: remove turbo
  package.json
  turbo.json
  yarn.lock
Due: none

fix(ios): use parameterless updateState for RN < 0.82
  ios/TrueSheetView.mm
Due: none

fix(e2e): run android build inside emulator runner
  .github/workflows/e2e.yml
Due: none

fix(ci): explicit prebuild and fix android emulator script
  .github/workflows/e2e.yml
Due: none

revert: restore build.yml and turbo, remove e2e.yml
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  example/expo/app.config.ts
  example/expo/package.json
  package.json
  turbo.json
  yarn.lock
Due: lint, types, prettier

docs: update changelog for #507
  CHANGELOG.md
Due: none

feat: add Maestro E2E tests (#507)
  .maestro/child-sheets.yaml
  .maestro/main-sheet.yaml
  CHANGELOG.md
  ios/TrueSheetView.mm
Due: none

chore: release 3.9.0-beta.2
  package.json
Due: none

chore: add synchronous update state comment
  ios/TrueSheetView.mm
Due: none

fix(ios): defer sheet dismiss/re-present during interactive navigation gestures
  ios/TrueSheetView.mm
  ios/core/RNScreensEventObserver.h
  ios/core/RNScreensEventObserver.mm
Due: none

docs: add changelog entry for #511
  CHANGELOG.md
Due: none

chore: update podfile lock
  example/bare/ios/Podfile.lock
Due: none

fix(ios): defer sheet dismiss/re-present during interactive navigation gestures (#511)
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  ios/TrueSheetView.mm
  ios/core/RNScreensEventObserver.h
  ios/core/RNScreensEventObserver.mm
Due: none

fix(android): commit keyboard detent on drag and skip unreliable detent change
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): dismiss keyboard and commit detent when dragged to non-keyboard detent position
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

fix(android): dismiss keyboard on settling instead of during drag change
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): update detentIndexBeforeKeyboard on programmatic resize
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: add changelog entry for #513
  CHANGELOG.md
Due: none

chore(example): add input focus chaining in PromptSheet
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore(example): animate polyline only on ios for now
  example/shared/src/components/Map.tsx
Due: lint, prettier

fix(android): dismiss keyboard and commit detent when dragged to non-keyboard position (#513)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  example/shared/src/components/Map.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: release 3.9.0-beta.3
  package.json
Due: none

chore(example): bump @lugg/maps package
  example/bare/ios/Podfile.lock
  example/bare/package.json
  example/expo/package.json
  example/shared/package.json
  example/shared/src/components/Map.tsx
  yarn.lock
Due: lint, prettier

docs: add dynamic header & footer section to navigation guide
  docs/docs/guides/navigation.mdx
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

docs: add dynamic header & footer section to navigation guide (#515)
  CHANGELOG.md
  docs/docs/guides/navigation.mdx
Due: none

Update TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
