Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: update check-repro workflow to only run on open issues
  .github/workflows/check-repro.yml
Due: none

chore: update example
  example/shared/src/components/DemoContent.tsx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/screens/ModalScreen.tsx
  example/shared/src/screens/TestScreen.tsx
  example/shared/src/utils/constants.ts
Due: lint, types, prettier

fix(ios): dismiss sheet when presenter screen is popped from navigation
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix(ios): add RNSScreenViewWillDisappear notification patch
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetViewController.mm
  yarn.lock
Due: lint, prettier

docs: update navigation guide and changelog for PR #400
  CHANGELOG.md
  docs/docs/guides/navigation.mdx
Due: none

refactor(ios): use presentingViewController directly instead of storing reference
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(android): dismiss sheet when presenter screen is popped from navigation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetModule.mm
  ios/TrueSheetViewController.mm
Due: lint, prettier

docs: update changelog
  CHANGELOG.md
Due: none

chore: update example
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

fix: dismiss sheet when presenter screen is popped from navigation (#400)
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  docs/docs/guides/navigation.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  yarn.lock
Due: lint, prettier

chore: update expo example
  example/expo/app/_layout.tsx
  example/expo/app/modal/_layout.tsx
  example/expo/app/modal/index.tsx
  example/expo/app/modal/test.tsx
  example/expo/app/standard.tsx
Due: lint, prettier

chore: add goBack test case on example
  example/bare/ios/Podfile.lock
  example/bare/src/navigators/ModalStackNavigator.tsx
  example/bare/src/navigators/RootNavigator.tsx
  example/expo/app/modal/test.tsx
  example/shared/src/screens/TestScreen.tsx
Due: lint, prettier

fix(ios): create snapshot of containerView during unmount
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  ios/TrueSheetView.mm
Due: none

fix(ios): use RNSLifecycleListenerProtocol for screen dismiss detection
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  yarn.lock
Due: none

docs: update changelog and navigation guide for PR #402
  CHANGELOG.md
  docs/docs/guides/navigation.mdx
Due: none

fix(ios): use RNSLifecycleListenerProtocol for screen dismiss detection (#402)
  .yarn/patches/react-native-screens-npm-4.18.0-fa7de65975.patch
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/navigation.mdx
  example/bare/ios/Podfile.lock
  example/bare/src/navigators/ModalStackNavigator.tsx
  example/bare/src/navigators/RootNavigator.tsx
  example/expo/app/modal/test.tsx
  example/shared/src/screens/TestScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  yarn.lock
Due: lint, prettier

refactor: rename screen disappear delegate methods
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/navigation.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

chore: update example navigators
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/(home)/_layout.tsx
  example/expo/app/sheet/(home)/index.tsx
  example/expo/app/sheet/(home)/test.tsx
  example/expo/app/sheet/_layout.tsx
Due: lint, types, prettier

fix(android): create container snapshot before unmount
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

docs: update changelog for #403
  CHANGELOG.md
Due: none

fix(android): create container snapshot before unmount (#403)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix: add containerView guard on change size
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/TestScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

fix: only process repro comments from issue author
  .github/workflows/check-repro.yml
Due: none

feat(android): add grabber tap to expand/dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

docs: update AGENTS.md and CHANGELOG.md
  AGENTS.md
  CHANGELOG.md
Due: none

refactor(android): simplify grabber tap logic
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(android): add grabber tap to expand/dismiss (#404)
  .github/workflows/check-repro.yml
  AGENTS.md
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/screens/TestScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

fix(web): fire onWillDismiss when dismissing via backdrop tap
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): fire onWillDismiss when dismissing via backdrop tap (#405)
  CHANGELOG.md
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
Due: none

chore: release 3.7.1
  package.json
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

chore(android): fix lint warnings
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): stacking parent translation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(android): cache content heights for dim interpolation during dismiss
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

chore: update CHANGELOG
  CHANGELOG.md
Due: none

chore: release 3.7.2
  package.json
Due: none

docs: update navigation guide screen listeners section
  docs/docs/guides/navigation.mdx
Due: none

test: add dismissAll method tests
  docs/docs/guides/jest.mdx
  src/__tests__/TrueSheet.test.tsx
  src/__tests__/TrueSheetMocks.test.tsx
Due: lint, prettier
