Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(example): remove cornerRadius from MapScreen
  example/src/screens/MapScreen.tsx
Due: lint, prettier

feat(android): use Material Design 3 surface color as default background
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/reference/01-props.mdx
Due: none

feat(android): use Material Design 3 surface color as default background
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

feat(android): use Material Design 3 defaults (#226)
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/reference/01-props.mdx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix: include common directory in npm package
  example/ios/Podfile.lock
  package.json
Due: none

chore(android): clean up imports
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

chore: release 3.0.0-beta.6
  package-lock.json
  package.json
Due: none

docs: highlight native accessibility support
  README.md
  docs/docs/intro.mdx
Due: none

feat: move state wrapper from container view to host view
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewState.h
  example/ios/Podfile.lock
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  react-native.config.js
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(ios): call updateStateIfNeeded on every state update
  ios/TrueSheetView.mm
Due: none

fix(ios): handle device rotation and only track width changes
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

feat(android): align state update flow with iOS
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/jni/TrueSheetSpec.h
  ios/TrueSheetView.mm
  package.json
  src/TrueSheet.tsx
Due: lint, prettier

chore: improve clean script with colors
  package.json
  scripts/clean.sh
  scripts/objclint.sh
Due: none

feat: move Fabric state wrapper to host view (#230)
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/jni/TrueSheetSpec.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewState.h
  example/ios/Podfile.lock
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  package.json
  react-native.config.js
  scripts/clean.sh
  scripts/objclint.sh
  src/TrueSheet.tsx
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix: remove 3rd argument onChildStartedNativeGesture - unstable api
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix: remove 3rd argument onChildStartedNativeGesture - unstable api (#231)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(android): add immediate state update with screen width on initialization
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
Due: none

fix(ios): move state update to didLayoutSubviews for more accurate size
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): fix proper container height calculation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/src/components/DemoContent.tsx
  example/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

feat: add native header view component
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetHeaderView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetHeaderViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/header.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetHeaderView.h
  ios/TrueSheetHeaderView.mm
  scripts/clean.sh
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetHeaderViewNativeComponent.ts
Due: lint, types, prettier

refactor(android): better content height lifecycle
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/components/sheets/FlatListSheet.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): handle header size changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
Due: lint, prettier

chore: tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: release 3.0.0-beta.7
  package-lock.json
  package.json
Due: none

feat(ios): add header height to auto detent calculation
  AGENTS.md
  docs/docs/migration.mdx
  example/src/components/Input.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  package.json
Due: lint, prettier

fix(ios): always re-apply scroll view pinning on header change
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
Due: none

fix(ios): properly re-pin scroll view when header changes
  example/src/components/Footer.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
Due: lint, prettier

feat: add all ViewProps to sheet
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
Due: lint, prettier

docs: move scrolling caution to troubleshooting and add minHeight workaround
  docs/docs/guides/scrolling.mdx
  docs/docs/troubleshooting.mdx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): fix proper ...rest props
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetContainerView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
Due: lint, prettier

docs: update migration
  docs/docs/migration.mdx
Due: none

fix(android): reconfigure sheet when header size changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetHeaderView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
Due: lint, prettier

fix(android): footer touch events when sheet is fully expanded
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  ios/TrueSheetContainerView.mm
Due: none

feat(android): add native grabber following M3 specs
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/utils/constants.ts
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat(android): add native grabber following M3 specs (#234)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/03-types.mdx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/utils/constants.ts
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix(android): hide TrueSheet when react-native-screens modal is presented
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
Due: none

refactor(android): clean up TrueSheetViewController and TrueSheetView
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
Due: none

refactor(ios,android): clean up view files
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

fix(android): Implement react-native-screens automatic detection (#235)
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none
