Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ios): let TrueSheetOverlay children install their own view controllers (#823)
  CHANGELOG.md
  docs/docs/guides/overlays.mdx
  ios/TrueSheetOverlayView.mm
Due: none

docs(changelog): remove overlay fix from changelog This is a new feature on v4
  CHANGELOG.md
Due: none

docs(changelog): add credit to SamuelBrucksch on the overlay feature
  CHANGELOG.md
Due: none

chore: release 4.0.0-beta.8
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(web): stacked sheet dismissal fixes (#816)
  example/shared/src/components/sheets/StackedSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/TestScreen.tsx
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, types, prettier

fix(web): peek tracks content changes; parent slides behind child unless full
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): cascade follows the child's actual position up the stack
  src/TrueSheet.web.tsx
Due: lint, prettier

docs(changelog): add web stacked sheet fixes (#824)
  CHANGELOG.md
Due: none

chore(example): remove StackedSheet repro
  example/shared/src/components/sheets/StackedSheet.tsx
  example/shared/src/components/sheets/index.ts
  example/shared/src/screens/TestScreen.tsx
Due: lint, types, prettier

fix(web): stacked sheet dismissal, peek resize, and cascade fixes (#824)
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

docs(changelog): add web stacked sheet fixes (#825)
  CHANGELOG.md
Due: none

fix(web): stacked sheet dismissal, peek resize, and cascade fixes (v3) (#825)
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

chore: release 4.0.0-beta.9
  example/bare/ios/Podfile.lock
  package.json
Due: none

docs: port 3.11.13 versioned docs from v3
  docs/versioned_docs/version-3.11.13/guides/_category_.json
  docs/versioned_docs/version-3.11.13/guides/assets/dimming.gif
  docs/versioned_docs/version-3.11.13/guides/assets/keyboard.gif
  docs/versioned_docs/version-3.11.13/guides/assets/navigation.gif
  docs/versioned_docs/version-3.11.13/guides/assets/onmount.gif
  docs/versioned_docs/version-3.11.13/guides/assets/reanimated.gif
  docs/versioned_docs/version-3.11.13/guides/assets/resizing.gif
  docs/versioned_docs/version-3.11.13/guides/assets/scrolling.gif
  docs/versioned_docs/version-3.11.13/guides/assets/stacking.gif
  docs/versioned_docs/version-3.11.13/guides/dimming.mdx
  docs/versioned_docs/version-3.11.13/guides/edge-to-edge.mdx
  docs/versioned_docs/version-3.11.13/guides/footer.mdx
  docs/versioned_docs/version-3.11.13/guides/global-methods.mdx
  docs/versioned_docs/version-3.11.13/guides/header.mdx
  docs/versioned_docs/version-3.11.13/guides/jest.mdx
  docs/versioned_docs/version-3.11.13/guides/keyboard.mdx
  docs/versioned_docs/version-3.11.13/guides/liquid-glass.mdx
  docs/versioned_docs/version-3.11.13/guides/navigation.mdx
  docs/versioned_docs/version-3.11.13/guides/onmount.mdx
  docs/versioned_docs/version-3.11.13/guides/overlays.mdx
  docs/versioned_docs/version-3.11.13/guides/peeking.mdx
  docs/versioned_docs/version-3.11.13/guides/reanimated.mdx
  docs/versioned_docs/version-3.11.13/guides/resizing.mdx
  docs/versioned_docs/version-3.11.13/guides/scrolling.mdx
  docs/versioned_docs/version-3.11.13/guides/side-sheets.mdx
  docs/versioned_docs/version-3.11.13/guides/stacking.mdx
  docs/versioned_docs/version-3.11.13/guides/web.mdx
  docs/versioned_docs/version-3.11.13/install.mdx
  docs/versioned_docs/version-3.11.13/intro.mdx
  docs/versioned_docs/version-3.11.13/migration.mdx
  docs/versioned_docs/version-3.11.13/reference/01-configuration.mdx
  docs/versioned_docs/version-3.11.13/reference/02-events.mdx
  docs/versioned_docs/version-3.11.13/reference/03-methods.mdx
  docs/versioned_docs/version-3.11.13/reference/04-types.mdx
  docs/versioned_docs/version-3.11.13/reference/_category_.json
  docs/versioned_docs/version-3.11.13/troubleshooting.mdx
  docs/versioned_docs/version-3.11.13/usage.mdx
  docs/versioned_sidebars/version-3.11.13-sidebars.json
  docs/versions.json
Due: none

chore(docs): upgrade docusaurus to 3.10.2
  docs/package.json
  docs/src/css/custom.css
  yarn.lock
Due: none

docs: add landing page and modernize theme
  docs/docs/intro.mdx
  docs/docusaurus.config.ts
  docs/src/components/SheetDemo/index.tsx
  docs/src/components/SheetDemo/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/versioned_docs/version-3.11.13/intro.mdx
Due: lint, types, prettier

docs: use package manager tabs for install commands
  docs/app/layout.tsx
  docs/app/provider.tsx
  docs/components/search.tsx
  docs/content/docs/guides/navigation.mdx
  docs/content/docs/guides/web.mdx
  docs/content/docs/install.mdx
  docs/content/docs/migration.mdx
  docs/content/next/guides/navigation.mdx
  docs/content/next/guides/web.mdx
  docs/content/next/install.mdx
  docs/content/next/migration-v3.mdx
  docs/content/next/migration.mdx
  docs/source.config.ts
Due: lint, types, prettier

docs: fix banner flash on reload with valid CSS id
  docs/app/layout.tsx
Due: lint, prettier

docs: fix dark sidebar tokens, tint callouts without shadow
  docs/app/global.css
  docs/components/mdx.tsx
Due: lint, prettier

docs: horizontal intro previews, compact edit button, borderless callouts
  docs/components/docs-page.tsx
  docs/components/mdx.tsx
  docs/content/docs/next/intro.mdx
  docs/content/docs/v3/intro.mdx
Due: lint, prettier

docs: redesign landing features section as icon card grid
  docs/app/(home)/page.module.css
  docs/app/(home)/page.tsx
Due: lint, prettier

docs: changelog entry for Fumadocs migration
  CHANGELOG.md
Due: none

docs: declare Next.js framework for Vercel
  docs/vercel.json
Due: none

docs: tighten docs page top padding, align title with TOC
  docs/components/docs-page.tsx
Due: lint, prettier

docs: fix detents copy on landing page
  docs/app/(home)/page.tsx
Due: lint, prettier

docs: graphite dark theme, light code blocks, no code scroll
  docs/app/(home)/page.module.css
  docs/app/(home)/page.tsx
  docs/app/global.css
  docs/app/layout.tsx
  docs/components/code-block.tsx
  docs/components/mdx.tsx
  docs/components/sheet-demo/styles.module.css
  docs/lib/code-theme.ts
  docs/package.json
  docs/source.config.ts
  lefthook.yml
Due: lint, types, prettier

docs: fix README previews
  README.md
Due: none

chore(example): add horizontal scrollview carousel to ScrollViewSheet
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

docs: document scrollableRef in navigator, add scrollable sheet screen example
  docs/content/docs/next/guides/navigation.mdx
  docs/content/docs/next/guides/resizing.mdx
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/(home)/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/scrollable.tsx
  example/shared/src/screens/ScrollableSheetContent.tsx
  example/shared/src/screens/index.ts
Due: lint, types, prettier

docs: document scrollableRef in navigator, add scrollable sheet screen example (#827)
  docs/content/docs/next/guides/navigation.mdx
  docs/content/docs/next/guides/resizing.mdx
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/(home)/index.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/scrollable.tsx
  example/shared/src/screens/ScrollableSheetContent.tsx
  example/shared/src/screens/index.ts
Due: lint, types, prettier

fix(ios): let VoiceOver dismiss the sheet and reach the grabber
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none
