Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: additional troubleshooting for weird layout issue
  docs/docs/troubleshooting.mdx
Due: none

docs: additional troubleshooting for weird layout issue (#520)
  docs/docs/troubleshooting.mdx
Due: none

perf: fix high-priority performance issues from audit
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/navigation/screen/useSheetScreenState.ts
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, types, prettier

perf: medium-priority fixes from audit
  android/build.gradle
  ios/TrueSheetView.mm
  ios/core/RNScreensEventObserver.mm
  src/TrueSheet.tsx
Due: lint, prettier

chore: add changelog entry for #521
  CHANGELOG.md
Due: none

chore: run tidy
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetViewController.mm
  ios/core/RNScreensEventObserver.mm
Due: lint, prettier

perf: performance audit fixes (#521)
  CHANGELOG.md
  android/build.gradle
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/core/RNScreensEventObserver.mm
  src/TrueSheet.tsx
  src/navigation/screen/useSheetScreenState.ts
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, types, prettier

fix(android): clear stale nestedScrollingChildRef on touch down
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

docs: add changelog entry for #523
  CHANGELOG.md
Due: none

fix(android): clear stale nestedScrollingChildRef on touch down (#523)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

Added dismiss guard changelog
  CHANGELOG.md
Due: none

Moved dismiss event prevention to TrueSheetView
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix: do not invoke dismiss events if sheet is not presented (#516)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): commit keyboard detent on scroll
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

fix(android): animate dim on settle after keyboard hide
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): fix dim flash during keyboard show/hide transitions
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): fix footer positioning during interactive keyboard dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): smooth sheet during interactive keyboard dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): simplify keyboard/dim logic in TrueSheetViewController
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): use delegate for coordinator layout dependencies
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

refactor(android): move present/resize warnings to host view
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

docs: add changelog entry for #525
  CHANGELOG.md
Due: none

docs: add scrollview fix to changelog
  CHANGELOG.md
Due: none

fix(android): keyboard detent and dim improvements (#525)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): guard isDescendantOf for detached views
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
Due: none

chore: release 3.9.0-beta.4
  package.json
Due: none

fix(example): support map for web
  example/bare/ios/Podfile.lock
  example/bare/package.json
  example/expo/package.json
  example/shared/package.json
  yarn.lock
Due: none

feat(navigation): add missing sheet props and fix event handler spread order
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/types.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: update changelog for #526
  CHANGELOG.md
Due: none

feat(navigation): add missing sheet props and fix event handler spread order (#526)
  CHANGELOG.md
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/types.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat(web): add detached prop
  docs/docs/guides/web.mdx
  docs/docs/reference/01-configuration.mdx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/navigation/types.ts
Due: lint, types, prettier

feat(web): add detached and detachedOffset props
  docs/docs/guides/web.mdx
  docs/docs/reference/01-configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/navigation/types.ts
Due: lint, types, prettier

refactor(web): simplify handle styling and add dark mode grabber color
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: update changelog for #527
  CHANGELOG.md
Due: none

feat(web): add detached prop and simplify handle styling (#527)
  CHANGELOG.md
  docs/docs/guides/web.mdx
  docs/docs/reference/01-configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/navigation/types.ts
Due: lint, types, prettier

chore: update README, closes #528
  README.md
Due: none

fix(android): assign state wrapper before initial state update
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

docs: add changelog entry for #531
  CHANGELOG.md
Due: none

fix(android): assign state wrapper before initial state update (#531)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

chore: release 3.9.0-beta.5
  package.json
Due: none
