Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

feat: add scrollingExpandsSheet to scrollableOptions (#585)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetBehavior.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/utils/ViewUtils.kt
  docs/docs/guides/header.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add changelog entry for #586
  CHANGELOG.md
Due: none

docs: update navbar layout and title
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: lint, types, prettier

docs: remove lastVersion, simplify release script
  docs/docusaurus.config.ts
  scripts/release.sh
Due: lint, types, prettier

docs: rename Next to Unreleased, add Changelog link
  docs/docusaurus.config.ts
Due: lint, types, prettier

fix: skip docs versioning for pre-releases
  scripts/release.sh
Due: none

docs: re-snapshot versioned docs from v3.9.9 tag
  docs/docs/guides/header.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  docs/versioned_docs/version-3.9.9/guides/header.mdx
  docs/versioned_docs/version-3.9.9/guides/keyboard.mdx
  docs/versioned_docs/version-3.9.9/guides/scrolling.mdx
  docs/versioned_docs/version-3.9.9/reference/01-configuration.mdx
  docs/versioned_docs/version-3.9.9/reference/04-types.mdx
Due: none

feat: add accessibility roles and labels to native components
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

fix(android): remove dynamic accessibility for dim view
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
Due: none

fix(ios): enlarge grabber hit area to match native sizing
  ios/core/TrueSheetGrabberView.mm
Due: none

feat: add accessibility value and button trait to grabber view
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

fix(android): hide dim view from accessibility
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
Due: none

feat(android): add labeled accessibility actions to grabber
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
Due: none

docs: update changelog for accessibility PR
  CHANGELOG.md
Due: none

feat: improve accessibility on iOS and Android (#587)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
Due: none

chore: release 3.10.0-beta.0
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  package.json
Due: none

docs: restore reverted docs
  docs/docs/guides/header.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
Due: none

docs: use relative links for version-aware navigation
  docs/docs/guides/dimming.mdx
  docs/docs/guides/footer.mdx
  docs/docs/guides/global-methods.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/guides/liquid-glass.mdx
  docs/docs/guides/navigation.mdx
  docs/docs/guides/onmount.mdx
  docs/docs/guides/reanimated.mdx
  docs/docs/guides/resizing.mdx
  docs/docs/guides/scrolling.mdx
  docs/docs/guides/side-sheets.mdx
  docs/docs/guides/stacking.mdx
  docs/docs/install.mdx
  docs/docs/intro.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/02-events.mdx
  docs/docs/reference/03-methods.mdx
  docs/docs/reference/04-types.mdx
  docs/docs/usage.mdx
  docs/versioned_docs/version-3.9.9/guides/dimming.mdx
  docs/versioned_docs/version-3.9.9/guides/footer.mdx
  docs/versioned_docs/version-3.9.9/guides/global-methods.mdx
  docs/versioned_docs/version-3.9.9/guides/keyboard.mdx
  docs/versioned_docs/version-3.9.9/guides/liquid-glass.mdx
  docs/versioned_docs/version-3.9.9/guides/navigation.mdx
  docs/versioned_docs/version-3.9.9/guides/onmount.mdx
  docs/versioned_docs/version-3.9.9/guides/reanimated.mdx
  docs/versioned_docs/version-3.9.9/guides/resizing.mdx
  docs/versioned_docs/version-3.9.9/guides/scrolling.mdx
  docs/versioned_docs/version-3.9.9/guides/side-sheets.mdx
  docs/versioned_docs/version-3.9.9/guides/stacking.mdx
  docs/versioned_docs/version-3.9.9/install.mdx
  docs/versioned_docs/version-3.9.9/intro.mdx
  docs/versioned_docs/version-3.9.9/migration.mdx
  docs/versioned_docs/version-3.9.9/reference/01-configuration.mdx
  docs/versioned_docs/version-3.9.9/reference/02-events.mdx
  docs/versioned_docs/version-3.9.9/reference/03-methods.mdx
  docs/versioned_docs/version-3.9.9/usage.mdx
Due: none

docs: update docs
  docs/blog/2024/release-0-10.mdx
  docs/blog/2024/welcome.mdx
  docs/blog/2025/android-stacking.mdx
  docs/blog/2025/release-3-0.mdx
  docs/blog/2025/sheet-navigator.mdx
  docs/blog/2026/release-3-9.mdx
  docs/docs/intro.mdx
  docs/docusaurus.config.ts
Due: lint, types, prettier

fix(ios): defer scroll-to-responder with dispatch_async
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

chore: update changelog
  CHANGELOG.md
Due: none

fix(ios): defer scroll-to-responder with dispatch_async (#592)
  CHANGELOG.md
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

fix: skip changelog update for pre-releases
  scripts/release.sh
Due: none

fix(android,ios): dead state after rapid present/dismiss (#590)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/shared/src/components/Button.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

docs: update changelog for #593
  CHANGELOG.md
Due: none

fix(android): dead state after rapid present/dismiss (#593)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/shared/src/components/Button.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

chore: release 3.10.0-beta.1
  package.json
Due: none

feat(ios): add scroll edge effect support for iOS 26+
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: update changelog for scroll edge effect
  CHANGELOG.md
Due: none

feat(ios): add scroll edge element container interaction for header/footer
  example/bare/ios/Podfile.lock
  example/shared/src/components/Footer.tsx
  example/shared/src/components/Input.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.h
  ios/TrueSheetHeaderView.mm
Due: lint, prettier

feat(ios): default scroll edge effect to hidden
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/04-types.mdx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(ios): fix hasScrollableOptions check and deduplicate edge interaction cleanup
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
  ios/TrueSheetView.mm
Due: lint, prettier

refactor(ios): extract edge interaction into UIView category and fix review issues
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
  ios/utils/UIView+ScrollEdgeInteraction.h
  ios/utils/UIView+ScrollEdgeInteraction.mm
Due: none

chore: run tidy
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/utils/UIView+ScrollEdgeInteraction.mm
Due: none

feat(ios): add scroll edge effect support for iOS 26+ (#595)
  CHANGELOG.md
  docs/docs/guides/scrolling.mdx
  docs/docs/reference/04-types.mdx
  example/bare/ios/Podfile.lock
  example/shared/src/components/Footer.tsx
  example/shared/src/components/Input.tsx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetHeaderView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/utils/UIView+ScrollEdgeInteraction.h
  ios/utils/UIView+ScrollEdgeInteraction.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: release 3.10.0-beta.2
  package.json
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
