Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix: correct scrollable keyboard insets and auto sizing
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  ios/TrueSheetContentView.mm
Due: none

fix: correct scrollable keyboard insets and auto sizing (#837)
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  ios/TrueSheetContentView.mm
Due: none

chore: release 4.0.0-beta.11
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix: revert #837
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

fix: isolate and cache auto detent measurement
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  example/shared/src/components/sheets/FlatListSheet.tsx
  package.json
  scripts/cpplint.sh
Due: lint, prettier

fix: preserve scrolling with auto detent sizing (#838)
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewShadowNode.h
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContentView.mm
  package.json
  scripts/cpplint.sh
Due: lint, prettier

fix: remove short scrollable keyboard gap
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

chore(docs): remove redundant changelog entry
  CHANGELOG.md
Due: none

fix: remove short scrollable keyboard gap (#839)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

chore: release 4.0.0-beta.12
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetContentViewState.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetFooterViewState.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetInsets.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetInsets.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetLayoutUtils.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetOverlayViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewComponentDescriptor.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewShadowNode.h
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewState.cpp
  common/cpp/react/renderer/components/TrueSheetSpec/TrueSheetViewState.h
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(ios): ignore pan gestures that start outside the sheet
  ios/TrueSheetViewController.mm
  ios/utils/GestureUtil.h
  ios/utils/GestureUtil.mm
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

fix: prevent keyboard scroll jitter
  ios/TrueSheetContentView.mm
Due: none

fix: prevent keyboard scroll jitter (#841)
  ios/TrueSheetContentView.mm
Due: none

chore: release 4.0.0-beta.13
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix: guard findNodeHandle against stale scrollableRef
  src/TrueSheet.tsx
Due: lint, prettier

fix: guard findNodeHandle against stale scrollableRef (#842)
  src/TrueSheet.tsx
Due: lint, prettier

chore: release 4.0.0-beta.14
  docs/content/docs/next/meta.json
  example/bare/ios/Podfile.lock
  package.json
Due: none

fix(example): adopt UIScene lifecycle for Xcode 27
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/ios/TrueSheetExample/AppDelegate.swift
  example/bare/ios/TrueSheetExample/Info.plist
  example/bare/ios/TrueSheetExample/SceneDelegate.swift
Due: none

chore: add changelog entry for #843
  CHANGELOG.md
Due: none

fix(example): adopt UIScene lifecycle for Xcode 27 (#843)
  CHANGELOG.md
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/ios/TrueSheetExample/AppDelegate.swift
  example/bare/ios/TrueSheetExample/Info.plist
  example/bare/ios/TrueSheetExample/SceneDelegate.swift
Due: none

fix(example): upgrade Expo example to SDK 57.0.23 with UIScene support
  .yarn/patches/react-native-screens-npm-4.26.2.patch
  example/bare/package.json
  example/expo/app.config.ts
  example/expo/package.json
  example/shared/package.json
  package.json
  src/navigation/expo-router/index.ts
  yarn.lock
Due: lint, types, prettier

chore: add changelog entry for #844
  CHANGELOG.md
Due: none

fix(example): upgrade Expo example to SDK 57.0.23 with UIScene support (#844)
  .yarn/patches/react-native-screens-npm-4.26.2.patch
  CHANGELOG.md
  example/bare/package.json
  example/expo/app.config.ts
  example/expo/package.json
  example/shared/package.json
  package.json
  src/navigation/expo-router/index.ts
  yarn.lock
Due: lint, types, prettier

chore: update podfile
  example/bare/ios/Podfile.lock
Due: none

feat(ios): add glass prop, backgroundColor now paints over Liquid Glass
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: changelog
  CHANGELOG.md
Due: none

feat(ios): add `glass` prop, `backgroundColor` now paints over Liquid Glass (#845)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/content/docs/next/guides/liquid-glass.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat!: rename `anchor` values to `leading`/`trailing`, use `preferredPlacement` on iOS 27
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  docs/content/docs/next/guides/side-sheets.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: update changelog
  CHANGELOG.md
Due: none

chore(example): update xcode project
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
Due: none

feat!: rename `anchor` to `placement`, add `automatic` default
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  docs/content/docs/next/guides/side-sheets.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
  src/web/constants.ts
Due: lint, types, prettier

feat!: rename `anchor` to `placement` with `leading`/`trailing`/`automatic`, use `preferredPlacement` on iOS 27 (#846)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  docs/content/docs/next/guides/side-sheets.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/configuration.mdx
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
  src/web/constants.ts
Due: lint, types, prettier

chore(example): wrap main sheet with ScrollView
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(ios): guard iOS 27 placement API behind SDK check
  ios/TrueSheetViewController.mm
Due: none

fix(ios): guard iOS 27 placement API behind SDK check (#847)
  ios/TrueSheetViewController.mm
Due: none

feat!: pad plugged scrollable for an absolute footer, `contentInsetAdjustment` enum
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/content/docs/next/guides/footer.mdx
  docs/content/docs/next/guides/keyboard.mdx
  docs/content/docs/next/guides/scrolling.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/ScrollableSheetContent.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: update changelog for contentInsetAdjustment
  CHANGELOG.md
Due: none

feat!: pad plugged scrollable for an absolute footer, `contentInsetAdjustment` enum (#848)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/content/docs/next/guides/footer.mdx
  docs/content/docs/next/guides/keyboard.mdx
  docs/content/docs/next/guides/scrolling.mdx
  docs/content/docs/next/migration.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/ScrollableSheetContent.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetDetentCalculator.h
  ios/core/TrueSheetDetentCalculator.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: add `footerOptions.avoidKeyboard` to keep an absolute footer behind the keyboard
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/content/docs/next/guides/keyboard.mdx
  docs/content/docs/next/reference/types.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetKeyboardObserver.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
