Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(web): set pageSizing ratio to 0.5
  example/shared/src/components/Footer.tsx
  src/web/constants.ts
Due: lint, types, prettier

docs(web): note pageSizing now supports web
  docs/docs/reference/01-configuration.mdx
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat(web): apply anchorOffset to detached sheets
  src/TrueSheet.web.tsx
Due: lint, prettier

style(web): apply prettier formatting
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.11.0-beta.0
  package.json
Due: none

fix(web): treat detached as true when pageSizing is false
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): restore body pointer-events on Drawer.Root unmount
  src/web/vaul/index.tsx
Due: lint, prettier

chore: release 3.11.0-beta.1
  package.json
Due: none

fix(web): drop Radix body pointer-events lock
  package.json
  src/web/vaul/index.tsx
  src/web/vaul/style.css
Due: lint, prettier

chore: fix lock file
  yarn.lock
Due: none

chore: add @radix-ui/react-presence devDep for typecheck
  package.json
  yarn.lock
Due: none

fix(web): use wrapper drop-shadow so elevation isn't clipped
  src/TrueSheet.web.tsx
Due: lint, prettier

docs(web): document required radix-ui peer deps
  docs/docs/guides/web.mdx
Due: none

chore: release 3.11.0-beta.2
  package.json
Due: none

fix: bump react-native-monorepo-config to fix build on windows
  CHANGELOG.md
  example/bare/package.json
  example/expo/package.json
  yarn.lock
Due: none

fix: bump react-native-monorepo-config to fix build on windows (#672)
  CHANGELOG.md
  example/bare/package.json
  example/expo/package.json
  yarn.lock
Due: none

fix(web): collapse non-dismissible sheet on dim tap and escape
  example/shared/src/screens/MapScreen.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

docs: add changelog entry for #675
  CHANGELOG.md
Due: none

fix(web): collapse non-dismissible sheet on dim tap and escape (#675)
  CHANGELOG.md
  example/shared/src/screens/MapScreen.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

fix(web): float the grabber over content like native
  example/shared/src/components/Header.tsx
  src/TrueSheet.web.tsx
  src/web/constants.ts
Due: lint, types, prettier

docs: add changelog entry for #676
  CHANGELOG.md
Due: none

fix(web): float the grabber over content like native (#676)
  CHANGELOG.md
  example/shared/src/components/Header.tsx
  src/TrueSheet.web.tsx
  src/web/constants.ts
Due: lint, types, prettier

chore: release 3.11.0-beta.3
  package.json
Due: none

fix(web): size form sheet to content height when pageSizing=false
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

docs: add changelog entry for #677
  CHANGELOG.md
Due: none

fix(web): size form sheet to content height when pageSizing=false (#677)
  CHANGELOG.md
  src/TrueSheet.web.tsx
  src/web/vaul/index.tsx
Due: lint, prettier

chore: release 3.11.0-beta.4
  package.json
Due: none

fix(web): clip Drawer.Content children to its rounded top corners
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: add changelog entry for #678
  CHANGELOG.md
Due: none

fix(web): clip Drawer.Content children to rounded top corners (#678)
  CHANGELOG.md
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): emit will/did focus on initial present and will/did blur on dismiss
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: add changelog entry for #679
  CHANGELOG.md
Due: none

chore(example): drop explicit paddingTop:0 on iOS
  example/shared/src/components/Header.tsx
Due: lint, prettier

fix(web): emit will/did focus on initial present and will/did blur on dismiss (#679)
  CHANGELOG.md
  example/shared/src/components/Header.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.11.0-beta.5
  package.json
Due: none

refactor!: rename pageSizing to presentation: 'page' | 'form'
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: add changelog entry for #680
  CHANGELOG.md
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix(web,ios): align maxContentWidth gating with native portrait-phone rule
  ios/TrueSheetViewController.mm
  src/TrueSheet.web.tsx
Due: lint, prettier
