Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: release 3.8.0-beta.2
  package.json
Due: none

docs: add initial present and deep linking troubleshooting
  docs/docs/guides/navigation.mdx
  docs/docs/troubleshooting.mdx
Due: none

docs: add initial present and deep linking troubleshooting
  docs/docs/guides/navigation.mdx
  docs/docs/guides/onmount.mdx
  ios/TrueSheetView.mm
Due: none

fix(ios): preserve scroll position when nested sheet is dismissed
  CHANGELOG.md
  ios/TrueSheetContentView.mm
Due: none

fix(ios): preserve scroll position when nested sheet is dismissed (#468)
  CHANGELOG.md
  ios/TrueSheetContentView.mm
Due: none

docs: add troubleshooting docs for deep-linking modals
  docs/docs/guides/onmount.mdx
  docs/docs/troubleshooting.mdx
Due: none

refactor: rename dismissChildren to dismissStack
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/reference/03-methods.mdx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/mocks/index.ts
  src/mocks/reanimated.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

refactor: rename dismissAll to dismiss in native views
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
Due: none

fix(web): dismiss sheets in parallel instead of sequential
  src/TrueSheet.web.tsx
Due: lint, prettier

feat: add dismissStack static method and simplify web dismiss
  example/shared/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/mocks/index.ts
  src/mocks/reanimated.ts
Due: lint, types, prettier

docs: update dismissStack documentation and fix iOS duplicate method
  CHANGELOG.md
  docs/docs/guides/stacking.mdx
  docs/docs/reference/03-methods.mdx
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

fix(ios): fix dismissStack to properly dismiss children only
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

feat: add native cascade dismiss api (#452)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/reference/03-methods.mdx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/mocks/index.ts
  src/mocks/reanimated.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

docs: add PR #470 to changelog
  CHANGELOG.md
Due: none

fix: dismissStack behavior and cleanup (#470)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/guides/stacking.mdx
  docs/docs/reference/03-methods.mdx
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/mocks/index.ts
  src/mocks/reanimated.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

fix(navigation): pop, popTo, popToTop behavior
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  ios/TrueSheetView.mm
  src/navigation/TrueSheetRouter.ts
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

fix(navigation): user-initiated dismiss handling
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

docs: update changelog
  CHANGELOG.md
Due: none

chore(example): add reusable sheet content components
  example/bare/src/navigators/SheetNavigator.tsx
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/notifications.tsx
  example/expo/app/sheet/profile.tsx
  example/expo/app/sheet/settings.tsx
  example/shared/src/screens/NotificationsSheetContent.tsx
  example/shared/src/screens/ProfileSheetContent.tsx
  example/shared/src/screens/SettingsSheetContent.tsx
  example/shared/src/screens/index.ts
Due: lint, types, prettier

fix(android): pop navigation dismiss handling
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(ios): use isBeingDismissed directly, add emitDismissedPosition method
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

fix(web): remove static method support, use useTrueSheet hook instead
  CHANGELOG.md
  docs/docs/guides/web.mdx
  docs/docs/reference/03-methods.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

refactor: derive TrueSheetRef from TrueSheet class, move JSDoc to class methods
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
  src/mocks/index.ts
  src/mocks/reanimated.ts
  src/reanimated/ReanimatedTrueSheet.web.tsx
Due: lint, types, prettier

refactor: derive TrueSheetContextMethods from TrueSheet class
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/index.ts
  src/mocks/index.ts
Due: lint, types, prettier

fix(web): pop navigation dismiss handling
  src/navigation/TrueSheetRouter.ts
Due: lint, types, prettier

refactor(navigation): reuse POP for GO_BACK and DISMISS actions
  src/navigation/TrueSheetRouter.ts
Due: lint, types, prettier

refactor(navigation): reuse POP for POP_TO_TOP and POP_TO actions
  example/bare/src/navigators/SheetNavigator.tsx
  src/navigation/TrueSheetRouter.ts
Due: lint, types, prettier

fix(android): skip resetTranslation if new topmost sheet is being dismissed
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

fix(android): defer parent translation update until content is measured
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  example/bare/src/navigators/SheetNavigator.tsx
Due: lint, prettier

refactor(android): rename stack manager methods for clarity
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix(navigation): pop, popTo, popToTop behavior (#471)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  docs/docs/guides/web.mdx
  docs/docs/reference/03-methods.mdx
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/sheet/_layout.tsx
  example/expo/app/sheet/notifications.tsx
  example/expo/app/sheet/profile.tsx
  example/expo/app/sheet/settings.tsx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/NotificationsSheetContent.tsx
  example/shared/src/screens/ProfileSheetContent.tsx
  example/shared/src/screens/SettingsSheetContent.tsx
  example/shared/src/screens/index.ts
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/index.ts
  src/mocks/index.ts
  src/mocks/reanimated.ts
  src/navigation/TrueSheetRouter.ts
  src/navigation/screen/useSheetScreenState.ts
  src/reanimated/ReanimatedTrueSheet.web.tsx
Due: lint, types, prettier

docs: update CHANGELOG for clarity and updates
  CHANGELOG.md
Due: none
