Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

refactor: remove unused state infrastructure
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: add TrueSheetRootViewDelegate for container dimension management
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor: add containerView getter in TrueSheetView
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor: improve delegate naming and simplify containerView getter
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor: use Fabric's layout system for container sizing
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): fix halfExpandedRatio crash and add auto container sizing
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/SizeChangeEvent.kt
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(android): resolve gesture handling issues on subsequent presentations
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/events/SizeChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/utils/PixelUtils.kt
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
Due: lint, prettier

chore(android): remove debug logging
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor(android): convert TrueSheetDialog to TrueSheetController with lazy dialog creation
  REFACTOR_TrueSheetController.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): remove sheetRootView from parent during dialog cleanup
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
Due: none

fix(android): ensure background and corner radius are applied when dialog is created
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): use initialDetentAnimated prop for initial presentation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): set initial detent state after dialog is shown
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
Due: none

Revert "fix(android): set initial detent state after dialog is shown"
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
Due: none

fix(android): fix container content layout
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  src/TrueSheet.tsx
Due: lint, prettier

feat: remove lazy prop option, always lazy load by default
  REFACTOR_TrueSheetController.md
  docs/docs/guides/lazy-loading.mdx
  docs/docs/reference/01-props.mdx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix(android): put TrueSheetView behind content (zIndex: -9999)
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): fix edgeToEdge prop not being passed to native
  TEST_updateState.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  android/src/main/java/com/lodev09/truesheet/utils/WindowUtil.kt
  src/TrueSheet.tsx
Due: lint, prettier

refactor(android): remove edgeToEdge prop, auto-detect edge-to-edge mode
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/edge2edge.mdx
  docs/docs/reference/01-props.mdx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(android): don't apply edge-to-edge to bottom sheet dialog window
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
Due: none

chore: update example
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  android/src/main/java/com/lodev09/truesheet/utils/WindowUtil.kt
  docs/docs/guides/edge2edge.mdx
  example/android/app/src/main/java/truesheet/example/MainApplication.kt
  example/android/app/src/main/res/values/styles.xml
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/package.json
  yarn.lock
Due: none

feat(android): auto detect and apply edge-to-edge
  android/build.gradle
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  android/src/main/java/com/lodev09/truesheet/utils/WindowUtil.kt
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/MapScreen.tsx
  src/fabric/TrueSheetContainerViewNativeComponent.ts
  src/fabric/TrueSheetContentViewNativeComponent.ts
  src/fabric/TrueSheetFooterViewNativeComponent.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(android): change detents property to only accept Double type
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/PixelUtils.kt
  docs/docs/reference/01-props.mdx
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): fix footer positioning to stick at screen bottom
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  example/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(android): fix initial footer position by waiting for layout
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
Due: none

fix(android): fix initial footer position on ScrollView
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  ios/TrueSheetContentView.mm
  src/TrueSheet.tsx
Due: lint, prettier

docs: add edge-to-edge display guide
  docs/docs/guides/edge-to-edge.mdx
Due: none

fix: fix initial width flicker during presentation
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
Due: lint, prettier

docs: move edge-to-edge to troubleshooting
  docs/docs/guides/edge-to-edge.mdx
  docs/docs/troubleshooting.mdx
Due: none

feat(ios): implement onSizeChange event
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnSizeChangeEvent.h
  ios/events/OnSizeChangeEvent.mm
Due: none

feat(ios): implement proper rotation tracking with viewWillTransitionToSize
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

fix(ios): fix footer positioning during rotation
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
Due: none

fix(ios): use proper floating point comparison in transition tracking
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

feat(android): implement dynamic content and footer size change handling
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

refactor(android): merge TrueSheetController and TrueSheetRootView into TrueSheetViewController
  android/src/main/java/com/lodev09/truesheet/TrueSheetRootView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

refactor(android): improve screen coordinate handling and fix position tracking
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  example/src/components/sheets/GestureSheet.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): improve position tracking and add transitioning flag for animations
  .zed/CONTEXT.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  src/reanimated/ReanimatedTrueSheet.tsx
Due: lint, prettier

feat(android): handle device rotation properly
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

refactor(android): remove bridge utilities and use pure Android APIs
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

chore: remove CONTEXT.md
  AGENTS.md
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
