Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: remove contentContainerStyle prop
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

refactor: remove keyboard handling for footer
  ios/TrueSheetViewComponentView.mm
Due: none

fix: remove style prop to prevent Auto Layout conflicts
  example/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix(ios): restore width tracking for proper auto sizing and rotation support
  example/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetViewComponentView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix(example): resolve TypeScript errors in example app
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/hooks/useDragChangeHandler.ts
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

refactor: use findNodeHandle instead of storing refs directly
  src/TrueSheet.tsx
Due: lint, prettier

refactor: remove Commands API and use TurboModule exclusively
  src/TrueSheet.tsx
Due: lint, prettier

refactor: remove Commands API completely from codebase
  ios/TrueSheetViewComponentView.h
  ios/TrueSheetViewComponentView.mm
  src/TrueSheet.tsx
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix: correct scrollRef type to Component<unknown>
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix(example): correct scrollRef types in sheet components
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

refactor: make scrollRef accept any component type
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix: update @types/react to 19.1.1 and exclude docs from TypeScript
  docs/package.json
  example/package.json
  package.json
  tsconfig.json
  yarn.lock
Due: none

feat(ios): add native footer component support
  ios/TrueSheetFooterViewComponentView.h
  ios/TrueSheetFooterViewComponentView.mm
  ios/TrueSheetViewComponentView.mm
  package.json
  src/TrueSheet.tsx
  src/TrueSheetFooterViewNativeComponent.ts
Due: lint, types, prettier

feat(ios): pin footer view to bottom using Auto Layout constraints
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): add height constraint to footer view
  ios/TrueSheetViewComponentView.mm
Due: none

fix(ios): bring footer view to front above container
  ios/TrueSheetViewComponentView.mm
Due: none

refactor(ios): simplify native component class names
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  package.json
Due: none

chore: rename pod to RNTrueSheet and bump version to 3.0.0
  RNTrueSheet.podspec
  example/ios/Podfile.lock
  package.json
Due: none

feat: change size API from percentage strings to fractional numbers (0-1)
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

fix: parse numeric string values for sizes on both platforms
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  ios/TrueSheetViewController.m
Due: none

refactor: rename 'size' terminology to 'detent' across entire codebase
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetEvent.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/hooks/useDragChangeHandler.ts
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheetViewNativeComponent.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

docs: update terminology from 'size' to 'detent' across all documentation
  docs/docs/guides/dimming/dimming.mdx
  docs/docs/guides/onmount/onmount.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/reference/01-props.mdx
  docs/docs/reference/02-methods.mdx
  docs/docs/reference/03-types.mdx
  docs/docs/usage.mdx
Due: none

docs: replace fixed height detent values with fractions
  docs/docs/reference/01-props.mdx
  docs/docs/usage.mdx
Due: none

fix(ios): fix setupDetents
  example/ios/Podfile.lock
  ios/TrueSheetViewController.m
Due: none

refactor(ios): encapsulate view lifecycle and touch handling in native components
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetLayoutUtils.h
  ios/TrueSheetLayoutUtils.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
Due: lint, prettier

feat(example): make Footer text pressable
  example/src/components/Footer.tsx
  src/TrueSheet.tsx
Due: lint, prettier

refactor: remove scrollRef prop - scroll views are now auto-detected
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: use willMoveToWindow lifecycle method for automatic cleanup
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
Due: none

Revert "refactor: use willMoveToWindow lifecycle method for automatic cleanup"
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
Due: none

fix: pin contentView to container before pinning scrollView
  ios/TrueSheetContainerView.mm
Due: none

fix: only pin scrollView, not contentView
  ios/TrueSheetContainerView.mm
Due: none

refactor: improve scrollView pinning - pin directly to controller view
  ios/TrueSheetContainerView.mm
  src/TrueSheet.tsx
Due: lint, prettier

style: convert iOS code indentation from 4 spaces to 2 spaces
  ios/TrueSheetComponentDescriptor.h
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetLayoutUtils.h
  ios/TrueSheetLayoutUtils.mm
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

refactor: remove keyboard listeners
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.mm
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

refactor: remove keyboard listeners
  .clang-format
  ios/TrueSheetComponentDescriptor.h
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetLayoutUtils.h
  ios/TrueSheetLayoutUtils.mm
  ios/TrueSheetModule.h
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

refactor: replace swiftlint with clang-format for Objective-C
  package.json
  scripts/objc-lint.sh
  scripts/swiftlint.sh
Due: none

chore: remove unused files
  docs/FABRIC_BUILD_FIXES.md
  docs/FABRIC_CHECKLIST.md
  docs/FABRIC_COMMANDS_UPGRADE.md
  docs/FABRIC_IMPLEMENTATION.md
  docs/FABRIC_MIGRATION.md
  docs/FABRIC_NEXT_STEPS.md
  docs/FABRIC_QUICK_REFERENCE.md
  docs/IOS_FABRIC_REFACTORING.md
  scripts/cleanup-swift-files.sh
Due: none

feat: add dynamic content adjustment buttons to BasicSheet
  example/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix: auto detent now adjusts when content height changes dynamically
  ios/TrueSheetView.mm
Due: none

Revert "fix: auto detent now adjusts when content height changes dynamically"
  ios/TrueSheetView.mm
Due: none
