Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: changelog for #828
  CHANGELOG.md
Due: none

fix(ios): let VoiceOver dismiss the sheet and reach the grabber (#828)
  CHANGELOG.md
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

fix(ios): let VoiceOver dismiss the sheet and reach the grabber (v3)
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

docs: changelog for #829
  CHANGELOG.md
Due: none

fix(ios): let VoiceOver dismiss the sheet and reach the grabber (v3) (#829)
  CHANGELOG.md
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

chore(example): toggle FlatListSheet between list and regular view
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
Due: lint, prettier

docs: sync truesheet-usage skill with recent docs
  AGENTS.md
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/configuration.md
  skills/truesheet-usage/references/troubleshooting.md
Due: none

fix(ios): escape from the system grabber, keep custom grabber from expanding under VoiceOver
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.mm
Due: none

docs: changelog for #831
  CHANGELOG.md
Due: none

docs: changelog for #830
  CHANGELOG.md
Due: none

fix(ios): escape from the system grabber, keep custom grabber from expanding under VoiceOver (v3) (#831)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.mm
Due: none

fix(ios): escape from the system grabber, keep custom grabber from expanding under VoiceOver (#830)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.mm
Due: none

feat: support the element inspector inside the sheet
  src/TrueSheet.tsx
Due: lint, prettier

docs: changelog for #832
  CHANGELOG.md
Due: none

docs: feature element inspector support in the v4 migration guide
  docs/content/docs/next/migration.mdx
  skills/truesheet-usage/references/advanced-patterns.md
Due: none

docs: feature element inspector support in README
  README.md
Due: none

feat: support the element inspector inside the sheet (#832)
  CHANGELOG.md
  README.md
  docs/content/docs/next/migration.mdx
  skills/truesheet-usage/references/advanced-patterns.md
  src/TrueSheet.tsx
Due: lint, prettier

feat: add onDismissAttempt event for blocked dismissals
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  docs/content/docs/next/guides/navigation.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/events.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/TrueSheetLifecycleEvents.h
  ios/events/TrueSheetLifecycleEvents.mm
  jest.setup.js
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/api.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
  src/web/vaul/constants.ts
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

docs: changelog for onDismissAttempt
  CHANGELOG.md
Due: none

feat: add onDismissAttempt event for blocked dismissals (#833)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/events/TrueSheetLifecycleEvents.kt
  docs/content/docs/next/guides/navigation.mdx
  docs/content/docs/next/reference/configuration.mdx
  docs/content/docs/next/reference/events.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/TrueSheetLifecycleEvents.h
  ios/events/TrueSheetLifecycleEvents.mm
  jest.setup.js
  skills/truesheet-usage/SKILL.md
  skills/truesheet-usage/references/advanced-patterns.md
  skills/truesheet-usage/references/api.md
  skills/truesheet-usage/references/configuration.md
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/__tests__/TrueSheet.test.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
  src/web/vaul/constants.ts
  src/web/vaul/context.ts
  src/web/vaul/index.tsx
Due: lint, types, prettier

fix(android): drag to dismiss keyboard on non-dismissible sheets, keep parent still during keyboard
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

fix(android): keyboard floor for dismissible sheets, dismiss attempt past the hide threshold
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

fix(android): absolute footer rides with the sheet below its lowest stop
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

docs: changelog entry for #834
  CHANGELOG.md
Due: none

fix(android): short keyboard drag rests at the second detent
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
Due: none

fix(android): dismiss the keyboard on release instead of on landing
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

fix(android): scroll short content above keyboard
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
Due: none

chore: link short scroll fix in changelog
  CHANGELOG.md
Due: none

fix(android): keyboard drag parity with iOS (#834)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

fix(android): scroll short content above keyboard (#835)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
Due: none

feat(docs): add stars and refine header controls
  docs/app/provider.tsx
  docs/components/site-header.tsx
Due: lint, prettier

fix(docs): improve demo search contrast in dark mode
  docs/components/sheet-demo/styles.module.css
Due: none

chore: release 4.0.0-beta.10
  docs/app/(home)/install-command.tsx
  docs/app/(home)/page.tsx
  docs/components/sheet-demo/index.tsx
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  package.json
Due: lint, prettier

chore: update podfile
  example/bare/ios/Podfile.lock
Due: none

chore(docs): rename "Unreleased" version label to "Next"
  docs/content/docs/next/meta.json
  scripts/release.sh
Due: none

feat(docs): archive previous major docs on release
  docs/app/layout.tsx
  docs/app/provider.tsx
  docs/app/sitemap.ts
  docs/components/search.tsx
  docs/content/docs/latest/meta.json
  docs/content/docs/next/meta.json
  docs/lib/versions.ts
  docs/next.config.mjs
  scripts/release.sh
Due: lint, types, prettier

docs: add changelog entry for #836
  CHANGELOG.md
Due: none

feat(docs): archive previous major docs on release (#836)
  CHANGELOG.md
  docs/app/layout.tsx
  docs/app/provider.tsx
  docs/app/sitemap.ts
  docs/components/search.tsx
  docs/content/docs/latest/meta.json
  docs/content/docs/next/meta.json
  docs/lib/versions.ts
  docs/next.config.mjs
  scripts/release.sh
Due: lint, types, prettier
