Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ios): handle stale container view from Reanimated exiting animations
  example/bare/ios/Podfile.lock
  ios/TrueSheetView.mm
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix(ios): handle stale container view from Reanimated exiting animations (#493)
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  ios/TrueSheetView.mm
Due: none

feat: add maxWidth prop
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  docs/docs/reference/01-configuration.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor!: rename maxHeight/maxWidth to maxContentHeight/maxContentWidth
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  docs/docs/reference/01-configuration.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: update CHANGELOG
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): ignore maxContentWidth on portrait phone
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
Due: none

feat(web): add default maxWidth and centering for landscape/tablet
  ios/TrueSheetViewController.mm
  src/TrueSheet.web.tsx
Due: lint, prettier

feat: add maxContentWidth prop (#495)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDetentCalculator.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  docs/docs/reference/01-configuration.mdx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

feat(ios): side sheet using sourceView and preferredContentSize
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

feat(android): side sheet using gravity and maxWidth
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

feat: add anchor prop for side-sheet positioning
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: add anchor/side-sheet guide and update configuration docs
  docs/docs/guides/anchor.mdx
  docs/docs/guides/assets/anchor.gif
  docs/docs/reference/01-configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

docs: add changelog entry for anchor props
  CHANGELOG.md
Due: none

feat: side sheet with anchor prop (#496)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  docs/docs/guides/anchor.mdx
  docs/docs/guides/assets/anchor.gif
  docs/docs/reference/01-configuration.mdx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

docs: add v3.9 blog post and update guide/config docs
  docs/blog/2026/release-3-9.mdx
  docs/docs/guides/anchor.mdx
Due: none

chore: release 3.9.0-beta.0
  package.json
Due: none

feat: replace react-native-maps with @lugg/maps
  README.md
  example/bare/.env
  example/bare/README.md
  example/bare/android/app/build.gradle
  example/bare/android/app/src/main/AndroidManifest.xml
  example/bare/ios/Podfile.lock
  example/bare/ios/TrueSheetExample.xcodeproj/project.pbxproj
  example/bare/ios/TrueSheetExample/AppDelegate.swift
  example/bare/ios/TrueSheetExample/TrueSheetExample-Bridging-Header.h
  example/bare/package.json
  example/bare/src/App.tsx
  example/expo/.env
  example/expo/README.md
  example/expo/app.config.ts
  example/expo/app.json
  example/expo/app/_layout.tsx
  example/expo/package.json
  example/shared/package.json
  example/shared/src/components/Map.tsx
  example/shared/src/components/Map.web.tsx
  yarn.lock
Due: lint, types, prettier

feat: add TRUE SHEET polyline text on map
  example/shared/src/components/Map.tsx
Due: lint, prettier

refactor: use codegen enums for backgroundBlur, anchor, insetAdjustment
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  example/bare/ios/Podfile.lock
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/utils/BlurUtil.h
  ios/utils/BlurUtil.mm
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: update changelog
  CHANGELOG.md
Due: none

refactor: use codegen enums for backgroundBlur, anchor, insetAdjustment (#499)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  example/bare/ios/Podfile.lock
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.h
  ios/core/TrueSheetBlurView.mm
  ios/utils/BlurUtil.h
  ios/utils/BlurUtil.mm
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(android): skip anchor and anchorOffset on portrait phones
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

docs: add changelog entry
  CHANGELOG.md
Due: none

fix(android): skip transition animations during config changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

fix(android): skip anchor and anchorOffset on portrait phones (#500)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

fix(android): use M3 baseline colors for default sheet background
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

docs: add changelog entry for #501
  CHANGELOG.md
Due: none

fix(android): use M3 baseline colors for default sheet background (#501)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

chore: release 3.9.0-beta.1
  package.json
Due: none

fix(web): use M3 baseline colors for default sheet background
  CHANGELOG.md
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

fix(web): use M3 baseline colors for default sheet background (#502)
  CHANGELOG.md
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: update changelog for #503
  CHANGELOG.md
Due: none

chore: update README
  README.md
Due: none
