Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

docs: update troubleshooting
  docs/docs/troubleshooting.mdx
  example/ios/Podfile.lock
Due: none

chore: release 3.0.0-beta.8
  package-lock.json
  package.json
Due: none

fix(android): fix android layout issue
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

docs: updated docs about auto detent
  docs/docs/reference/01-props.mdx
  src/TrueSheet.types.ts
Due: lint, types, prettier

chore: release 3.0.0-beta.9
  package-lock.json
  package.json
Due: none

fix(ios): add presenting/dismissing checks
  ios/TrueSheetView.mm
Due: none

docs: fix broken link
  docs/docs/guides/scrolling/scrolling.mdx
Due: none

docs: update README
  README.md
  docs/docs/guides/liquid-glass.mdx
  docs/docs/intro.mdx
Due: none

fix(ios): pin scrollview to closest top sibling when no header
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetViewController.mm
Due: none

chore: update example
  example/src/components/Header.tsx
  example/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

docs: update README
  README.md
Due: none

fix: fix TrueSheet style to fix android scrollable
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
Due: lint, prettier

refactor: rename fitScrollView to scrollable
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/scrolling/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor(android): cleanup code, update example
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/ios/Podfile.lock
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix: fix android scrollable content (#236)
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/scrolling/scrolling.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  example/ios/Podfile.lock
  example/src/components/Header.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: release 3.0.0-beta.10
  package-lock.json
  package.json
Due: none

docs: update scrolling doc
  docs/docs/guides/scrolling/scrolling.mdx
Due: none

feat(android): support sheet stacking
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): remove onDetachedFromWindow and hasActiveModals
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  example/src/components/sheets/NavigationSheet.tsx
Due: lint, prettier

docs: update stacking guide for android support
  docs/docs/guides/stacking/stacking.mdx
Due: none

feat(android): support sheet stacking (#237)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  docs/docs/guides/stacking/stacking.mdx
  example/src/components/sheets/NavigationSheet.tsx
  example/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
Due: lint, prettier

chore: release 3.0.0-beta.11
  package-lock.json
  package.json
Due: none

feat(ios): support 2-level deep scroll view detection
  docs/docs/guides/scrolling/scrolling.mdx
  example/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

feat(ios): support 2-level deep scroll view detection (#238)
  docs/docs/guides/scrolling/scrolling.mdx
  example/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier

chore: release 3.0.0-beta.12
  package-lock.json
  package.json
Due: none

docs: update features
  README.md
  docs/docs/intro.mdx
Due: none

feat: add onDidFocus and onDidBlur events for stacked sheets
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  android/src/main/java/com/lodev09/truesheet/events/BlurEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/FocusEvent.kt
  docs/docs/guides/stacking/stacking.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-props.mdx
  example/ios/Podfile.lock
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnDidBlurEvent.h
  ios/events/OnDidBlurEvent.mm
  ios/events/OnDidFocusEvent.h
  ios/events/OnDidFocusEvent.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(android): improve BottomSheetDialog animation with M3-style transitions
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/res/anim/true_sheet_slide_in.xml
  android/src/main/res/anim/true_sheet_slide_out.xml
  android/src/main/res/values/styles.xml
Due: none

docs: reorganize reference docs structure
  README.md
  docs/blog/2024/release-0-10.mdx
  docs/docs/guides/dimming/dimming.mdx
  docs/docs/guides/footer.mdx
  docs/docs/guides/global-methods.mdx
  docs/docs/guides/navigation/navigation.mdx
  docs/docs/guides/onmount/onmount.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/02-events.mdx
  docs/docs/reference/03-methods.mdx
  docs/docs/reference/04-types.mdx
  docs/docs/usage.mdx
Due: none

feat: add onDidFocus and onDidBlur events for stacked sheets (#242)
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  android/src/main/java/com/lodev09/truesheet/events/BlurEvent.kt
  android/src/main/java/com/lodev09/truesheet/events/FocusEvent.kt
  android/src/main/res/anim/true_sheet_slide_in.xml
  android/src/main/res/anim/true_sheet_slide_out.xml
  android/src/main/res/values/styles.xml
  docs/blog/2024/release-0-10.mdx
  docs/docs/guides/dimming/dimming.mdx
  docs/docs/guides/footer.mdx
  docs/docs/guides/global-methods.mdx
  docs/docs/guides/navigation/navigation.mdx
  docs/docs/guides/onmount/onmount.mdx
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/guides/stacking/stacking.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/02-events.mdx
  docs/docs/reference/03-methods.mdx
  docs/docs/reference/04-types.mdx
  docs/docs/usage.mdx
  example/ios/Podfile.lock
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnDidBlurEvent.h
  ios/events/OnDidBlurEvent.mm
  ios/events/OnDidFocusEvent.h
  ios/events/OnDidFocusEvent.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat(reanimated): add continuous animatedIndex interpolation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/events/PositionChangeEvent.kt
  docs/docs/guides/reanimated/reanimated.mdx
  docs/docs/reference/04-types.mdx
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/events/OnPositionChangeEvent.h
  ios/events/OnPositionChangeEvent.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/reanimated/ReanimatedTrueSheet.tsx
  src/reanimated/ReanimatedTrueSheetProvider.tsx
Due: lint, types, prettier

refactor(reanimated): animate animatedIndex during transitions
  example/src/screens/MapScreen.tsx
  src/reanimated/ReanimatedTrueSheet.tsx
Due: lint, prettier

docs: add animatedIndex example to reanimated guide
  docs/docs/guides/reanimated/reanimated.mdx
Due: none

fix(ios): resolve auto detent value for animatedIndex calculation
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

fix(android): emit nearest detent index and actual detent fraction
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(example): add default navigation constant
  example/src/App.tsx
Due: lint, prettier

chore: setup logging
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/App.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/NavigationScreen.tsx
Due: lint, prettier

refactor(android): consolidate position change emissions
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(ios): improve detent position calculation and emit actual detent value
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/ios/TrueSheetExample/Info.plist
  example/src/App.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/MapScreen.tsx
  example/src/screens/NavigationScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
