Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

ci: use latest-stable xcode
  .github/workflows/build.yml
Due: none

fix(android): fix keyboard dismiss issue with backdrop (#351)
  .github/workflows/build.yml
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

feat(android): add elevation prop
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  docs/docs/reference/01-configuration.mdx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat(web): add elevation prop support
  docs/docs/reference/01-configuration.mdx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
Due: lint, types, prettier

feat: add elevation prop for Android and Web (#355)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  docs/docs/reference/01-configuration.mdx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

ci: maybe improve build-ios workflow
  .github/workflows/build.yml
  example/bare/ios/Podfile
Due: none

ci: combine ccache into one step
  .github/workflows/build.yml
Due: none

chore: release 3.6.0
  package.json
Due: none

fix(ios): fall back to view.backgroundColor when UIDesignRequiresCompatibility is true
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.6.1
  package.json
Due: none

docs: improve liquid glass documentation
  docs/docs/guides/liquid-glass.mdx
  docs/docs/reference/01-configuration.mdx
Due: none

fix(ios): support blur intensity with backgroundBlur on iOS 26.1+
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.6.2
  package.json
Due: none

fix(android): add safe value for halfExpandedRatio
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

fix(ios): add compile-time check for iOS 26.1+ APIs
  example/bare/ios/Podfile.lock
  ios/TrueSheetViewController.mm
  ios/utils/PlatformUtil.h
Due: none

chore: release 3.6.3
  package.json
Due: none

fix(android): wait for window attachment before initial presentation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

chore: release 3.6.4
  package.json
Due: none

docs: add docs about autofocus input behavior
  docs/docs/guides/keyboard.mdx
  example/shared/src/components/Input.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

fix(android): fix animated sheet dismiss with keyboard shown
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: release 3.6.5
  package.json
Due: none

fix(android): move setupModalObserver to present lifecycle
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor: simplify initial presentation to only trigger on attach to window
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  ios/TrueSheetView.mm
Due: none

chore: release 3.6.6
  package.json
Due: none

chore: update expo scripts
  example/expo/package.json
Due: none

chore: update example deps
  .zed/settings.json
  example/bare/ios/Podfile.lock
  example/bare/package.json
  example/expo/package.json
  example/shared/package.json
  package.json
  scripts/clean.sh
  yarn.lock
Due: none

fix: reset initial present flag during recycle
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  ios/TrueSheetView.mm
Due: none

chore: add @types/react resolution
  package.json
  yarn.lock
Due: none

chore: release 3.6.7
  package.json
Due: none

fix(android): render TrueSheet above React Native Modal
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): render TrueSheet above React Native Modal (#359)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): optimize findRootContainerView to return first content view
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(ios): preserve keyboard offset when footer resizes
  ios/TrueSheetFooterView.mm
Due: none

fix(ios): preserve keyboard offset when footer resizes (#361)
  ios/TrueSheetFooterView.mm
Due: none

chore: run tidy
  ios/TrueSheetFooterView.mm
Due: none

chore: release 3.6.8
  package.json
Due: none

fix(ios): dismiss sheets properly during navigation and reload
  example/shared/src/components/sheets/PromptSheet.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

fix(android): dismiss sheet early when container is unmounted
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix(android): only handle keyboard for focused views within sheet
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

refactor(android): move isKeyboardTransitioning to observer
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none
