Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(ios): add pending layout update flag for detents and insetAdjustment changes
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
Due: none

refactor(ios): rename to detentBottomInsetForHeight, skip for iOS 26 floating sheets
  ios/TrueSheetViewController.mm
Due: none

docs: add insetAdjustment prop documentation
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
Due: none

fix: Android layout calculations and add insetAdjustment prop (#285)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  android/src/main/res/values/styles.xml
  docs/docs/guides/resizing/resizing.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/ios/Podfile.lock
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: rename background prop to backgroundColor
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/res/values/styles.xml
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

refactor: rename background prop to backgroundColor (#286)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/res/values/styles.xml
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(ios): scrollView unscrollable when draggable=false
  example/src/components/sheets/FlatListSheet.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

chore: revert FlatList example
  example/src/components/sheets/FlatListSheet.tsx
Due: lint, prettier

fix(ios): scrollView unscrollable when draggable=false (#287)
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.1.1
  package-lock.json
  package.json
Due: none

docs: update types doc
  docs/docs/reference/04-types.mdx
Due: none

docs: add troubleshooting for Android touch events
  docs/docs/troubleshooting.mdx
Due: none

docs: add troubleshooting for Android touch events (#290)
  docs/docs/troubleshooting.mdx
Due: none

feat(navigation): add reanimated config option
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
Due: lint, prettier

feat(navigation): use reanimated position change handler
  src/navigation/TrueSheetView.tsx
Due: lint, prettier

refactor(navigation): extract screen components to separate files
  src/navigation/ReanimatedTrueSheetScreen.tsx
  src/navigation/TrueSheetScreen.tsx
  src/navigation/TrueSheetView.tsx
Due: lint, prettier

refactor(navigation): move screen components to screen folder
  src/navigation/TrueSheetView.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/index.ts
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

refactor(navigation): simplify useSheetScreenState return with eventHandlers spread
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

feat(navigation): add reanimated support with ReanimatedTrueSheet
  example/src/navigators/SheetNavigator.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

refactor(navigation): extract screen types and fix resizeKey dependency
  example/src/navigators/SheetNavigator.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/index.ts
  src/navigation/screen/types.ts
  src/navigation/screen/useSheetScreenState.ts
Due: lint, types, prettier

feat(navigation): make reanimated integration optional with lazy require
  example/src/navigators/SheetNavigator.tsx
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/screen/index.ts
Due: lint, types, prettier

refactor(navigation): convert functions to arrow functions
  example/src/navigators/SheetNavigator.tsx
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/useTrueSheetNavigation.ts
Due: lint, types, prettier

feat(navigation): add per-screen reanimated option with position change handler
  example/src/navigators/SheetNavigator.tsx
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/index.ts
  src/navigation/screen/types.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
Due: lint, types, prettier

docs: add reanimated integration to navigation guide
  docs/docs/guides/navigation/navigation.mdx
Due: none

refactor: move spread below
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
Due: lint, prettier

feat(navigation): add per-screen reanimated option (#291)
  docs/docs/guides/navigation/navigation.mdx
  example/src/navigators/SheetNavigator.tsx
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/index.ts
  src/navigation/screen/types.ts
  src/navigation/screen/useSheetScreenState.ts
  src/navigation/types.ts
  src/navigation/useTrueSheetNavigation.ts
Due: lint, types, prettier

chore: release 3.2.0
  package-lock.json
  package.json
Due: none

feat(navigation): rename reanimatedPositionChangeHandler to positionChangeHandler
  docs/docs/guides/navigation/navigation.mdx
  example/src/navigators/SheetNavigator.tsx
  src/navigation/TrueSheetView.tsx
  src/navigation/screen/ReanimatedTrueSheetScreen.tsx
  src/navigation/screen/TrueSheetScreen.tsx
  src/navigation/screen/index.ts
  src/navigation/screen/types.ts
  src/navigation/types.ts
Due: lint, types, prettier

chore: release 3.2.1
  package-lock.json
  package.json
Due: none

fix(ios): hide host view to prevent background color showing
  ios/TrueSheetView.mm
Due: none

chore: add constant to default navigator
  example/ios/Podfile.lock
  example/src/navigators/RootNavigator.tsx
Due: lint, prettier

fix(ios): hide host view to prevent background color showing (#294)
  example/ios/Podfile.lock
  example/src/navigators/RootNavigator.tsx
  ios/TrueSheetView.mm
Due: lint, prettier

fix(grabber): use ProcessedColorValue for color prop and fix z-order
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(grabber): use ProcessedColorValue for color prop and fix z-order (#296)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix: interpolated index and detent for single detent
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

refactor: simplify findSegmentForPosition
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetViewController.mm
Due: none

chore: restore MapScreen
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix: interpolated index and detent for single detent (#297)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
  ios/TrueSheetViewController.mm
Due: lint, prettier

chore: release 3.2.2
  package-lock.json
  package.json
Due: none

fix(accessibility): enhanced VoiceOver Support for iOS
  example/ios/Podfile.lock
  ios/TrueSheetViewController.mm
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
