Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

chore: android build
  android/build.gradle
  example/android/app/src/main/AndroidManifest.xml
Due: none

fix(android): container size change
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  android/src/main/java/com/lodev09/truesheet/events/ContainerSizeChangeEvent.kt
  src/TrueSheet.tsx
Due: lint, prettier

fix(ios): update size event
  example/ios/Podfile.lock
  ios/TrueSheetView.swift
  ios/TrueSheetViewManager.m
Due: none

chore: remove flunky ci
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: none

chore: fix version
  package.json
Due: none

feat: update example
  android/build.gradle
  example/android/app/src/main/res/values/styles.xml
  example/package.json
  example/src/App.tsx
  example/src/components/DemoContent.tsx
  example/src/sheets/GestureSheet.tsx
  src/TrueSheet.types.ts
  yarn.lock
Due: lint, types, prettier

docs: add edgeToEdge guide
  docs/docs/guides/edge2edge.mdx
  docs/docs/reference/01-props.mdx
  src/TrueSheet.types.ts
Due: lint, types, prettier

chore: tidy
  package.json
  yarn.lock
Due: none

chore: release 1.0.0
  package.json
Due: none

chore: fix types
  package.json
Due: none

chore: release 1.0.1
  package.json
Due: none

fix: jest mock
  package.json
  src/__mocks__/index.js
Due: lint, types, prettier

chore: release 1.0.2
  package.json
Due: none

fix: include __mocks__
  package.json
Due: none

chore: release 1.0.3
  package.json
Due: none

chore: cleanup
  .gitignore
  example/ios/.xcode.env.local
  example/ios/Podfile
  example/ios/Podfile.lock
Due: none

fix: ios background color
  docs/docs/reference/01-props.mdx
  ios/Extensions/UIColor+withName.swift
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
  ios/TrueSheetViewManager.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

chore: tidy
  example/ios/Podfile
  example/ios/Podfile.lock
Due: none

fix: add edge-to-edge to sample sheets
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  example/src/sheets/BasicSheet.tsx
  example/src/sheets/BlankSheet.tsx
  example/src/sheets/FlatListSheet.tsx
  example/src/sheets/GestureSheet.tsx
  example/src/sheets/PromptSheet.tsx
  example/src/sheets/ScrollViewSheet.tsx
Due: lint, prettier

fix(android): drag bug
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
Due: none

fix: default initial index
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

fix: android background
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/Utils.kt
  src/TrueSheet.tsx
Due: lint, prettier

Fix: Sheet background (#114)
  .gitignore
  android/src/main/java/com/lodev09/truesheet/TrueSheetDialog.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/RootSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/Utils.kt
  docs/docs/reference/01-props.mdx
  example/ios/.xcode.env.local
  example/ios/Podfile
  example/ios/Podfile.lock
  example/src/sheets/BasicSheet.tsx
  example/src/sheets/BlankSheet.tsx
  example/src/sheets/FlatListSheet.tsx
  example/src/sheets/GestureSheet.tsx
  example/src/sheets/PromptSheet.tsx
  example/src/sheets/ScrollViewSheet.tsx
  ios/Extensions/UIColor+withName.swift
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
  ios/TrueSheetViewManager.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat: add navigation example
  example/android/app/src/main/java/truesheet/example/MainActivity.kt
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/components/sheets/index.ts
  example/src/hooks/index.ts
  example/src/hooks/useAppNavigation.ts
  example/src/screens/ChildScreen.tsx
  example/src/screens/MapScreen.tsx
  example/src/screens/NavigationScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
  yarn.lock
Due: lint, types, prettier

feat: add navigation example (#115)
  example/android/app/src/main/java/truesheet/example/MainActivity.kt
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/components/sheets/BasicSheet.tsx
  example/src/components/sheets/BlankSheet.tsx
  example/src/components/sheets/FlatListSheet.tsx
  example/src/components/sheets/GestureSheet.tsx
  example/src/components/sheets/PromptSheet.tsx
  example/src/components/sheets/ScrollViewSheet.tsx
  example/src/components/sheets/index.ts
  example/src/hooks/index.ts
  example/src/hooks/useAppNavigation.ts
  example/src/screens/ChildScreen.tsx
  example/src/screens/MapScreen.tsx
  example/src/screens/NavigationScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
  yarn.lock
Due: lint, types, prettier

fix(android): support react native 0.77
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

chore: use null check instead of cast
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

feat: backgroundColor apply refactoring
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/Extensions/UIColor+withName.swift
  ios/TrueSheetView.swift
  ios/TrueSheetViewManager.m
  package.json
  src/TrueSheet.tsx
Due: lint, prettier

fix(ios): correct sizeInfo on present
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
Due: none

chore(ios): decrease min ios version
  ios/TrueSheetViewController.swift
  react-native-true-sheet.podspec
Due: none

feat(ios): add drag events
  example/ios/Podfile.lock
  example/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetView.swift
  ios/TrueSheetViewController.swift
  ios/TrueSheetViewManager.m
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

revert version
  package.json
Due: none

chore: add suppression comment for react native < 0.77
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

fix(android): support react native 0.77 (#117)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

feat: backgroundColor apply refactoring (#121)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/Extensions/UIColor+withName.swift
  ios/TrueSheetView.swift
  ios/TrueSheetViewManager.m
  src/TrueSheet.tsx
Due: lint, prettier

refactor: fix background color type
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  src/TrueSheet.tsx
Due: lint, prettier

chore: release 1.1.0
  package.json
Due: none

chore: update builder-bob
  android/build.gradle
  android/gradle.properties
  example/Gemfile
  example/android/build.gradle
  example/ios/File.swift
  example/ios/Podfile
  example/package.json
  example/react-native.config.js
  package.json
  yarn.lock
Due: lint, types, prettier

chore(android): put back gesture handler and add todo
  android/build.gradle
  example/package.json
  example/src/components/sheets/GestureSheet.tsx
  yarn.lock
Due: lint, prettier

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  prettier: any of: *.{js,ts,jsx,tsx}
