Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix: hierarchy
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

Revert "feat(android): render coordinator layout in Screen container (#373)"
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  example/bare/src/navigators/ModalStackNavigator.tsx
Due: lint, prettier

chore: release 3.7.0-beta.1
  package.json
Due: none

fix(android): add pointerEvents prop support to view managers
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetHeaderViewManager.kt
Due: none

chore: release 3.7.0-beta.2
  package.json
Due: none

fix(android): respect pointerEvents in TrueSheetFooterView
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
Due: none

chore: release 3.7.0-beta.3
  package.json
Due: none

fix: pointerevents build error
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterViewManager.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetHeaderViewManager.kt
Due: none

fix(android): improve keyboard handling during sheet presentation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
  example/bare/ios/Podfile.lock
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

fix(ios): only adjust footer for keyboard when input is within sheet
  ios/TrueSheetFooterView.mm
  ios/utils/UIView+FirstResponder.h
  ios/utils/UIView+FirstResponder.mm
Due: none

fix(android): add fallback for keyboard dismiss callback on API < 30
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

fix: improve keyboard handling for sheet presentation (#379)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
  example/bare/ios/Podfile.lock
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetFooterView.mm
  ios/utils/UIView+FirstResponder.h
  ios/utils/UIView+FirstResponder.mm
Due: lint, prettier

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/utils/KeyboardUtils.kt
Due: none

chore: release 3.7.0-beta.4
  package.json
Due: none

fix(android): dismiss keyboard when presenting at dimmed detent
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

chore: release 3.7.0-beta.5
  package.json
Due: none

chore: update AGENTS file
  AGENTS.md
  CLAUDE.md
Due: none

docs: remove unistyles from troubleshooting
  docs/docs/troubleshooting.mdx
Due: none

refactor(android): remove unused code
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
Due: none

chore: release 3.7.0
  package.json
Due: none

chore: update prompt sheet example
  example/shared/src/components/Input.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: update scrollview & flatlist examples
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

fix(android): keyboard and focus handling inside RN Modal
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

fix(android): keyboard and focus handling inside RN Modal (#387)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

feat: add dismissAll static method
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  src/TrueSheet.tsx
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

fix(ios): dismiss all sheets without dismissing external view controllers
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.mm
Due: lint, prettier

fix(android): dismiss all sheets without dismissing sheets behind modal
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

docs: add dismissAll method documentation
  docs/docs/guides/stacking.mdx
  docs/docs/reference/03-methods.mdx
Due: none

fix(android): prevent translation of sheets hidden by modal
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

feat(web): add dismissAll method
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

feat(web): add dismissAll method
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/mocks/index.ts
Due: lint, types, prettier

feat(web): add static methods for present, dismiss, resize
  example/shared/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

feat: add dismissAll static method (#393)
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
  docs/docs/guides/stacking.mdx
  docs/docs/reference/03-methods.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/mocks/index.ts
  src/specs/NativeTrueSheetModule.ts
Due: lint, types, prettier

docs: add CHANGELOG.md and update contribution guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

fix(ios): correct position tracking for pending detent changes
  ios/TrueSheetViewController.mm
Due: none

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(ios): correct position tracking for pending detent changes (#394)
  CHANGELOG.md
  ios/TrueSheetViewController.mm
Due: none

docs: update changelog format to include author attribution
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

chore: skip repro check for accepted issues, reduce stale days for needs repro
  .github/workflows/check-repro.yml
  .github/workflows/stale.yml
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
