Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

docs: fix broken links
  docs/blog/2024/release-0-10.mdx
  docs/docs/guides/onmount/onmount.mdx
  docs/docs/migration.mdx
Due: none

feat: add react-navigation integration
  docs/docs/guides/navigation/navigation.mdx
  example/src/App.tsx
  example/src/screens/NavigationScreen.tsx
  example/src/screens/SheetNavigatorScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
  package.json
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/index.ts
  src/navigation/types.ts
  src/navigation/useTrueSheetNavigation.ts
  tsconfig.json
  yarn.lock
Due: lint, types, prettier

docs: add expo-router support section to navigation guide
  docs/docs/guides/navigation/navigation.mdx
Due: none

feat: add sheet navigator for react-navigation integration
  docs/docs/guides/navigation/navigation.mdx
  example/src/App.tsx
  example/src/navigators/ModalStackNavigator.tsx
  example/src/navigators/RootNavigator.tsx
  example/src/navigators/SheetNavigator.tsx
  example/src/navigators/index.ts
  example/src/screens/MapScreen.tsx
  example/src/screens/index.ts
Due: lint, types, prettier

fix: wait for sheet dismiss animation before removing route
  example/src/navigators/RootNavigator.tsx
  example/src/navigators/SheetNavigator.tsx
  example/src/screens/StandardScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/types.ts
Due: lint, types, prettier

refactor(navigation): use Pick for TrueSheetNavigationOptions type
  docs/docs/guides/onmount/onmount.mdx
  src/navigation/types.ts
Due: lint, types, prettier

fix(android): prevent state reset during resize animation
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/types.ts
Due: lint, types, prettier

refactor(navigation): clean up types and remove redundancies
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/index.ts
  src/navigation/types.ts
Due: lint, types, prettier

refactor(navigation): simplify detentIndex logic and use initialDetentIndex
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/types.ts
Due: lint, types, prettier

feat(navigation): add sheet-specific navigation events
  example/src/navigators/SheetNavigator.tsx
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/index.ts
  src/navigation/types.ts
Due: lint, types, prettier

refactor(navigation): reuse event payload types from TrueSheet.types
  src/navigation/TrueSheetView.tsx
  src/navigation/index.ts
  src/navigation/types.ts
Due: lint, types, prettier

refactor(navigation): use nested pattern instead of independent tree
  docs/docs/guides/navigation/navigation.mdx
  example/ios/Podfile.lock
  example/src/navigators/RootNavigator.tsx
  example/src/navigators/SheetNavigator.tsx
  example/src/screens/MapScreen.tsx
  example/src/screens/StandardScreen.tsx
  example/src/types.ts
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
Due: lint, types, prettier

feat(navigation): support initialRouteName to determine base screen
  docs/docs/guides/navigation/navigation.mdx
  example/src/navigators/SheetNavigator.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/types.ts
Due: lint, types, prettier

docs: simplify navigation doc
  docs/docs/guides/navigation/navigation.mdx
Due: none

docs: update navigation doc
  docs/docs/guides/navigation/navigation.mdx
Due: none

docs: tidy
  docs/docs/guides/navigation/navigation.mdx
Due: none

chore(example): restore example
  example/src/navigators/RootNavigator.tsx
  example/src/navigators/SheetNavigator.tsx
  example/src/screens/MapScreen.tsx
  example/src/screens/StandardScreen.tsx
  example/src/types.ts
Due: lint, types, prettier

fix(navigation): bubble goBack to parent when on base screen
  src/navigation/TrueSheetRouter.ts
Due: lint, types, prettier

feat: add sheet navigator for react-navigation integration (#279)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/blog/2024/release-0-10.mdx
  docs/docs/guides/navigation/navigation.mdx
  docs/docs/guides/onmount/onmount.mdx
  docs/docs/migration.mdx
  example/ios/Podfile.lock
  example/src/App.tsx
  example/src/navigators/ModalStackNavigator.tsx
  example/src/navigators/RootNavigator.tsx
  example/src/navigators/SheetNavigator.tsx
  example/src/navigators/index.ts
  example/src/screens/MapScreen.tsx
  example/src/screens/StandardScreen.tsx
  example/src/screens/index.ts
  example/src/types.ts
  package.json
  src/navigation/TrueSheetRouter.ts
  src/navigation/TrueSheetView.tsx
  src/navigation/createTrueSheetNavigator.tsx
  src/navigation/index.ts
  src/navigation/types.ts
  src/navigation/useTrueSheetNavigation.ts
  tsconfig.json
  yarn.lock
Due: lint, types, prettier

feat: add guard to resize method to check if sheet is presented
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  docs/docs/reference/03-methods.mdx
  ios/TrueSheetModule.mm
  ios/TrueSheetView.h
  ios/TrueSheetView.mm
Due: none

feat: skip position change emission when full screen controller is presented
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetViewController.mm
Due: none

chore: run tidy
  ios/TrueSheetViewController.mm
Due: none

chore: release 3.1.0-beta.10
  package-lock.json
  package.json
Due: none

docs: simplify AGENTS.md and update folder structure
  AGENTS.md
Due: none

chore: release 3.1.0
  package-lock.json
  package.json
Due: none

docs: add sheet navigator blog post and simplify sidebar categories
  docs/blog/2025/sheet-navigator.mdx
  docs/docs/guides/_category_.json
  docs/docs/reference/_category_.json
Due: none

feat(android): adjust android layout calculations
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  android/src/main/res/values/styles.xml
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): fix footer positioning
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): emit correct position relative to js screen height
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): fix halfExpandedRatio calculation with 3 detents
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

refactor(android): pre-calculate positions by index
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

chore: restore examples
  example/src/components/sheets/BasicSheet.tsx
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): fix halfExpandedRatio calculation
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

feat(android): add bottomInset to detent heights for iOS consistency
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
Due: none

fix(android): adjust halfExpandedRatio and expandedOffset for edgeToEdgeFullScreen
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/utils/ScreenUtils.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): emit position on dismiss and sheet stacking
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

refactor(android): simplify setupSheetDetents calculation
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/src/screens/MapScreen.tsx
Due: lint, prettier

feat: add insetAdjustment prop for controlling bottom inset behavior
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  example/ios/Podfile.lock
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

fix(ios): fix ios insetAdjustment logic
  example/src/screens/MapScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
Due: lint, types, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
