Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(ios): auto-dismiss sheet when nested stack is removed
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/TestStackNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/_layout.tsx
  example/expo/app/index.tsx
  example/expo/app/test-stack/_layout.tsx
  example/expo/app/test-stack/index.tsx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/core/RNScreensEventObserver.mm
Due: lint, types, prettier

docs: update changelog
  CHANGELOG.md
Due: none

fix(ios): auto-dismiss sheet when nested stack is removed (#472)
  CHANGELOG.md
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/TestStackNavigator.tsx
  example/bare/src/types.ts
  example/expo/app/_layout.tsx
  example/expo/app/index.tsx
  example/expo/app/test-stack/_layout.tsx
  example/expo/app/test-stack/index.tsx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  ios/core/RNScreensEventObserver.mm
Due: lint, types, prettier

fix(ios): reset dismissedByNavigation flag on present
  ios/TrueSheetView.mm
Due: none

chore: run tidy
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

chore: release 3.8.0-beta.3
  package.json
Due: none

chore: skip PR comments for beta releases
  package.json
Due: none

fix(ios): only update state on detent change or rotation
  ios/TrueSheetViewController.mm
Due: none

fix(ios): distinguish modal vs nested stack for auto-dismiss
  ios/core/RNScreensEventObserver.mm
Due: none

chore: release 3.8.0-beta.4
  package.json
Due: none

fix(ios): initialize state size for initial width
  ios/TrueSheetView.mm
Due: none

refactor: simplify and use flex: 1 on scrollable content
  docs/docs/troubleshooting.mdx
  example/shared/src/components/sheets/GestureSheet.tsx
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): remove viewControllerDidDetectScreenDismiss to prevent main sheet translation reset
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/troubleshooting.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

chore(example): wrap navigators with TrueSheetProvider
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  example/bare/src/navigators/ModalStackNavigator.tsx
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/navigators/TestStackNavigator.tsx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  example/shared/src/screens/StandardScreen.tsx
  example/shared/src/screens/TestScreen.tsx
Due: lint, prettier

chore: release 3.8.0-beta.5
  package.json
Due: none

docs: add overlays guide
  docs/docs/guides/overlays.mdx
Due: none

docs: add overlays guide (#474)
  docs/docs/guides/overlays.mdx
Due: none

chore: update changelog and agents instructions
  AGENTS.md
  CHANGELOG.md
Due: none

chore: release 3.8.0
  package.json
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix(web): correct event firing order and conditions
  src/TrueSheet.web.tsx
Due: lint, prettier

chore(example): group resize buttons in BasicSheet
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(web): correct event firing order and conditions (#478)
  CHANGELOG.md
  example/shared/src/components/sheets/BasicSheet.tsx
  src/TrueSheet.web.tsx
Due: lint, prettier

Revert "chore(example): wrap navigators with TrueSheetProvider"
  example/bare/src/navigators/ModalStackNavigator.tsx
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/navigators/TestStackNavigator.tsx
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  example/shared/src/screens/StandardScreen.tsx
  example/shared/src/screens/TestScreen.tsx
Due: lint, prettier

fix(web): collapse to lowest detent when not dismissible
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: add web limitation for react-native-screens detection
  docs/docs/guides/navigation.mdx
Due: none

docs: add web limitation for react-native-screens detection (#480)
  CHANGELOG.md
  docs/docs/guides/navigation.mdx
Due: none

fix(web): collapse to lowest detent when not dismissible (#479)
  CHANGELOG.md
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.8.1
  package.json
Due: none

fix(ios): clear stale ScrollView reference when content changes
  CHANGELOG.md
  ios/TrueSheetContentView.mm
Due: none

fix(ios): clear stale ScrollView reference when content changes (#482)
  CHANGELOG.md
  ios/TrueSheetContentView.mm
Due: none

fix(android): preserve grabber when background color changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

fix(android): preserve grabber when background color changes (#488)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

chore: release 3.8.2
  package.json
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
