Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(ios): simplify background setup and support blur + color (#423)
  CHANGELOG.md
  example/shared/src/components/sheets/BasicSheet.tsx
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetBlurView.mm
Due: lint, prettier

fix(ios): footer keyboard handling with scrollview dismiss
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

docs: update changelog for #424
  CHANGELOG.md
Due: none

fix(ios): footer keyboard handling with scrollview dismiss (#424)
  CHANGELOG.md
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
Due: none

chore: remove CLAUDE.md symlink
  CLAUDE.md
Due: none

chore: release 3.7.4-beta.0
  package.json
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

docs: simplify AGENTS.md
  AGENTS.md
Due: none

fix(ios): respect content view padding/margin in scrollview pinning
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
  src/TrueSheet.tsx
Due: lint, prettier

refactor(ios): simplify delegate calls and scroll view pinning
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.mm
  ios/TrueSheetHeaderView.mm
  ios/TrueSheetViewController.mm
Due: none

chore: restore prompt sheet example
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

fix(ios): respect content view padding/margin in scrollview pinning (#429)
  CHANGELOG.md
  example/bare/ios/Podfile.lock
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetHeaderView.mm
  ios/TrueSheetViewController.mm
  ios/utils/LayoutUtil.h
  ios/utils/LayoutUtil.mm
  src/TrueSheet.tsx
Due: lint, prettier

chore: run tidy
  ios/TrueSheetContentView.mm
Due: none

chore: release 3.7.4-beta.1
  package.json
Due: none

feat(ios): add bottom inset to scrollview when insetAdjustment is automatic
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
Due: lint, prettier

feat(android): add bottom inset to scrollview when insetAdjustment is automatic
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
Due: none

fix(android): remove test code
  src/TrueSheet.tsx
Due: lint, prettier

chore: release 3.7.4-beta.2
  package.json
Due: none

feat: add bottom inset to scrollview when insetAdjustment is automatic (#430)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
Due: lint, prettier

feat(ios): adjust scrollview inset when keyboard appears
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
Due: lint, prettier

feat(ios): add scrollableOptions with keyboardScrollOffset
  example/bare/ios/Podfile.lock
  example/shared/src/components/Footer.tsx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetContentView.h
  ios/TrueSheetContentView.mm
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat(android): add scrollableOptions with keyboardScrollOffset
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

fix(android): pass scrollableOptions to container view
  android/src/main/java/com/lodev09/truesheet/TrueSheetContainerView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

docs: add gesture handler troubleshooting for Android
  docs/docs/troubleshooting.mdx
Due: none

chore(android): fix android lint warnings
  android/src/main/java/com/lodev09/truesheet/TrueSheetPackage.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  example/bare/ios/Podfile.lock
Due: none

docs: require RN 0.80+, add compatibility table
  README.md
  docs/docs/install.mdx
  docs/docs/troubleshooting.mdx
Due: none

feat(android): use EventDispatcherListener for screen events
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensEventObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

fix(android): inherit presenter screen tag for stacked sheets
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensEventObserver.kt
Due: none

refactor(android): use EventDispatcherListener for screen events (#438)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensEventObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix(android): restore screen event observer state handling
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/ModalScreen.tsx
Due: lint, prettier

fix(android): resolve present promise on resize
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor: separate present and resize methods
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
Due: lint, prettier

refactor: separate present and resize methods (#441)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetView.mm
  src/TrueSheet.tsx
Due: lint, prettier

chore: tidy code
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensEventObserver.kt
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContentView.mm
Due: lint, prettier
