Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

fix(android): scope disallow-intercept swallow to EditText
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/sheets/GestureSheet.tsx
Due: lint, prettier

docs: update changelog
  CHANGELOG.md
Due: none

fix(Android): dragging over TextInput (#712)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetFooterView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/sheets/GestureSheet.tsx
Due: lint, prettier

feat(android): no-op setBackgroundGlass stub for iOS-only prop
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
Due: none

docs: add changelog entry for backgroundGlass prop
  CHANGELOG.md
Due: none

docs: note Expo precompiled modules drop the react-native-screens patch on EAS
  docs/docs/guides/navigation.mdx
  docs/docs/migration.mdx
  docs/docs/troubleshooting.mdx
Due: none

docs: add changelog entry for Expo precompiled modules note
  CHANGELOG.md
Due: none

docs: note Expo precompiled modules drop the react-native-screens patch on EAS (#715)
  CHANGELOG.md
  docs/docs/guides/navigation.mdx
  docs/docs/migration.mdx
  docs/docs/troubleshooting.mdx
Due: none

feat: footerOptions.keyboardOffset
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

docs: changelog and docs
  CHANGELOG.md
  docs/docs/guides/footer.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
Due: none

chore: example in PromptSheet
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

chore: match paddingBottom to padding: SPACING
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

refactor: make footerOptions.keyboardOffset additive
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetFooterView.mm
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat: add scroll edge effect to scrollable
  example/shared/src/components/sheets/PromptSheet.tsx
Due: lint, prettier

feat: reposition footer live when keyboardOffset changes
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
Due: none

feat: add footerOptions.keyboardOffset (#716)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/docs/guides/footer.mdx
  docs/docs/guides/keyboard.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  example/shared/src/components/sheets/PromptSheet.tsx
  ios/TrueSheetContainerView.h
  ios/TrueSheetContainerView.mm
  ios/TrueSheetFooterView.h
  ios/TrueSheetFooterView.mm
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: remove release-it changelog plugin
  package.json
Due: none

chore: stage untracked files in release-it
  package.json
Due: none

feat: drag sheet closed with iOS back-swipe gesture
  example/shared/src/screens/TestScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/RNScreensEventObserver.h
  ios/core/RNScreensEventObserver.mm
Due: lint, prettier

feat: emit sheet position during iOS back-swipe dismiss
  ios/TrueSheetViewController.mm
Due: none

fix: guard iOS back-swipe against re-swipe during settle
  ios/TrueSheetViewController.mm
  ios/core/RNScreensEventObserver.mm
Due: none

fix(android): let back propagate when sheet is not dismissible
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  src/TrueSheet.tsx
Due: lint, prettier

docs: changelog for #719; demo non-dismissible sheet
  CHANGELOG.md
  example/shared/src/screens/TestScreen.tsx
Due: lint, prettier

chore: run tidy
  ios/TrueSheetViewController.mm
Due: none

feat: interactive back-swipe (iOS) and back propagation when not dismissible (Android) (#719)
  CHANGELOG.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/TestScreen.tsx
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.h
  ios/TrueSheetViewController.mm
  ios/core/RNScreensEventObserver.h
  ios/core/RNScreensEventObserver.mm
  src/TrueSheet.tsx
Due: lint, prettier

fix(ci): bump cocoapods to 1.16.2 for ruby 3.4 compat
  example/bare/Gemfile
  example/bare/Gemfile.lock
Due: none

fix(ios): guard scroll-edge interaction behind iOS 26 SDK check
  ios/utils/UIView+ScrollEdgeInteraction.mm
Due: none

docs: add changelog entry for #721
  CHANGELOG.md
Due: none

fix(ios): guard scroll-edge interaction behind iOS 26 SDK check (#721)
  CHANGELOG.md
  ios/utils/UIView+ScrollEdgeInteraction.mm
Due: none

feat: scroll to input's caret and when user types
  android/src/main/java/com/lodev09/truesheet/TrueSheetContentView.kt
  ios/TrueSheetContentView.mm
Due: none

fix(web): don't float form sheet on mobile portrait when not detached
  src/TrueSheet.web.tsx
Due: lint, prettier

docs: changelog for #724
  CHANGELOG.md
Due: none

fix(web): don't float form sheet on mobile portrait when not detached (#724)
  CHANGELOG.md
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.11.3
  CHANGELOG.md
  docs/versioned_docs/version-3.11.3/guides/_category_.json
  docs/versioned_docs/version-3.11.3/guides/assets/dimming.gif
  docs/versioned_docs/version-3.11.3/guides/assets/keyboard.gif
  docs/versioned_docs/version-3.11.3/guides/assets/navigation.gif
  docs/versioned_docs/version-3.11.3/guides/assets/onmount.gif
  docs/versioned_docs/version-3.11.3/guides/assets/reanimated.gif
  docs/versioned_docs/version-3.11.3/guides/assets/resizing.gif
  docs/versioned_docs/version-3.11.3/guides/assets/scrolling.gif
  docs/versioned_docs/version-3.11.3/guides/assets/stacking.gif
  docs/versioned_docs/version-3.11.3/guides/dimming.mdx
  docs/versioned_docs/version-3.11.3/guides/edge-to-edge.mdx
  docs/versioned_docs/version-3.11.3/guides/footer.mdx
  docs/versioned_docs/version-3.11.3/guides/global-methods.mdx
  docs/versioned_docs/version-3.11.3/guides/header.mdx
  docs/versioned_docs/version-3.11.3/guides/jest.mdx
  docs/versioned_docs/version-3.11.3/guides/keyboard.mdx
  docs/versioned_docs/version-3.11.3/guides/liquid-glass.mdx
  docs/versioned_docs/version-3.11.3/guides/navigation.mdx
  docs/versioned_docs/version-3.11.3/guides/onmount.mdx
  docs/versioned_docs/version-3.11.3/guides/overlays.mdx
  docs/versioned_docs/version-3.11.3/guides/reanimated.mdx
  docs/versioned_docs/version-3.11.3/guides/resizing.mdx
  docs/versioned_docs/version-3.11.3/guides/scrolling.mdx
  docs/versioned_docs/version-3.11.3/guides/side-sheets.mdx
  docs/versioned_docs/version-3.11.3/guides/stacking.mdx
  docs/versioned_docs/version-3.11.3/guides/web.mdx
  docs/versioned_docs/version-3.11.3/install.mdx
  docs/versioned_docs/version-3.11.3/intro.mdx
  docs/versioned_docs/version-3.11.3/migration.mdx
  docs/versioned_docs/version-3.11.3/reference/01-configuration.mdx
  docs/versioned_docs/version-3.11.3/reference/02-events.mdx
  docs/versioned_docs/version-3.11.3/reference/03-methods.mdx
  docs/versioned_docs/version-3.11.3/reference/04-types.mdx
  docs/versioned_docs/version-3.11.3/reference/_category_.json
  docs/versioned_docs/version-3.11.3/troubleshooting.mdx
  docs/versioned_docs/version-3.11.3/usage.mdx
  docs/versioned_sidebars/version-3.11.3-sidebars.json
  docs/versions.json
  package.json
Due: none

docs: add tracer bullets skill
  README.md
  docs/docs/usage.mdx
  skills/tracer-bullets/SKILL.md
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
