Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: add expo-example workspace with SDK 54
  expo-example/.gitignore
  expo-example/app.json
  expo-example/app/(tabs)/_layout.tsx
  expo-example/app/(tabs)/index.tsx
  expo-example/app/(tabs)/two.tsx
  expo-example/app/+html.tsx
  expo-example/app/+not-found.tsx
  expo-example/app/_layout.tsx
  expo-example/app/modal.tsx
  expo-example/assets/fonts/SpaceMono-Regular.ttf
  expo-example/assets/images/adaptive-icon.png
  expo-example/assets/images/favicon.png
  expo-example/assets/images/icon.png
  expo-example/assets/images/splash-icon.png
  expo-example/components/EditScreenInfo.tsx
  expo-example/components/ExternalLink.tsx
  expo-example/components/StyledText.tsx
  expo-example/components/Themed.tsx
  expo-example/components/__tests__/StyledText-test.js
  expo-example/components/useClientOnlyValue.ts
  expo-example/components/useClientOnlyValue.web.ts
  expo-example/components/useColorScheme.ts
  expo-example/components/useColorScheme.web.ts
  expo-example/constants/Colors.ts
  expo-example/metro.config.js
  expo-example/package.json
  expo-example/tsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Due: lint, types, prettier

fix: use relative imports and fix metro config for expo-example
  expo-example/app/(tabs)/_layout.tsx
  expo-example/app/(tabs)/index.tsx
  expo-example/app/(tabs)/two.tsx
  expo-example/app/+not-found.tsx
  expo-example/app/_layout.tsx
  expo-example/app/modal.tsx
  expo-example/components/EditScreenInfo.tsx
  expo-example/components/ExternalLink.tsx
  expo-example/components/StyledText.tsx
  expo-example/components/Themed.tsx
  expo-example/components/useClientOnlyValue.ts
  expo-example/metro.config.js
  expo-example/tsconfig.json
  tsconfig.json
Due: lint, types, prettier

feat(expo-example): add native tabs and TrueSheet demo with stacking
  eslint.config.mjs
  expo-example/app.json
  expo-example/app/(tabs)/_layout.tsx
  expo-example/app/(tabs)/index.tsx
  expo-example/components/EditScreenInfo.tsx
  expo-example/components/StyledText.tsx
Due: lint, prettier

feat(web): add web support with TrueSheetProvider and useTrueSheet hook
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
  src/index.ts
Due: lint, types, prettier

refactor: consolidate TrueSheetRef type and remove TrueSheetInstanceMethods
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, types, prettier

chore: add gorhom/bottom-sheet as peerDependency
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

feat(web): add gorhom/bottom-sheet as optional dependency and web guide
  docs/docs/guides/web.mdx
Due: none

chore: exclude expo-example
  package-lock.json
  tsconfig.build.json
Due: none

chore: update expo-example to use web
  expo-example/app/_layout.tsx
  expo-example/package.json
  expo-example/tsconfig.json
  yarn.lock
Due: lint, prettier

docs: add demo gif
  docs/docs/guides/web/web.gif
  docs/docs/guides/web/web.mdx
  package.json
Due: none

feat(web): add reanimated support for web
  src/reanimated/ReanimatedTrueSheet.web.tsx
  src/reanimated/useReanimatedPositionChangeHandler.web.ts
Due: lint, types, prettier

chore: remove expo-example tests
  expo-example/components/__tests__/StyledText-test.js
Due: none

chore: disable npm publish
  package.json
Due: none

chore: release 3.3.0-beta.0
  package.json
Due: none

chore: add npm publish manually to release script
  package.json
Due: none

chore: generate yarn.lock
  yarn.lock
Due: none

chore: add reanimated and worklets resolution
  example/ios/Podfile.lock
  expo-example/package.json
  package.json
  yarn.lock
Due: none

feat(expo-example): add Map component and SheetStack with withLayoutContext
  expo-example/app/_layout.tsx
  expo-example/app/sheet-stack/_layout.tsx
  expo-example/app/sheet-stack/details.tsx
  expo-example/app/sheet-stack/index.tsx
  expo-example/app/sheet-stack/settings.tsx
  expo-example/src/components/Map.tsx
  expo-example/src/components/Map.web.tsx
  expo-example/src/components/index.ts
  expo-example/src/screens/MapScreen.tsx
Due: lint, types, prettier

chore: update config paths for examples folder reorganization
  .gitignore
  tsconfig.build.json
  turbo.json
Due: none

chore: move screen components to shared package
  example/bare/src/components/Map.tsx
  example/bare/src/components/index.ts
  example/bare/src/navigators/ModalStackNavigator.tsx
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/screens/ModalScreen.tsx
  example/bare/src/screens/StandardScreen.tsx
  example/bare/src/screens/index.ts
  example/expo/app/index.tsx
  example/expo/app/modal.tsx
  example/expo/app/standard.tsx
  example/expo/app/test.tsx
  example/expo/src/screens/MapScreen.tsx
  example/expo/src/screens/TestScreen.tsx
  example/expo/src/screens/index.ts
  example/shared/package.json
  example/shared/src/screens/MapScreen.tsx
  example/shared/src/screens/ModalScreen.tsx
  example/shared/src/screens/StandardScreen.tsx
  example/shared/src/screens/TestScreen.tsx
  example/shared/src/screens/index.ts
Due: lint, types, prettier

chore: import screens directly from @example/shared/screens
  example/bare/src/navigators/ModalStackNavigator.tsx
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/screens/index.ts
  example/expo/app/index.tsx
  example/expo/app/modal.tsx
  example/expo/app/standard.tsx
  example/expo/app/test.tsx
  example/expo/src/screens/index.ts
Due: lint, types, prettier

chore: import components and utils directly from @example/shared
  example/bare/src/components/ReanimatedExample.tsx
  example/bare/src/components/index.ts
  example/bare/src/navigators/RootNavigator.tsx
  example/bare/src/navigators/SheetNavigator.tsx
  example/bare/src/utils/index.ts
  example/expo/app/index.tsx
  example/expo/app/sheet-stack/_layout.tsx
  example/expo/app/sheet-stack/details.tsx
  example/expo/app/sheet-stack/index.tsx
  example/expo/app/sheet-stack/settings.tsx
  example/expo/src/components/Map.tsx
  example/expo/src/components/Map.web.tsx
  example/expo/src/components/index.ts
  example/expo/src/utils/index.ts
Due: lint, types, prettier

chore: remove unused sheets index files
  example/bare/src/components/sheets/index.ts
  example/expo/src/components/sheets/index.ts
Due: lint, types, prettier

chore: move Map component to shared package
  example/bare/src/components/Map.tsx
  example/bare/src/navigators/RootNavigator.tsx
  example/expo/app/index.tsx
  example/shared/package.json
  example/shared/src/components/Map.tsx
  example/shared/src/components/Map.web.tsx
  example/shared/src/components/index.ts
  yarn.lock
Due: lint, types, prettier

chore: remove unused constants folder from expo example
  example/expo/constants/Colors.ts
Due: lint, types, prettier

chore: remove unused ReanimatedExample component
  example/bare/src/components/ReanimatedExample.tsx
Due: lint, prettier

chore: update scripts for new example folder structure
  example/expo/app/modal.tsx
  scripts/clean.sh
Due: lint, prettier

chore: exclude example folder from jest test paths
  package.json
Due: none

chore: add expo prebuild step to clean script
  scripts/clean.sh
Due: none

fix: update config paths for new example folder structure
  example/bare/babel.config.js
  example/bare/ios/Podfile.lock
  example/bare/metro.config.js
  example/bare/react-native.config.js
  example/expo/metro.config.js
Due: none

chore: categorize steps in clean script
  scripts/clean.sh
Due: none

fix: use workspace:* for example dependencies
  example/bare/package.json
  example/expo/package.json
  scripts/clean.sh
  yarn.lock
Due: none

chore: pretty clean script
  scripts/clean.sh
Due: none

chore: remove tsconfig from example/shared
  example/shared/tsconfig.json
Due: none
