Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
    types:
      glob: "*.{ts,  tsx}"
      run: npx tsc
    prettier:
      glob: "*.{ts,tsx}"
      run: npx prettier --write {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: release 3.3.0-beta.3
  package.json
Due: none

fix(android): improve sheet stacking and modal visibility handling
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): hide all parent sheets taller than presenting sheet
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
Due: none

fix(android): add fast fade animation when hiding/showing sheet for RN Screens modals
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  android/src/main/res/anim/true_sheet_fade_in.xml
  android/src/main/res/anim/true_sheet_fade_out.xml
  android/src/main/res/values/styles.xml
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

chore: restore example
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): improve sheet stacking and modal visibility (#319)
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  android/src/main/res/anim/true_sheet_fade_in.xml
  android/src/main/res/anim/true_sheet_fade_out.xml
  android/src/main/res/values/styles.xml
Due: none

chore: release 3.3.0-beta.4
  package.json
Due: none

fix(web): fix scrollable for web
  src/TrueSheet.web.tsx
Due: lint, prettier

chore: release 3.3.0
  package.json
Due: none

fix(ios): prevent parent sheet footer from translating on keyboard show
  example/shared/src/components/Input.tsx
  ios/TrueSheetFooterView.mm
  ios/TrueSheetViewController.h
Due: lint, prettier

chore: release 3.3.1
  package.json
Due: none

fix(android): dismiss stacked sheets like iOS
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
Due: none

fix(android): fix dismiss animated
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

docs: update stacking docs
  docs/docs/guides/stacking/stacking.mdx
  docs/docs/reference/03-methods.mdx
  src/TrueSheet.types.ts
Due: lint, types, prettier

feat(example): add names to example sheets
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(web): dismiss stacked sheets like iOS
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, prettier

fix: batch dismiss behavior for stacked sheets (#322)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  docs/docs/guides/stacking/stacking.mdx
  docs/docs/reference/03-methods.mdx
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/components/sheets/GestureSheet.tsx
  example/shared/src/components/sheets/ScrollViewSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.types.ts
  src/TrueSheet.web.tsx
  src/TrueSheetProvider.web.tsx
Due: lint, types, prettier

chore: release 3.3.2
  package.json
Due: none

docs: update docs
  README.md
  docs/docusaurus.config.ts
  example/README.md
  example/expo/README.md
Due: lint, types, prettier

docs: add web checks to docs
  README.md
  docs/docs/guides/web.mdx
  docs/docs/intro.mdx
  docs/docs/reference/01-configuration.mdx
  docs/docs/reference/04-types.mdx
  docs/static/img/preview-web.gif
Due: none

docs: fix broken links, update features
  README.md
  docs/docs/intro.mdx
Due: none

fix: key window fallback for cold start and deep link handling (#321)
  ios/utils/WindowUtil.mm
  src/navigation/TrueSheetRouter.ts
Due: lint, types, prettier

fix: key window fallback for cold start and deep link handling (#323)
  ios/utils/WindowUtil.mm
  src/navigation/TrueSheetRouter.ts
Due: lint, types, prettier

fix(ios): remove old code
  ios/TrueSheetContainerView.mm
Due: none

chore: release 3.3.3
  package.json
Due: none

fix(types): remove JSDoc override from TrueSheet class
  src/TrueSheet.tsx
Due: lint, prettier

feat(android): adaptive grabber color based on light/dark mode
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
Due: none

feat: add adaptive option to grabber for light/dark mode support
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/intro.mdx
  docs/docs/reference/04-types.mdx
  example/bare/ios/Podfile.lock
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

feat: add adaptive grabber color for light/dark mode (#325)
  README.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
  docs/docs/intro.mdx
  docs/docs/reference/04-types.mdx
  example/bare/ios/Podfile.lock
  ios/TrueSheetView.mm
  ios/TrueSheetViewController.mm
  ios/core/TrueSheetGrabberView.h
  ios/core/TrueSheetGrabberView.mm
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
Due: lint, types, prettier

chore: run tidy
  ios/core/TrueSheetGrabberView.mm
Due: none

chore: release 3.3.4
  package.json
Due: none

fix(android): remove grabber shadow by using bringToFront instead of elevation
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetGrabberView.kt
Due: none

chore: release 3.3.5
  package.json
Due: none

Fix image tag formatting in README.md
  README.md
Due: none

Adjust image sizes in README.md
  README.md
Due: none

docs: update intro doc image sizes
  docs/docs/intro.mdx
Due: none

fix: revert grabber bringToFront
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): improve slide animations with natural spring-like motion
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/res/anim/true_sheet_slide_in.xml
  android/src/main/res/anim/true_sheet_slide_out.xml
Due: none

feat(android): translate parent sheet when stacking instead of hiding
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
Due: none
