Repository lodev09/react-native-true-sheet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, prettier

lint:
  run: npx eslint --fix {staged_files}

types:
  run: npx tsc

prettier:
  run: npx prettier --write {staged_files}

chore: release 3.5.0
  package.json
Due: none

fix(android): make sure halfExpandedRatio is between 0 and 1
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): fix initial present on older android versions
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetAnimator.kt
  android/src/main/res/values/styles.xml
Due: none

chore: release 3.5.1-beta.0
  package.json
Due: none

fix(android): restore original code
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

refactor(android): use BottomSheetDialogFragment instead of BottomSheetDialog
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
Due: none

fix(android): fix dialog fragment presentation issues
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): animate sheet on content size change
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
Due: none

fix(android): position footer during keyboard transitions
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(android): restore translationY animation for present
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetAnimator.kt
Due: none

fix(android): fix dismissible behavior and clean up onSlide
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
Due: none

refactor(android): use BottomSheetDialogFragment instead of BottomSheetDialog (#342)
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetAnimator.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
  example/shared/src/components/sheets/BasicSheet.tsx
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

chore: run tidy
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
Due: none

chore: release 3.5.1-beta.1
  package.json
Due: none

fix(android): fix translation on initialDetentIndex present
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): fix stacked sheet translation on dismiss
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
Due: none

chore: release 3.5.1-beta.2
  package.json
Due: none

fix(android): keep sheet at target position during non-animated present
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetAnimator.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

refactor(android): reduce redundant code in TrueSheetViewController
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): remove grabber hitbox causing touch issues - fixes #340
  src/TrueSheet.tsx
Due: lint, prettier

fix(android): use onSlide for footer positioning on API < 30
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

fix(android): animate dismiss on back button press
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
Due: none

fix(android): prevent sheet from reshowing when returning from background with rn-screens
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
Due: none

chore: run tidy
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetKeyboardObserver.kt
Due: none

chore: release 3.5.1-beta.3
  package.json
Due: none

docs: add planning doc
  ANDROID_ARCHITECTURE.md
Due: none

refactor(android): migrate from DialogFragment to CoordinatorLayout
  ANDROID_ARCHITECTURE.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetAnimator.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogFragment.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDialogObserver.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  android/src/main/res/anim/fast_fade_out.xml
  android/src/main/res/values/styles.xml
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): animate sheet on present using BottomSheetBehavior
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
Due: none

fix(android): animate sheet on present when not dismissible
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetDimView.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

refactor(android): simplify dismiss animation using ViewPropertyAnimator
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetAnimator.kt
Due: none

docs: update AGENTS.md with new Android architecture
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): prevent duplicate initial present on re-mount
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

fix(android): fix keyboard handling and parent sheet translation
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): prevent parent sheet layout reset when keyboard shows
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/Button.tsx
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

fix(android): preserve parent sheet translation during keyboard transitions
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetBottomSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetCoordinatorLayout.kt
  example/shared/src/components/Button.tsx
  example/shared/src/components/sheets/BasicSheet.tsx
Due: lint, prettier

refactor(android): rename TrueSheetDialogObserver to TrueSheetStackManager
  AGENTS.md
  android/src/main/java/com/lodev09/truesheet/TrueSheetModule.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/core/TrueSheetStackManager.kt
Due: none

refactor(android): remove edgeToEdgeFullScreen prop
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewManager.kt
  docs/blog/2025/release-3-0.mdx
  docs/docs/guides/edge-to-edge.mdx
  docs/docs/migration.mdx
  docs/docs/reference/01-configuration.mdx
  example/shared/src/components/sheets/FlatListSheet.tsx
  example/shared/src/screens/MapScreen.tsx
  src/TrueSheet.tsx
  src/TrueSheet.types.ts
  src/fabric/TrueSheetViewNativeComponent.ts
  src/navigation/types.ts
Due: lint, types, prettier

fix(android): prevent sheet from showing during navigation within modal
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/core/RNScreensFragmentObserver.kt
Due: none

fix(android): clamp detent heights to available screen space
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
Due: none

fix(android): post when initialDetentAnimated is false
  android/src/main/java/com/lodev09/truesheet/TrueSheetView.kt
  android/src/main/java/com/lodev09/truesheet/TrueSheetViewController.kt
  example/shared/src/screens/MapScreen.tsx
Due: lint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  types: any of: *.{ts,  tsx}
  prettier: any of: *.{ts,tsx}
